<div block="technology">
    <div elem="section">
        <div elem="main">
            <div elem="main-img"><img src="img/project/tech0.png" alt=""></div>
            <div elem="main-points">
                <a elem="main-point" mods="level-1" class="js-main-point" href="#level_1">Кровля</a>
                <a elem="main-point" mods="level-2" class="js-main-point" href="#level_2">Внутренние перегородки</a>
                <a elem="main-point" mods="level-3" class="js-main-point" href="#level_3">Наружные стены</a>
                <a elem="main-point" mods="level-4" class="js-main-point" href="#level_4">Межэтаные перекрытия</a>
                <a elem="main-point" mods="level-5" class="js-main-point" href="#level_5">Полы первого этажа</a>
                <a elem="main-point" mods="level-6" class="js-main-point" href="#level_6">Узлы</a>
            </div>
        </div>
        <div elem="explicitly">
            <div elem="items">
                <div elem="item" mods="level-1" id="level_1">
                    <div elem="view">
                        <div elem="explicitly-img"><img src="img/project/tech1.png" alt=""></div>
                        <div elem="explicitly-points">
                            <span elem="explicitly-point" mods="point-1" data-explicitlyPoint="point-1"><span>1</span></span>
                            <span elem="explicitly-point" mods="point-2" data-explicitlyPoint="point-2"><span>2</span></span>
                            <span elem="explicitly-point" mods="point-3" data-explicitlyPoint="point-3"><span>3</span></span>
                            <span elem="explicitly-point" mods="point-4" data-explicitlyPoint="point-4"><span>4</span></span>
                            <span elem="explicitly-point" mods="point-5" data-explicitlyPoint="point-5"><span>5</span></span>
                            <span elem="explicitly-point" mods="point-6" data-explicitlyPoint="point-6"><span>6</span></span>
                        </div>
                    </div>
                    <div elem="info">
                        <div elem="title">Полы первого этажа</div>
                        <div elem="list">
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-1">
                                <div elem="name">1. Настил пола</div>
                                <div elem="desc">Шпунтованная половая доска 27/36 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-2">
                                <div elem="name">2. Пароизоляция</div>
                                <div elem="desc">Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-3">
                                <div elem="name">3. Утеплитель</div>
                                <div elem="desc">Минеральная вата «KNAUF» / (100мм/150мм/200 мм)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-4">
                                <div elem="name">4. Лаги пола</div>
                                <div elem="desc">Доска 40х150 мм (40х200 мм)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-5">
                                <div elem="name">5. Гидроизоляция</div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">6. Черновой пол</div>
                                <div elem="desc">Доска 20х100 мм (естественной влажности)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item" mods="level-2" id="level_2">
                    <div elem="view">
                        <div elem="explicitly-img"><img src="img/project/tech2.png" alt=""></div>
                        <div elem="explicitly-points">
                            <span elem="explicitly-point" mods="point-1" data-explicitlyPoint="point-1"><span>1</span></span>
                            <span elem="explicitly-point" mods="point-2" data-explicitlyPoint="point-2"><span>2</span></span>
                            <span elem="explicitly-point" mods="point-3" data-explicitlyPoint="point-3"><span>3</span></span>
                            <span elem="explicitly-point" mods="point-4" data-explicitlyPoint="point-4"><span>4</span></span>
                            <span elem="explicitly-point" mods="point-5" data-explicitlyPoint="point-5"><span>5</span></span>
                            <span elem="explicitly-point" mods="point-6" data-explicitlyPoint="point-6"><span>6</span></span>
                        </div>
                    </div>
                    <div elem="info">
                        <div elem="title">Внутренняя отделка</div>
                        <div elem="list">
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-1">
                                <div elem="name">1. Внутренняя отделка</div>
                                <div elem="desc">Вагонка (камерной сушки)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-2">
                                <div elem="name">2. Пароизоляция</div>
                                <div elem="desc">Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-3">
                                <div elem="name">3. Стойки каркаса</div>
                                <div elem="desc">Доска 40х100мм/40х150мм/40х200мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-4">
                                <div elem="name">4. Утеплитель</div>
                                <div elem="desc">Базальтовый плитный «Rockwool» (100мм/150 мм/200мм)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-5">
                                <div elem="name">5. Наружная отделка</div>
                                <div elem="desc">Вагонка / имитация бруса хвойных пород (камерной сушки)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">6. Гидроизоляция</div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item" mods="level-3" id="level_3">
                    <div elem="view">
                        <div elem="explicitly-img"><img src="img/project/tech3.png" alt=""></div>
                        <div elem="explicitly-points">
                            <span elem="explicitly-point" mods="point-1" data-explicitlyPoint="point-1"><span>1</span></span>
                            <span elem="explicitly-point" mods="point-2" data-explicitlyPoint="point-2"><span>2</span></span>
                            <span elem="explicitly-point" mods="point-3" data-explicitlyPoint="point-3"><span>3</span></span>
                            <span elem="explicitly-point" mods="point-4" data-explicitlyPoint="point-4"><span>4</span></span>
                            <span elem="explicitly-point" mods="point-5" data-explicitlyPoint="point-5"><span>5</span></span>
                            <span elem="explicitly-point" mods="point-6" data-explicitlyPoint="point-6"><span>6</span></span>
                        </div>
                    </div>
                    <div elem="info">
                        <div elem="title">Межэтажное перекрытие</div>
                        <div elem="list">
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-1">
                                <div elem="name">1. Настил пола</div>
                                <div elem="desc">Шпунтованная половая доска 27/36 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-2">
                                <div elem="name">2. Пароизоляция</div>
                                <div elem="desc">Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-3">
                                <div elem="name">3. Утеплитель</div>
                                <div elem="desc">Минеральная вата «KNAUF» / (100мм/150мм/200 мм)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-4">
                                <div elem="name">4. Пароизоляция</div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-5">
                                <div elem="name">5. Межэтажная балка</div>
                                <div elem="desc">Доска 40х150 мм / 40х200 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">6. Отделка потолка 1 этажа </div>
                                <div elem="desc">Вагонка хвойных пород</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item" mods="level-4" id="level_4">
                    <div elem="view">
                        <div elem="explicitly-img"><img src="img/project/tech4.png" alt=""></div>
                        <div elem="explicitly-points">
                            <span elem="explicitly-point" mods="point-1" data-explicitlyPoint="point-1"><span>1</span></span>
                            <span elem="explicitly-point" mods="point-2" data-explicitlyPoint="point-2"><span>2</span></span>
                            <span elem="explicitly-point" mods="point-3" data-explicitlyPoint="point-3"><span>3</span></span>
                            <span elem="explicitly-point" mods="point-4" data-explicitlyPoint="point-4"><span>4</span></span>
                            <span elem="explicitly-point" mods="point-5" data-explicitlyPoint="point-5"><span>5</span></span>
                            <span elem="explicitly-point" mods="point-6" data-explicitlyPoint="point-6"><span>6</span></span>
                            <span elem="explicitly-point" mods="point-7" data-explicitlyPoint="point-7"><span>7</span></span>
                            <span elem="explicitly-point" mods="point-8" data-explicitlyPoint="point-8"><span>8</span></span>
                        </div>
                    </div>
                    <div elem="info">
                        <div elem="title">Наружные стены</div>
                        <div elem="list">
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-1">
                                <div elem="name">1. Наружная отделка</div>
                                <div elem="desc">Вагонка/имитация бруса хвойных пород (камерной сушки)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-2">
                                <div elem="name">2. Вентиляцион ный зазор </div>
                                <div elem="desc">Доска 20х50 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-3">
                                <div elem="name">3. Гидроизоляция</div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-4">
                                <div elem="name">4. Утеплитель</div>
                                <div elem="desc">Базальтовый плитный «Rockwool» (100мм/150 мм/200мм)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-5">
                                <div elem="name">5. Укосина</div>
                                <div elem="desc">Доска 40х100 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">6. Стойка каркаса</div>
                                <div elem="desc">Доска 40х100 мм/40х150мм/40х200 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">7. Пароизоляция</div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">8. Внутренняя отделка </div>
                                <div elem="desc">Вагонка (камерной сушки)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div elem="item" mods="level-5" id="level_5">
                    <div elem="view">
                        <div elem="explicitly-img"><img src="img/project/tech5.png" alt=""></div>
                        <div elem="explicitly-points">
                            <span elem="explicitly-point" mods="point-1" data-explicitlyPoint="point-1"><span>1</span></span>
                            <span elem="explicitly-point" mods="point-2" data-explicitlyPoint="point-2"><span>2</span></span>
                            <span elem="explicitly-point" mods="point-3" data-explicitlyPoint="point-3"><span>3</span></span>
                            <span elem="explicitly-point" mods="point-4" data-explicitlyPoint="point-4"><span>4</span></span>
                            <span elem="explicitly-point" mods="point-5" data-explicitlyPoint="point-5"><span>5</span></span>
                            <span elem="explicitly-point" mods="point-6" data-explicitlyPoint="point-6"><span>6</span></span>
                            <span elem="explicitly-point" mods="point-7" data-explicitlyPoint="point-7"><span>7</span></span>
                            <span elem="explicitly-point" mods="point-8" data-explicitlyPoint="point-8"><span>8</span></span>
                        </div>
                    </div>
                    <div elem="info">
                        <div elem="title">Кровля</div>
                        <div elem="list">
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-1">
                                <div elem="name">1. Кровельное покрытие</div>
                                <div elem="desc">Ондулин/металлочерепица/мягкая кровля</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-2">
                                <div elem="name">2. Обрешетка</div>
                                <div elem="desc">Доска 20х100мм / 20х150 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-3">
                                <div elem="name">3. Конт-рейка (вентиляционный зазор)</div>
                                <div elem="desc">Доска 20х40 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-4">
                                <div elem="name">4. Подкровельная мембрана </div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-5">
                                <div elem="name">5. Утеплитель</div>
                                <div elem="desc">Базальтовый плитный «Rockwool» (100/200 мм)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-6">
                                <div elem="name">6. Стропила </div>
                                <div elem="desc">Доска 40х150 мм / 40х200 мм</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-7">
                                <div elem="name">7. Пароизоляция</div>
                                <div elem="desc">«Ондутис» (или аналоги)</div>
                            </div>
                            <div elem="list-item" class="js-explicitly-list-item" data-explicitlyListItem="list-8">
                                <div elem="name">8. Внутренняя отделка </div>
                                <div elem="desc">Вагонка (камерной сушки)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="knots" id="level_6">
                <div elem="title">Узлы</div>
                <div elem="knots-items">
                    <div elem="knots-item">
                        <div elem="knots-img"><img src="img/project/tech6.jpg" alt=""></div>
                    </div>
                    <div elem="knots-item">
                        <div elem="knots-img"><img src="img/project/tech7.jpg" alt=""></div>
                    </div>
                    <div elem="knots-item">
                        <div elem="knots-img"><img src="img/project/tech8.jpg" alt=""></div>
                    </div>
                    <div elem="knots-item" mods="long">
                        <div elem="knots-img"><img src="img/project/tech9.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div><!-- technology -->