.technology

    &__main
        width 755px
        max-width 100%
        margin 0 auto
        position relative

        @media (max-width 767px)
            width 280px
            margin 0
    
    &__main-point
        font-size 15px
        color #FFF
        font-weight 500
        line-height 25px
        text-align center
        padding 0px 10px
        background-color #17181D
        border-radius 3px
        display inline-block
        vertical-align top
        transition background-color .3s
        position absolute
        &:hover
            color #FFF
            background-color #00ac78
            text-decoration none
            &:before
                background-image url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='5.5' stroke='%23fff' fill='%23fff'/%3E%3Ccircle cx='12' cy='12' r='8.5' stroke='%23fff'/%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='%23fff'/%3E%3C/svg%3E%0A")
        &:before
            content ''
            position absolute
            bottom 0 
            width 24px
            height 24px
            background-image url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='5.5' stroke='black'/%3E%3Ccircle cx='12' cy='12' r='8.5' stroke='%2317181D'/%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='%2317181D'/%3E%3C/svg%3E%0A")
            background-size contain
            background-repeat no-repeat
            transition background .3s

        &--level-1
            top 75px
            left 190px
            &:before
                bottom -30px
                left 25px

            @media (max-width 767px)
                top -5px
                left 55px

        &--level-2
            top 110px
            left 410px
            &:before
                bottom -30px
                left 25px
                @media (max-width 767px)
                    left 105px

            @media (max-width 767px)
                top 55px
                left 10px

        &--level-3
            top 220px
            right 0
            &:before
                bottom -30px
                left 25px

                @media (max-width 767px)
                    right -30px
                    bottom -5px
                    left auto

            @media (max-width 767px)
                top 155px
                right 80px        

        &--level-4
            top 275px
            right 190px
            &:before
                bottom -30px
                left 115px   

                @media (max-width 767px)
                    bottom 30px
                    left 110px

            @media (max-width 767px)
                top 125px
                right 5px       

        &--level-5
            bottom 195px
            left 210px
            &:before
                bottom -30px
                left 25px  

                @media (max-width 767px)
                    bottom 35px
                    left 85px   

            @media (max-width 767px)    
                bottom -10px
                left 10px

        &--level-6
            bottom 125px
            left 320px
            &:before
                bottom -20px
                left -30px

                @media (max-width 767px)  
                    bottom 15px
            
            @media (max-width 767px)  
                bottom 10px
                left 195px

    &__main-img

        @media (max-width 767px)
            width 280px
            // margin 0 auto

    &__item
        display flex
        justify-content space-between
        padding-top 70px
        margin-top 70px
        border-top 1px solid rgba(0, 0, 0, 0.2)

        @media (max-width 1360px)
            display block
            padding-top 35px
            margin-top 35px

        &--level-1

            & ^[0]

                &__explicitly-point

                    &--point-1
                        top -5px
                        right 305px     

                        @media (max-width 767px)
                            top -15px
                            right 150px

                    &--point-2
                        bottom 275px
                        right 180px 

                        @media (max-width 767px)     
                            bottom 60px

                    &--point-3
                        bottom 200px
                        right 315px 

                        @media (max-width 767px)     
                            bottom 95px
                            right 105px

                    &--point-4
                        bottom 195px
                        right 150px     

                        @media (max-width 767px)     
                            bottom 90px
                            right 65px

                    &--point-5
                        bottom 125px
                        left 215px   

                    &--point-6
                        bottom 150px
                        right 250px     

                        @media (max-width 767px)     
                            bottom 55px 
                            right 150px

        &--level-2

            & ^[0]

                &__explicitly-img
                    width 320px
                    margin 0 auto

                &__explicitly-point

                    &--point-1
                        top 15px
                        left 240px

                        @media (max-width 767px)
                            top 20px
                            left 230px 

                    &--point-2
                        top 50px
                        left 340px      

                        @media (max-width 767px)
                            top 40px
                            left 125px

                    &--point-3
                        top 20px
                        right 200px 

                        @media (max-width 767px)
                            right 250px

                    &--point-4
                        top 85px
                        left 245px    

                        @media (max-width 767px)
                            top 60px
                            left 190px

                    &--point-5
                        bottom 210px
                        right 260px   

                        @media (max-width 767px)
                            bottom 170px
                            right 60px

                    &--point-6
                        top 110px
                        right 220px 

                        @media (max-width 767px)
                            right 170px

        &--level-3

            & ^[0]

                &__explicitly-point                

                    &--point-1
                        top 55px
                        right 340px     

                        @media (max-width 767px)
                            top 45px
                            right 20px

                    &--point-2
                        bottom 190px
                        left 150px      

                        @media (max-width 767px)
                            bottom 85px
                            left 165px

                    &--point-3
                        bottom 265px
                        right 120px 

                        @media (max-width 767px)
                            bottom 75px
                            right 180px

                    &--point-4
                        bottom 175px
                        right 280px     

                        @media (max-width 767px)
                            bottom 110px
                            right 110px

                    &--point-5
                        bottom 65px
                        left 130px   

                    &--point-6
                        bottom 60px
                        left 225px  

                        @media (max-width 767px)
                            bottom 140px
                            left 90px

        &--level-4

            & ^[0]

                &__explicitly-img
                    width 460px
                    margin 0 auto

                &__explicitly-point

                    &--point-1
                        bottom 350px
                        right 175px     

                        @media (max-width 767px)
                            bottom 150px

                    &--point-2
                        top 240px
                        left 170px      

                        @media (max-width 767px)
                            top 120px
                            left 25px

                    &--point-3
                        top 205px
                        left 355px

                        @media (max-width 767px)
                            top 100px
                            left 135px

                    &--point-4
                        top 140px
                        left 335px    

                        @media (max-width 767px)
                            top 70px
                            left 55px

                    &--point-5
                        top 15px
                        right 165px  

                        @media (max-width 767px)
                            right 30px

                    &--point-6
                        top 70px
                        right 280px

                        @media (max-width 767px)
                            top 20px
                            right 100px

                    &--point-7
                        top 100px
                        left 210px

                        @media (max-width 767px)
                            top 40px
                            left 120px

                    &--point-8
                        top 45px
                        left 330px

                        @media (max-width 767px)
                            top 15px
                            left 40px

        &--level-5

            & ^[0]

                &__explicitly-point

                    &--point-1
                        top 130px
                        left 295px

                        @media (max-width 767px)
                            top 5px
                            left 165px

                    &--point-2
                        bottom 385px
                        right 135px 

                        @media (max-width 767px)
                            bottom 165px
                            right 35px

                    &--point-3
                        bottom 235px
                        left 115px

                        @media (max-width 767px)
                            bottom 105px
                            left 35px

                    &--point-4
                        bottom 210px
                        right 225px 

                        @media (max-width 767px)
                            bottom 100px
                            right 90px

                    &--point-5
                        bottom 325px
                        right 90px  

                        @media (max-width 767px)
                            bottom 100px
                            right 160px

                    &--point-6
                        bottom 205px
                        left 340px

                        @media (max-width 767px)
                            bottom 130px
                            left 255px

                    &--point-7
                        top 295px
                        right 265px  

                        @media (max-width 767px)
                            top 95px
                            right 120px

                    &--point-8
                        bottom 155px
                        right 185px            

                        @media (max-width 767px)
                            bottom 40px
                            right 175px    

    &__view
        flex 0 0 710px
        width 710px
        max-width 710px
        position relative
        align-self flex-start
        margin-top 40px

        @media (max-width 1360px)
            margin-bottom 30px

        @media (max-width 767px)
            width 280px
            max-width 100%    
    
    &__explicitly-img

        @media (max-width 767px)
            width 280px !important
            max-width 100% !important     
            margin 0 !important  

    &__explicitly-point
        position absolute

        span 
            font-size 15px
            color #FFF
            font-weight 500
            line-height 25px
            text-align center
            padding 0 10px 
            background-color #00ac78
            border-radius 3px
            display inline-block
            vertical-align top
            transition background-color .3s
            opacity 0
            transition opacity .3s
            &:after
                content ''
                position absolute
                bottom -5px
                left 50%
                transform translateX(-50%)
                width 0
                height 0
                border-style solid
                border-width 5px 5.5px 0 5.5px
                border-color #00ac78 transparent transparent transparent

        &.is-active-explicitly-point
            span 
                opacity 1            

            &:before
                background-image url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='5.5' stroke='%23fff' fill='%23fff'/%3E%3Ccircle cx='12' cy='12' r='8.5' stroke='%23fff'/%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='%23fff'/%3E%3C/svg%3E%0A")
        &:before
            content ''
            position absolute
            bottom -32px
            left 50%
            transform translateX(-50%) 
            width 24px
            height 24px
            background-image url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='5.5' stroke='black'/%3E%3Ccircle cx='12' cy='12' r='8.5' stroke='%2317181D'/%3E%3Ccircle cx='12' cy='12' r='11.5' stroke='%2317181D'/%3E%3C/svg%3E%0A")
            background-size contain
            background-repeat no-repeat
            transition background .3s 

    &__info
        width 600px
        max-width 100%        

        @media (max-width 1440px)
            width 350px

        @media (max-width 1360px)
            width 640px    

    &__title
        font-size 24px
        color #000       
        font-weight 500
        line-height 35px
        padding-left 20px
        margin-bottom 10px

        @media (max-width 1023px)
            font-size 18px
            line-height 26px

    &__list-item
        width 550px
        max-width 100%
        padding 10px 20px    
        margin-bottom 10px
        transition background-color .3s
        cursor pointer
        &:hover
            background-color #00ac78

            & ^[0]

                &__name,
                &__desc
                    color #fff

        &.is-active-explicitly-list-item
            background-color #00ac78

            & ^[0]

                &__name,
                &__desc
                    color #fff

        &:last-child
            margin-bottom 0

    &__name
        font-size 18px
        color #000 
        font-weight 500
        line-height 28px
        margin-bottom 5px
        transition color .3s

        @media (max-width 1440px)
            font-size 16px
            line-height 26px

    &__desc
        font-size 18px
        color #808080
        font-weight 500
        line-height 28px
        transition color .3s

        @media (max-width 1440px)
            font-size 16px
            line-height 26px

    &__knots
        padding-top 70px
        margin-top 70px
        border-top 1px solid rgba(0, 0, 0, 0.2)

        @media (max-width 767px)
            padding-top 40px
            margin-top 40px

        & ^[0]

            &__title
                text-align center    
                margin-bottom 20px

    &__knots-items
        display flex
        align-items center
        justify-content space-between            

        @media (max-width 767px)
            display block
    
    &__knots-item

        @media (min-width 1770px)
            flex 0 0 245px
            width 245px
            max-width 245px 

        @media (max-width 767px)
            width 480px
            max-width 100%    

        &--long

            @media (min-width 1770px)
                flex 0 0 570px
                width 570px
                max-width 570px 