<div block="inner-page-text">
    <div elem="section" class="contain">
        <p>Мы самостоятельно занимаемся производством и подготовкой древесины для постройки, используя для этого современное оборудование, что существенно снижает цену строительных материалов</p>
        <h2>Заголовок второго уровня</h2>
        <ul>
            <li>Мы самостоятельно занимаемся производством и подготовкой древесины для постройки, используя для этого современное оборудование, что существенно снижает цену строительных материало</li>
            <li>Мы самостоятельно осуществляем доставку и разгрузку на объекте в Москве или Подмосковье</li>
            <li>Мы сами выполняем закупку всех сопутствующих материалов</li>
        </ul>
        <figure>
            <p><img src="img/2.jpg" alt="" /></p>
            <figcaption>Подпись к картинке</figcaption>
        </figure>
        <p>Дома из дерева строятся со времен зарождения человеческой цивилизации и домостроения. Легно (leqno с латинского буквально - древесина) ещё в древнем Риме означало ценные породы дерева пригодных для строительства. Домус (domus с латинского - дом, жилище) это уют и атмосфера домашнего тепла. Компания ЛегноДомус воплощение экологичного и качественного строительства из древесины российского производства для душевного и уютного дома, отражающего индивидуальность и характер жильцов.</p>
        <p><strong>LegnoDomus</strong> - компания с 13-ти <a href="#">летней историей</a>, и мы успешно пережили все кризисы последних лет благодаря тому, что как и в начале своего пути, итак и сейчас  основным приоритетом в работе  для нас является наша репутация и бережное отношение к кадрам.</p>
        <br>
        <h3>Заголовок третьего уровня</h3>
        <div elem="imgs">
            <p><img src="img/1.jpg" alt=""></p>
            <p><img src="img/2.jpg" alt=""></p>
            <p><img src="img/3.jpg" alt=""></p>
            <p><img src="img/4.jpg" alt=""></p>
            <p><img src="img/5.jpg" alt=""></p>
            <p><img src="img/1.jpg" alt=""></p>
            <p><img src="img/2.jpg" alt=""></p>
            <p><img src="img/3.jpg" alt=""></p>
            <p><img src="img/4.jpg" alt=""></p>
            <p><img src="img/5.jpg" alt=""></p>
        </div>
        <p>Дома из дерева строятся со времен зарождения человеческой цивилизации и домостроения. Легно (leqno с латинского буквально - древесина) ещё в древнем Риме означало ценные породы дерева пригодных для строительства. Домус (domus с латинского - дом, жилище) это уют и атмосфера домашнего тепла. Компания ЛегноДомус воплощение экологичного и качественного строительства из древесины российского производства для душевного и уютного дома, отражающего индивидуальность и характер жильцов.</p>
    </div>
</div><!-- inner-page-text -->