.inner-page-text
    padding-bottom 80px
    margin-top 30px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    @media (max-width 767px)
        padding-bottom 20px

    p
        font-size 18px
        color #000
        font-weight normal
        line-height 28px

        @media (max-width 767px)
            font-size 16px
            line-height 26px

    ul
        list-style-type none
        padding-left 0
        margin-bottom 45px

        li
            font-size 18px
            color #000
            font-weight normal
            line-height 28px
            position relative
            padding-left 23px
            margin-bottom 15px
            &:before
                content ''    
                position absolute
                left 0
                top 8px
                width 10px
                height 10px
                border 3px solid #000
                border-radius 50%

            @media (max-width 767px)
                font-size 16px
                line-height 26px    

    figure
        font-size 15px
        color #000
        line-height 28px
        margin-bottom 30px

        img
            margin-bottom 10px

        p
            margin-bottom 0

    a
        color #20b689
        text-decoration underline
        &:hover
            text-decoration none                     

    &__imgs
        margin-left -30px

        @media (max-width 960px)
            margin-left -15px

        p
            width 260px
            font-size 0
            display inline-block
            vertical-align top
            padding-left 30px
            margin-bottom 30px

            @media (max-width 960px)
                padding-left 15px
                margin-bottom 15px

            @media (max-width 550px)
                display block
                width 100%
