.filter
    border-bottom 1px solid rgba(0, 0, 0, 0.2)
    margin-bottom 30px

    @media (max-width 639px)
        border-top 1px solid rgba(0, 0, 0, 0.2)
        padding-top 20px
        padding-bottom 20px

    &__section

        @media (max-width 1599px)
            padding-right 20px
            padding-left 20px

    &__title
        font-size 20px
        color #000
        font-weight 500
        line-height 25px
        padding-left 35px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 22px
            height 23px
            background-image url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.846 23C12.6817 23 12.517 22.9555 12.3712 22.8669L8.67906 20.623C8.40104 20.4543 8.23084 20.1495 8.23084 19.8211V12.9249L0.171688 1.47761C-0.029163 1.19263 -0.0557469 0.817902 0.102276 0.506748C0.260298 0.195593 0.577082 0 0.923033 0H21.0768C21.4228 0 21.7392 0.195593 21.8976 0.506748C22.056 0.817902 22.029 1.19263 21.8282 1.47761L13.769 12.9249V22.065C13.769 22.4016 13.5903 22.7124 13.3005 22.8788C13.1598 22.9596 13.0029 23 12.846 23ZM10.0769 19.292L11.923 20.4139V12.6257C11.923 12.4308 11.9828 12.2412 12.0946 12.083L19.2847 1.86992H2.71519L9.90558 12.083C10.0175 12.2412 10.0773 12.4312 10.0773 12.6257V19.292H10.0769Z' fill='black'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain

        @media (min-width 640px)
            display none

    &__items
        display flex
        justify-content space-between

        @media (max-width 1360px)
            flex-wrap wrap

        @media (max-width 639px)
            display none
            margin-top 25px

    &__item
        border 1px solid rgba(0, 0, 0, 0.2)
        border-radius 3px
        background-color #FFF
        margin-right 30px
        margin-bottom 30px
        flex 0 0 215px
        width 215px
        max-width 215px
        align-self flex-start
        position relative

        @media (max-width 1919px)
            margin-right 5px
            flex 0 0 210px
            width 210px
            max-width 210px

        @media (max-width 639px)
            flex 0 0 100%
            width 100%
            max-width 100%
            margin-right 0
            margin-bottom 15px

    &__name
        font-size 15px
        color #000
        font-weight 500
        line-height 20px
        padding 15px
        cursor pointer
        position relative
        &:after
            content ''
            position absolute
            top 23px
            right 13px
            width 12px
            height 10px
            background-image url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.707107' y1='1.29289' x2='9.70711' y2='10.2929' stroke='black' stroke-width='2'/%3E%3Cline x1='19.7071' y1='1.70711' x2='9.70711' y2='11.7071' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain
            transition transform .3s
        &.is-active-filter-name
            &:after
                top 21px
                transform rotate(180deg)

    &__check-items
        position absolute
        top 100%
        left -1px
        width 215px
        display none
        background-color #FFF
        border-radius 0 0 3px 3px
        border-right 1px solid rgba(0, 0, 0, 0.2)
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
        border-left 1px solid rgba(0, 0, 0, 0.2)
        z-index 5

        @media (max-width 1900px)
            width 210px

        @media (max-width 639px)
            width 100%
            position static
            border none

    &__check-item
        font-size 15px
        color #000
        font-weight 500
        line-height 20px
        display flex
        align-items center
        padding 15px
        margin-bottom 0
        border-top 1px solid rgba(0, 0, 0, 0.2)
        cursor pointer
        transition background-color
        &:hover
            background-color rgba(0, 0, 0, 0.1)

    &__btn-submit
        align-self flex-start

        @media (min-width 640px) and (max-width 1440px)
            margin-bottom 30px

        &.btn-default
            min-width auto
            width 215px
            padding-top 17px
            padding-bottom 17px

            @media (max-width 639px)
                width 100%
