<div block="filter">
    <div elem="section" class="contain">
        <form elem="form">
            <div elem="title" class="js-filter-title">Фильтр проектов</div>
            <div elem="items">
                <div elem="item">
                    <div elem="name" class="js-filter-name">Серия</div>
                    <div elem="check-items" class="js-check-items">
                        <label elem="check-item"><input type="checkbox">Двухэтажный</label>
                        <label elem="check-item"><input type="checkbox">Мансардный</label>
                        <label elem="check-item"><input type="checkbox">Одноэтажный</label>
                        <label elem="check-item"><input type="checkbox">Полутораэтажный</label>
                    </div>
                </div>
                <div elem="item">
                    <div elem="name" class="js-filter-name">Размер</div>
                    <div elem="check-items" class="js-check-items">
                        <label elem="check-item"><input type="checkbox">Двухэтажный</label>
                        <label elem="check-item"><input type="checkbox">Мансардный</label>
                        <label elem="check-item"><input type="checkbox">Одноэтажный</label>
                        <label elem="check-item"><input type="checkbox">Полутораэтажный</label>
                    </div>
                </div>
                <div elem="item">
                    <div elem="name" class="js-filter-name">Комнат</div>
                    <div elem="check-items" class="js-check-items">
                        <label elem="check-item"><input type="checkbox">Двухэтажный</label>
                        <label elem="check-item"><input type="checkbox">Мансардный</label>
                        <label elem="check-item"><input type="checkbox">Одноэтажный</label>
                        <label elem="check-item"><input type="checkbox">Полутораэтажный</label>
                    </div>
                </div>
                <div elem="item">
                    <div elem="name" class="js-filter-name">Цена</div>
                    <div elem="check-items" class="js-check-items">
                        <label elem="check-item"><input type="checkbox">Двухэтажный</label>
                        <label elem="check-item"><input type="checkbox">Мансардный</label>
                        <label elem="check-item"><input type="checkbox">Одноэтажный</label>
                        <label elem="check-item"><input type="checkbox">Полутораэтажный</label>
                    </div>
                </div>
                <div elem="item">
                    <div elem="name" class="js-filter-name">Дополнительно</div>
                    <div elem="check-items" class="js-check-items">
                        <label elem="check-item"><input type="checkbox">Двухэтажный</label>
                        <label elem="check-item"><input type="checkbox">Мансардный</label>
                        <label elem="check-item"><input type="checkbox">Одноэтажный</label>
                        <label elem="check-item"><input type="checkbox">Полутораэтажный</label>
                    </div>
                </div>
                <input elem="btn-submit" class="btn-default btn-simple" type="submit" value="Показать проекты">
            </div>
        </form>
    </div>
</div><!-- filter -->   