<div block="product-slider">
    <div elem="section">
        <div elem="preview">
            <div elem="preview-items" class="js-product-preview owl-carousel">
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/2.jpg" data-thumb="img/projects/2.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/1.jpg" data-thumb="img/projects/1.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/3.jpg" data-thumb="img/projects/3.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/4.jpg" data-thumb="img/projects/4.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/1.jpg" data-thumb="img/projects/1.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/5.jpg" data-thumb="img/projects/5.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/3.jpg" data-thumb="img/projects/3.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/1.jpg" data-thumb="img/projects/1.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/4.jpg" data-thumb="img/projects/4.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/3.jpg" data-thumb="img/projects/3.jpg" alt=""></div>
                </div>
                <div elem="preview-item">
                    <div elem="preview-img"><img src="img/projects/3.jpg" data-thumb="img/projects/3.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div elem="thumbs">
            <div elem="thumbs-items" class="js-product-thumbs owl-carousel"></div>
        </div>
    </div>
</div><!-- product-slider -->
