.product-slider
    margin-bottom 35px

    &__preview-items
        .owl-nav
            display flex
            justify-content space-between
            position absolute 
            bottom 0
            width 100%
            z-index 4

        .owl-prev,
        .owl-next
            width 70px
            height 70px
            background-color #fff
            display flex
            justify-content center
            align-items center
            transition background-color .3s
            &:hover
                background-color #00ac78

                .left-arr,
                .right-arr
                    background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='%23fff' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A")
            
        .owl-prev
            transform rotate(180deg)    

        .left-arr,
        .right-arr
            width 18px
            height 32px
            background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='black' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
            transition background .3s
            svg 
                display none
    
    &__thumbs
        margin-top 2px

    &__thumbs-items    

        &.owl-loaded
            display flex
            justify-content center 

        .owl-stage
            display flex
            justify-content center

        .owl-nav
            display flex
            justify-content space-between
            position absolute 
            bottom 55px
            width 100%
            z-index 4

            @media (max-width 479px)   
                width 315px
                bottom 0
                z-index -1

        .owl-prev,
        .owl-next
            width 70px
            height 70px
            background-color #fff
            display flex
            justify-content center
            align-items center
            transition background-color .3s
            &:hover
                background-color #00ac78

                .left-arr,
                .right-arr
                    background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='%23fff' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A")
            
            @media (max-width 479px)   
                width 50px
                height 55px

        .owl-prev
            transform rotate(180deg)    

        .left-arr,
        .right-arr
            width 18px
            height 32px
            background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='black' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
            transition background .3s
            svg 
                display none    

    &__preview-img
        width 100%
        height 550px
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%

        @media (max-width 1279px)
            height 350px

        @media (max-width 767px)
            height 250px

        @media (max-width 639px)    
            height 180px

        img 
            display none !important

    &__thumbs

        @media (max-width 479px)    
            width 215px
            margin 0 auto


    &__thumbs-img
        width 93px
        position relative
        cursor pointer
        &.is-active            
            &:before
                opacity 1
                
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))
            border 2px solid #000
            opacity 0
            transition opacity .3s
            z-index 5

        &:hover
            &:before
                opacity 1

        @media (max-width 479px)   
            width 70px       
            overflow hidden 

        img 
            @media (max-width 479px)   
                height 55px !important
                width auto !important   
                max-width none 