<div block="common-tabs" class="js-animate-scroll-reveal">
    <div elem="section">
        <div elem="btn-inner">
            <div elem="btn-items">
                <button elem="btn-tab" class="js-btn-tab is-active-btn-tab" type="button">Комплектация</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Технология</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Доп. услуги</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Фундамент</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Фото и видео</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Этапы сотрудничества</button>
            </div>
        </div>
        <div elem="container">
            <div elem="content" class="js-tab-content is-active-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aliquam. Maiores vero provident a quo, nisi ea nulla harum molestiae ratione delectus. Consequuntur enim non dolores unde temporibus ipsa sit.</p>
            </div>
            <div elem="content" class="js-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aliquam. Maiores vero provident a quo, nisi ea nulla harum molestiae ratione delectus. Consequuntur enim non dolores unde temporibus ipsa sit.</p>
            </div>
            <div elem="content" class="js-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aliquam. Maiores vero provident a quo, nisi ea nulla harum molestiae ratione delectus. Consequuntur enim non dolores unde temporibus ipsa sit.</p>
            </div>
            <div elem="content" class="js-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aliquam. Maiores vero provident a quo, nisi ea nulla harum molestiae ratione delectus. Consequuntur enim non dolores unde temporibus ipsa sit.</p>
            </div>
            <div elem="content" class="js-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aliquam. Maiores vero provident a quo, nisi ea nulla harum molestiae ratione delectus. Consequuntur enim non dolores unde temporibus ipsa sit.</p>
            </div>
            <div elem="content" class="js-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, aliquam. Maiores vero provident a quo, nisi ea nulla harum molestiae ratione delectus. Consequuntur enim non dolores unde temporibus ipsa sit.</p>
            </div>
        </div>
    </div>
</div><!-- common-tabs -->
