<div block="common-tabs" mods="project" class="js-animate-scroll-reveal">
    <div elem="section">
        <div elem="btn-inner">
            <div elem="btn-items">
                <button elem="btn-tab" class="js-btn-tab is-active-btn-tab" type="button">Все проекты</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Дома из бруса</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Дома из бревна</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Каркасные дома</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Бани из дерева</button>
            </div>
        </div>
        <div elem="container">
            {% include "filter.html" %}
            <div elem="content" class="js-tab-content is-active-tab-content">
                {% include "projects.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "projects.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "projects.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "projects.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "projects.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "projects.html" %}
            </div>
        </div>
    </div>
</div><!-- common-tabs -->
