.common-tabs
    padding-bottom 70px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    &--project

        & ^[0]

            &__btn-items
                margin-bottom 20px

                @media (max-width 768px)
                    width 1280px
                    padding-bottom 15px
    
    &--portfolio

        & ^[0]

            &__btn-inner
                @media (max-width 1024px)
                    width 100%
                    overflow-x auto

            &__btn-items
                margin-bottom 60px

                @media (max-width 1024px)
                    width 1280px
                    padding-bottom 15px

                @media (max-width 768px)
                    margin-bottom 20px    

            &__btn-tab
                // flex none 
                width 15.8%

    &--card
        padding-bottom 0
        border-bottom none  
        margin-bottom 40px

        & ^[0]

            &__btn-inner
                @media (max-width 1360px)
                    width 100%
                    overflow-x auto

            &__btn-items
                margin-bottom 40px

                @media (max-width 1360px)
                    width 1280px
                    padding-bottom 15px

                @media (max-width 768px)
                    margin-bottom 20px    

            &__btn-tab
                // flex none 
                width 15.8%    

                @media (max-width 1439px)
                    // flex none 
                    width 16.7%
                    padding-right 10px
                    padding-left 10px

                @media (max-width 1360px)
                    flex none 
                    width 15%

    &__btn-inner
        
        @media (max-width 768px)
            width 100%
            overflow-x auto

    &__btn-items
        display flex
        margin-bottom 40px

    &__btn-tab
        font-size 20px
        color rgba(0, 0, 0, 0.5)
        font-weight 500
        line-height 25px
        text-align center
        padding 9px 25px
        background-color transparent
        border-top 1px solid rgba(0, 0, 0, 0.2)
        border-right 1px solid rgba(0, 0, 0, 0.2)
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
        border-left none
        transition color .3s, border-color .3s
        flex 1 1 auto
        width 16.666%
        height 69px
        position relative
        &:before
            content ''
            position absolute
            bottom -10px
            left 50%
            transform translateX(-50%) rotate(45deg)
            width 18px
            height 18px
            background-color #fff
            border-right 2px solid #000
            border-bottom 2px solid #000
            opacity 0

        &:first-child
            border-left 1px solid rgba(0, 0, 0, 0.2)

        &:hover
            color #000

        &.is-active-btn-tab
            color #000
            border 2px solid #000  
            &:before
                opacity 1

    &__content
        display none
        &.is-active-tab-content
            display block            