<div block="common-tabs" mods="card">
    <div elem="section">
        <div elem="btn-inner">
            <div elem="btn-items">
                <button elem="btn-tab" class="js-btn-tab is-active-btn-tab" type="button">Комплектация</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Технология</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Доп. услуги</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Фундамент</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Фото и видео</button>
                <button elem="btn-tab" class="js-btn-tab" type="button">Этапы сотрудничества</button>
            </div>
        </div>
        <div elem="container">
            <div elem="content" class="js-tab-content is-active-tab-content">
                {% include "info-table.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "technology.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "additional-services.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "foundation.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "gallery.html" %}
            </div>
            <div elem="content" class="js-tab-content">
                {% include "stages-cooperation.html" %}
            </div>
        </div>
    </div>
</div><!-- common-tabs -->