.included-cost

    &__items
        display flex
        flex-wrap wrap
        // margin-left -30px

        @media (max-width 639px)
            margin-left -10px

    &__item
        flex 0 0 20%
        width 20%
        max-width 20%
        padding-right 30px    
        margin-bottom 30px

        @media (max-width 1360px)
            flex 0 0 25%
            width 25%
            max-width 25%

        @media (max-width 767px)
            flex 0 0 33.333%
            width 33.333%
            max-width 33.333%    

        @media (max-width 639px)
            flex 0 0 50%
            width 50%
            max-width 50%   
            padding-right 0
            padding-left 10px
            margin-bottom 10px

    &__body
        padding 20px 0
        border 1px solid #CCC
        display flex
        flex-direction column
        justify-content center
        align-items center

    &__icon
        margin-bottom 10px
        height 40px

    &__name
        font-size 15px
        color #000 
        font-weight 500
        line-height 30px
        text-align center