<div block="included-cost">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost-icon.svg" alt=""></div>
                    <div elem="name">Сборка</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost2-icon.svg" alt=""></div>
                    <div elem="name">Стены</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost3-icon.svg" alt=""></div>
                    <div elem="name">Окна</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost4-icon.svg" alt=""></div>
                    <div elem="name">Двери</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost5-icon.svg" alt=""></div>
                    <div elem="name">Лестница</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost6-icon.svg" alt=""></div>
                    <div elem="name">Перекрытия</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost7-icon.svg" alt=""></div>
                    <div elem="name">Крыша</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost8-icon.svg" alt=""></div>
                    <div elem="name">Полы и лаги</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="icon"><img src="img/included-cost9-icon.svg" alt=""></div>
                    <div elem="name">Доставка</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- included-cost -->