.reviews-all

    &__section
        
        @media (max-width 767px)
            padding-right 0
            padding-left 0

    &__inner
        display flex
        margin-left -30px

        @media (max-width 1279px)
            flex-wrap wrap

    &__items
        flex 0 0 33.333%
        width 33.333%
        max-width 33.333%
        padding-left 30px

        @media (max-width 1279px)
            flex 0 0 50%
            width 50%
            max-width 50%    
        
        @media (max-width 767px)
            flex 0 0 100%
            width 100%
            max-width 100%  

    &__item
        margin-bottom 30px        

    &__body
        padding 30px 35px
        border 1px solid rgba(0, 0, 0, 0.2)   

        @media (max-width 1360px)
            padding 25px

        @media (max-width 767px)
            border-right 0    
            border-left 0    

        &--response    
            background-color #00AC78
            border none
            position relative
            &:before
                content ''
                position absolute
                top -10px
                left 35px
                width 0
                height 0
                border-style solid
                border-width 0 10.5px 12px 10.5px
                border-color transparent transparent #00ac78 transparent

                @media (max-width 1360px)
                    left 25px
            
            & ^[0]

                &__text
                    color #fff

                &__name
                    color #fff    

    &__text
        font-size 16px
        color #000   
        font-weight normal
        line-height 25px
        margin-bottom 5px

        p
            margin-bottom 0

        strong 
            font-size 18px
            color #000 
            font-weight 500
            line-height 28px
            display block
            margin-bottom 10px

    &__name
        font-size 16px
        color #000      
        font-weight 500
        line-height 35px