<div block="reviews-all">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="items">
                <div elem="item">
                    {% include "form-reviews.html" %}
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                        </div>
                        <div elem="name">Юлия</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Работа выполнена очень хорошо. Учетны все наши пожелания</p>
                        </div>
                        <div elem="name">Сергей</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <strong>СНТ «Шугарово-5» Каркасный дом 115 м2</strong>
                            <p>
                                Приносим огромную благодарность за супер строительство, отличную бригаду строителей, за шикарные окна, замечательные строительные материалы. Все произошло быстро, аккуратно, правильно (а мы боялись). Обязательно обратимся к вам за строительством бани, желательно с этой же бригадой.
                            </p>
                            <p>Спасибо большое, успехов вам в дальнейшей работе. Спасибо Вадиму за хорошую консультацию, от хорошего консультанта много зависит. </p>
                        </div>
                        <div elem="name">Светлана и Михаил</div>
                    </div>
                </div>
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Построен дом 6×8. Строительством остались довольны.
Бригада хорошая. Построили быстро за 21 день.
 Есть вопросы по регулировке окон. Спасибо компании за строительство.</p>
                        </div>
                        <div elem="name">Хромова О. И.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Огромное спасибо бригаде рабочих, а именно бригадиру Роману, работникам Сергею и Евгению, которые построили дачный дом в п.Романцево Рязанской обл. Просим отметить и премировать данных сотрудников вашей замечательной компании. Дом построен в срок, строили в слякоть и грязь, но дом снаружи и внутри в идеальном состоянии. Также хотим отметить профессиональную работу менеджера Руслана, который  был  в любое время на связи и консультировал по всем вопросам. Хотим пожелать вашей компании процветания, побольше клиентов, а так же профессионального роста, хотя и так все на высшем уровне. Ещё раз спасибо, и мы рады что после долгих поисков все таки обратились именно к Вам.</p>
                        </div>
                        <div elem="name">Сазонов Эдуард</div>
                    </div>
                    <div elem="body" mods="response">
                        <div elem="text">
                            <p>Эдуард, спасибо за столь теплый отзыв о нашей работе!
Что касается премирования бригады, я всю информацию передал руководству, думаю что вашу просьбу обязательно учтут)
Желаю вам хорошего настроения и прекрасного отдыха в новом доме!
</p>
                        </div>
                        <div elem="name">С уважением, ваш менеджер, Руслан</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                        </div>
                        <div elem="name">Юлия</div>
                    </div>
                </div>
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Большое спасибо строительной бригаде,а именно: Косте, Леше и Виталию за ответственность,хорошую работу и быстрые сроки исполнения.Очень рада что обратилась именно в вашу компанию. Огромное спасибо роман вы отличный менеджер. Ребята с вами хочется строить еще))</p>
                        </div>
                        <div elem="name">Белова Н.С.</div>
                    </div>
                    <div elem="body" mods="response">
                        <div elem="text">
                            <p>Юлия, добрый день!
Спасибо за высокую оценку нашей работы!
Желаем Вашей семье тепла и уюта в новом доме!
P.S. Надеюсь вы оцените советы которые я давал при выборе комплектации по вашему проекту.</p>
                        </div>
                        <div elem="name">С уважением, Руслан</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <strong>СНТ «Шугарово-5» Каркасный дом 115 м2</strong>
                            <p>
                                Приносим огромную благодарность за супер строительство, отличную бригаду строителей, за шикарные окна, замечательные строительные материалы. Все произошло быстро, аккуратно, правильно (а мы боялись). Обязательно обратимся к вам за строительством бани, желательно с этой же бригадой.
                            </p>
                            <p>Спасибо большое, успехов вам в дальнейшей работе. Спасибо Вадиму за хорошую консультацию, от хорошего консультанта много зависит. </p>
                        </div>
                        <div elem="name">Светлана и Михаил</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="text">
                            <p>Построен дом 6×8. Строительством остались довольны.
Бригада хорошая. Построили быстро за 21 день.
 Есть вопросы по регулировке окон. Спасибо компании за строительство.</p>
                        </div>
                        <div elem="name">Хромова О. И.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- reviews-all -->