<div block="social-link">
    <div elem="section">
        <a elem="link" href="https://www.instagram.com/"><i elem="icon" mods="insta"></i></a>
        <a elem="link" href="https://vk.com/"><i elem="icon" mods="vk"></i></a>
        <a elem="link" href="https://www.facebook.com//"><i elem="icon" mods="fb"></i></a>
    </div>
</div><!-- social-link -->