.social-link
    margin-top 30px
    margin-bottom 20px

    &__section
        display flex
        align-items center
        justify-content center

    &__link
        flex 0 0 25px
        width 25px
        max-width 25px
        margin-right 15px
        display block

        &:last-child
            margin-right 0   

        &:hover

            & ^[0]

                &__icon

                    &--insta
                        background-image url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.99988 15.1852C12.8636 15.1852 15.1851 12.8637 15.1851 10C15.1851 7.13631 12.8636 4.81482 9.99988 4.81482C7.13618 4.81482 4.8147 7.13631 4.8147 10C4.8147 12.8637 7.13618 15.1852 9.99988 15.1852ZM6.98104 9.99964C6.98104 8.36038 8.31585 7.0263 9.95511 7.0263C11.5947 7.0263 12.9288 8.36075 12.9288 9.99964C12.9288 11.6396 11.5951 12.9741 9.95511 12.9741C8.31585 12.9741 6.98104 11.6396 6.98104 9.99964Z' fill='%23fff'/%3E%3Cpath d='M16.6666 4.62961C16.6666 5.34553 16.0862 5.92591 15.3703 5.92591C14.6543 5.92591 14.074 5.34553 14.074 4.62961C14.074 3.91368 14.6543 3.33331 15.3703 3.33331C16.0862 3.33331 16.6666 3.91368 16.6666 4.62961Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.18518 0C2.32149 0 0 2.32149 0 5.18519V14.8148C0 17.6785 2.32149 20 5.18519 20H14.8148C17.6785 20 20 17.6785 20 14.8148V5.18518C20 2.32149 17.6785 0 14.8148 0H5.18518ZM4.81481 2.22222C3.38297 2.22222 2.22222 3.38297 2.22222 4.81482V15.1852C2.22222 16.617 3.38297 17.7778 4.81482 17.7778H15.1852C16.617 17.7778 17.7778 16.617 17.7778 15.1852V4.81481C17.7778 3.38297 16.617 2.22222 15.1852 2.22222H4.81481Z' fill='%23fff'/%3E%3C/svg%3E%0A")         

                    &--vk
                        background-image url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.253 12.9456H12.6278C12.6278 12.9456 13.0431 12.9004 13.2551 12.674C13.4502 12.4661 13.444 12.0757 13.444 12.0757C13.444 12.0757 13.4171 10.248 14.2733 9.97883C15.1173 9.71371 16.2011 11.7453 17.3498 12.5264C18.2185 13.1176 18.8785 12.988 18.8785 12.988L21.9501 12.9456C21.9501 12.9456 23.5568 12.8475 22.795 11.5958C22.7325 11.4934 22.3513 10.6699 20.5113 8.97775C18.5853 7.20667 18.8433 7.49313 21.1632 4.42956C22.5761 2.56382 23.1409 1.42476 22.9645 0.936906C22.7962 0.47225 21.7571 0.595066 21.7571 0.595066L18.2987 0.616411C18.2987 0.616411 18.0424 0.581763 17.8522 0.694369C17.6664 0.80481 17.5468 1.0622 17.5468 1.0622C17.5468 1.0622 16.9995 2.50597 16.2695 3.73381C14.7295 6.32469 14.1137 6.46143 13.8621 6.30056C13.2766 5.92562 13.4228 4.79429 13.4228 3.99058C13.4228 1.47983 13.8071 0.432963 12.6743 0.161965C12.2984 0.0719416 12.0217 0.0125449 11.0603 0.00295476C9.82637 -0.00972893 8.78192 0.00666665 8.19054 0.293751C7.79711 0.484625 7.49361 0.909992 7.67846 0.934432C7.90702 0.964749 8.42472 1.07272 8.69918 1.44302C9.05357 1.92067 9.04108 2.99352 9.04108 2.99352C9.04108 2.99352 9.24466 5.94913 8.56554 6.31634C8.09936 6.56815 7.45989 6.054 6.08697 3.7035C5.38349 2.49947 4.85237 1.16862 4.85237 1.16862C4.85237 1.16862 4.74996 0.919891 4.56729 0.786867C4.3456 0.625692 4.03586 0.574339 4.03586 0.574339L0.749524 0.595684C0.749524 0.595684 0.256184 0.609297 0.0750839 0.821826C-0.0860324 1.01084 0.0622819 1.40187 0.0622819 1.40187C0.0622819 1.40187 2.63515 7.36568 5.54835 10.3711C8.21957 13.1265 11.253 12.9456 11.253 12.9456Z' fill='%23fff'/%3E%3C/svg%3E%0A")

                    &--fb
                        background-image url("data:image/svg+xml,%3Csvg width='9' height='20' viewBox='0 0 9 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.63758 9.98074H5.96809V20H1.92358V9.98074H0V6.45957H1.92358V4.18098C1.92358 2.55154 2.67909 0 6.00409 0L9 0.0128407V3.43073H6.82627C6.46972 3.43073 5.96835 3.61324 5.96835 4.39053V6.46285H8.99093L8.63758 9.98074Z' fill='%23fff'/%3E%3C/svg%3E%0A")

    &__icon
        width 25px
        height 25px
        display block
        background-repeat no-repeat
        background-size contain
        background-position 50% 50%
        transition background .3s

        &--insta
            background-image url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.99988 15.1852C12.8636 15.1852 15.1851 12.8637 15.1851 10C15.1851 7.13631 12.8636 4.81482 9.99988 4.81482C7.13618 4.81482 4.8147 7.13631 4.8147 10C4.8147 12.8637 7.13618 15.1852 9.99988 15.1852ZM6.98104 9.99964C6.98104 8.36038 8.31585 7.0263 9.95511 7.0263C11.5947 7.0263 12.9288 8.36075 12.9288 9.99964C12.9288 11.6396 11.5951 12.9741 9.95511 12.9741C8.31585 12.9741 6.98104 11.6396 6.98104 9.99964Z' fill='%23A98567'/%3E%3Cpath d='M16.6666 4.62961C16.6666 5.34553 16.0862 5.92591 15.3703 5.92591C14.6543 5.92591 14.074 5.34553 14.074 4.62961C14.074 3.91368 14.6543 3.33331 15.3703 3.33331C16.0862 3.33331 16.6666 3.91368 16.6666 4.62961Z' fill='%23A98567'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.18518 0C2.32149 0 0 2.32149 0 5.18519V14.8148C0 17.6785 2.32149 20 5.18519 20H14.8148C17.6785 20 20 17.6785 20 14.8148V5.18518C20 2.32149 17.6785 0 14.8148 0H5.18518ZM4.81481 2.22222C3.38297 2.22222 2.22222 3.38297 2.22222 4.81482V15.1852C2.22222 16.617 3.38297 17.7778 4.81482 17.7778H15.1852C16.617 17.7778 17.7778 16.617 17.7778 15.1852V4.81481C17.7778 3.38297 16.617 2.22222 15.1852 2.22222H4.81481Z' fill='%23A98567'/%3E%3C/svg%3E%0A")        

        &--vk
            background-image url("data:image/svg+xml,%3Csvg width='23' height='13' viewBox='0 0 23 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.253 12.9456H12.6278C12.6278 12.9456 13.0431 12.9004 13.2551 12.674C13.4502 12.4661 13.444 12.0757 13.444 12.0757C13.444 12.0757 13.4171 10.248 14.2733 9.97883C15.1173 9.71371 16.2011 11.7453 17.3498 12.5264C18.2185 13.1176 18.8785 12.988 18.8785 12.988L21.9501 12.9456C21.9501 12.9456 23.5568 12.8475 22.795 11.5958C22.7325 11.4934 22.3513 10.6699 20.5113 8.97775C18.5853 7.20667 18.8433 7.49313 21.1632 4.42956C22.5761 2.56382 23.1409 1.42476 22.9645 0.936906C22.7962 0.47225 21.7571 0.595066 21.7571 0.595066L18.2987 0.616411C18.2987 0.616411 18.0424 0.581763 17.8522 0.694369C17.6664 0.80481 17.5468 1.0622 17.5468 1.0622C17.5468 1.0622 16.9995 2.50597 16.2695 3.73381C14.7295 6.32469 14.1137 6.46143 13.8621 6.30056C13.2766 5.92562 13.4228 4.79429 13.4228 3.99058C13.4228 1.47983 13.8071 0.432963 12.6743 0.161965C12.2984 0.0719416 12.0217 0.0125449 11.0603 0.00295476C9.82637 -0.00972893 8.78192 0.00666665 8.19054 0.293751C7.79711 0.484625 7.49361 0.909992 7.67846 0.934432C7.90702 0.964749 8.42472 1.07272 8.69918 1.44302C9.05357 1.92067 9.04108 2.99352 9.04108 2.99352C9.04108 2.99352 9.24466 5.94913 8.56554 6.31634C8.09936 6.56815 7.45989 6.054 6.08697 3.7035C5.38349 2.49947 4.85237 1.16862 4.85237 1.16862C4.85237 1.16862 4.74996 0.919891 4.56729 0.786867C4.3456 0.625692 4.03586 0.574339 4.03586 0.574339L0.749524 0.595684C0.749524 0.595684 0.256184 0.609297 0.0750839 0.821826C-0.0860324 1.01084 0.0622819 1.40187 0.0622819 1.40187C0.0622819 1.40187 2.63515 7.36568 5.54835 10.3711C8.21957 13.1265 11.253 12.9456 11.253 12.9456Z' fill='%23A98567'/%3E%3C/svg%3E%0A")

        &--fb
            background-image url("data:image/svg+xml,%3Csvg width='9' height='20' viewBox='0 0 9 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.63758 9.98074H5.96809V20H1.92358V9.98074H0V6.45957H1.92358V4.18098C1.92358 2.55154 2.67909 0 6.00409 0L9 0.0128407V3.43073H6.82627C6.46972 3.43073 5.96835 3.61324 5.96835 4.39053V6.46285H8.99093L8.63758 9.98074Z' fill='%23A98567'/%3E%3C/svg%3E%0A")
