@require 'components/_variables';
@require 'components/_mixins';
@require 'components/reboot';
@require 'components/iconizer';
// @require 'components/wordpress';

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */
.browserupgrade
  margin : $appGutter 0
  background : #ccc
  color : #000
  padding : $appGutter 0

.theme-color
  color: $colors.primary

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  word-wrap: normal !important

  &:focus
    background-color: #eee
    clip: auto !important
    clip-path: none
    color: #444
    display: block
    font-size: 1em
    height: auto
    left: 5px
    line-height: normal
    padding: 15px 23px 14px
    text-decoration: none
    top: 5px
    width: auto
    z-index: 100000 /* Above WP toolbar. */

*
  min-width 0
  min-height 0
  -webkit-tap-highlight-color rgba(0,0,0, 0)

@require '../_blocks/**/*.styl';
@require 'components/_keyframes';
