.app-header

    @media (min-width 1770px)
        flex none
        background-color #17181d
        height 100%
        position fixed
        flex 0 0 300px
        width 300px
        max-width 300px
        padding-top 40px
        z-index 5

    &__inner    

        @media (max-width 1769px)
            display none    

    .btn-default
        margin 0 auto
    
    .site-info
        font-size 12px
        color rgba(169, 133, 103, 0.5)    
        font-weight 500
        line-height 14px
        text-align center

        span 
            display block
            margin-bottom 15px

        a
            font-size 12px
            color rgba(169, 133, 103, 0.5)    
            font-weight 500
            line-height 14px