<header block="app-header" mix="block:mt-4">
    <div elem="section">
        <div elem="inner">
            {% include "logo.html" %}
            {% include "contacts.html" %}
            {% include "main-menu.html" %}
            {% include "search.html" %}
            <button class="btn-default btn-dark js-call-modal-call" type="button">Заказать звонок</button>
            {% include "social-link.html" %}
            <div class="site-info">
                <span>Пользовательское соглашение</span>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
        {% include "top-line.html" %}
    </div>
</header><!-- b:app-header -->
