.materials-product
    background-color #efebde

    @media (max-width 1279px)
        margin-bottom 30px
        display none
        
    @media (max-width 640px)
        margin-right -20px
        margin-left -20px

    &__section
        padding 25px 60px 40px 55px

        @media (max-width 1900px)
            padding 25px

        @media (max-width 767px)
            padding 20px

    &__title
        font-size 18px
        color #000  
        font-weight normal
        line-height 35px
        margin-bottom 10px

        @media (max-width 1439px)
            font-size 16px
            line-height 24px

    &__label
        font-weight 500
        font-size 15px
        line-height 25px
        color #000000
        display flex    
        align-items baseline
        cursor pointer
        padding-right 65px
        margin-bottom 15px

        @media (max-width 1439px)
            padding-right 0

    &__select
        margin-bottom 15px    

    &__prace
        display flex    

        @media (max-width 1439px)
            display block
    
    &__prace-info
        line-height 22px
        margin-right 10px    
        background-color #fff
        border none
        flex 0 0 160px
        width 160px
        max-width 160px

        @media (max-width 1439px)
            margin-bottom 10px

    &__btn-details
        width 220px
        max-width 100%
        min-width auto    

        @media (max-width 1439px)
            width 100%