<div block="materials-product">
    <div elem="section">
        <form elem="form">
            <div elem="title">Выберите материал строительства</div>
            <div elem="inputs">
                <label elem="label">
                    <input type="radio" name="materials-product">
                    Профилированный брус под усадку 145×145 — 493 000 ₽
                </label>
                <label elem="label">
                    <input type="radio" name="materials-product">
                    Профилированный брус под усадку 190×145 — 622 000 ₽
                </label>
                <label elem="label">
                    <input type="radio" name="materials-product">
                    Профилированный брус 145×145 — 852 000 ₽
                </label>
                <label elem="label">
                    <input type="radio" name="materials-product">
                    Профилированный брус 190×145 — 972 000 ₽
                </label>
            </div>
            <div elem="title">Выберите фундамент</div>
            <div elem="select">
                <select name="" id="">
                    <option value="">ЖБИ-сваи — 151 200 ₽</option>
                    <option value="">ЖБИ-сваи — 251 200 ₽</option>
                    <option value="">ЖБИ-сваи — 351 200 ₽</option>
                    <option value="">ЖБИ-сваи — 451 200 ₽</option>
                    <option value="">ЖБИ-сваи — 551 200 ₽</option>
                </select>
            </div>
            <div elem="title">Выберите кровлю</div>
            <div elem="select">
                <select name="" id="">
                    <option value="">Металлочерепица — 31 000 ₽</option>
                    <option value="">Металлочерепица — 41 000 ₽</option>
                    <option value="">Металлочерепица — 51 000 ₽</option>
                    <option value="">Металлочерепица — 61 000 ₽</option>
                    <option value="">Металлочерепица — 71 000 ₽</option>
                </select>
            </div>
            <div elem="title">Стоимость</div>
            <div elem="prace">
                <div elem="prace-info" class="price-default">2 950 000 ₽</div>
                <input elem="btn-details" class="btn-default" type="submit" value="Обсудить детали">
            </div>
        </form>
    </div>
</div><!-- materials-product -->