.top-line
    background-color #17181d
    padding-top 15px
    padding-bottom 15px
    position fixed
    top 0
    left 0
    width 100%
    height 80px
    z-index 15

    @media (min-width 1770px)
        display none

    &__section
        width 960px
        max-width 100%
        display flex
        align-items center
        justify-content space-between

        @media (min-width 1000px)
            width 100%
            padding-left 120px
            padding-right 120px

        @media (min-width 768px)
            padding-right 85px
            padding-left 85px

        @media (max-width 1000px)
            padding-right 20px
            padding-left 20px

        @media (min-width 320px)
            padding-right 20px
            padding-left 20px

    &__menu
        padding-top 10px
        margin-right 30px

        @media (max-width 899px)
            margin-right 0

    &__btn-menu
        border none
        width 30px
        height 30px
        background url('../img/menu-btn-icon.svg') 0 0 no-repeat
        padding 0
        display block
        transition background .3s

        &.is-active-menu
            background url('../img/close-icon.svg') 0 0 no-repeat

    &__overlay
        width 100%
        height 100vh
        position absolute
        left 0
        top 100%
        bottom 0
        background-color rgba(23, 24, 29, 0.9)
        opacity 0
        visibility hidden
        z-index 1
        transition opacity .3s

        &.is-show-overlay
            opacity 1
            visibility visible

    &__contacts
        position relative

    &__contacts-body
        padding 20px
        background-color #17181d
        position absolute
        width 320px
        top 63px
        right -20px
        opacity 0
        visibility hidden
        transition opacity .3s, visibility .3s

        .contacts

            @media (max-width 899px)
                display block !important

            &__phone

                @media (max-width 899px)
                    justify-content center

        &.is-contacts-show
            opacity 1
            visibility visible

    .logo
        width auto
        border none
        padding 0
        margin-bottom 0
        margin-right 65px

        @media (max-width 899px)
            margin-right 0

        &__img
            width 115px

    .search
        margin-bottom 0
        margin-right 40px

        @media (max-width 1199px)
            display none

    .contacts
        margin-bottom 0
        margin-right 17px

        @media (max-width 899px)
            display none

    .btn-default
        margin 0

        @media (max-width 899px)
            display none

    &__btn-contacts
        width 25px
        height 25px
        border none
        margin-top 10px
        background-color transparent
        background-image url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 19.7443C25 20.0639 24.9408 20.4812 24.8224 20.9961C24.7041 21.511 24.5798 21.9164 24.4496 22.2124C24.201 22.8042 23.4789 23.4316 22.2834 24.0945C21.1707 24.6981 20.0698 25 18.9808 25C18.6612 25 18.3505 24.9793 18.0487 24.9379C17.7468 24.8964 17.4065 24.8224 17.0277 24.7159C16.6489 24.6094 16.3678 24.5235 16.1843 24.4584C16.0008 24.3934 15.6723 24.272 15.1989 24.0945C14.7254 23.9169 14.4354 23.8104 14.3288 23.7749C13.1688 23.3606 12.133 22.8693 11.2216 22.3011C9.70644 21.366 8.14099 20.0906 6.52522 18.4748C4.90945 16.859 3.63398 15.2936 2.69885 13.7784C2.13069 12.8669 1.63945 11.8312 1.22515 10.6711C1.18962 10.5646 1.08311 10.2746 0.905542 9.80112C0.727979 9.32764 0.606641 8.99915 0.541528 8.81567C0.47644 8.6322 0.390625 8.35107 0.284082 7.97227C0.177563 7.59348 0.103564 7.25317 0.0621582 6.95132C0.0206787 6.64951 0 6.33879 0 6.01917C0 4.93015 0.301855 3.8293 0.905518 2.71663C1.56841 1.52107 2.1958 0.798999 2.78765 0.550415C3.08357 0.420215 3.48899 0.295923 4.00391 0.177563C4.5188 0.0591797 4.93608 0 5.25569 0C5.42141 0 5.5457 0.017749 5.62854 0.0532715C5.84163 0.124292 6.1553 0.574097 6.5696 1.40271C6.6998 1.62761 6.87737 1.94722 7.10227 2.3615C7.32717 2.77581 7.53433 3.15164 7.72373 3.48899C7.91311 3.82634 8.09658 4.14299 8.27415 4.43894C8.30967 4.48628 8.41323 4.63425 8.58486 4.88281C8.75649 5.1314 8.88377 5.3415 8.96663 5.51313C9.04949 5.68477 9.09089 5.85347 9.09089 6.01917C9.09089 6.25591 8.92224 6.55186 8.58486 6.90696C8.24751 7.26208 7.88057 7.5876 7.48403 7.88352C7.08748 8.17944 6.72053 8.49314 6.38318 8.82458C6.0458 9.15601 5.87712 9.42827 5.87712 9.64133C5.87712 9.74788 5.90671 9.88103 5.96592 10.0408C6.0251 10.2006 6.07539 10.322 6.11682 10.4048C6.15825 10.4877 6.24111 10.6297 6.36541 10.831C6.4897 11.0322 6.55779 11.1447 6.5696 11.1683C7.46921 12.79 8.49905 14.1809 9.65908 15.3409C10.8191 16.501 12.21 17.5308 13.8317 18.4304C13.8554 18.4422 13.9678 18.5103 14.169 18.6346C14.3703 18.7589 14.5123 18.8417 14.5952 18.8832C14.678 18.9246 14.7994 18.9749 14.9592 19.0341C15.119 19.0933 15.2521 19.1229 15.3587 19.1229C15.5717 19.1229 15.844 18.9542 16.1754 18.6168C16.5069 18.2795 16.8206 17.9125 17.1165 17.516C17.4124 17.1194 17.7379 16.7525 18.093 16.4151C18.4481 16.0778 18.7441 15.9091 18.9808 15.9091C19.1465 15.9091 19.3152 15.9505 19.4869 16.0334C19.6585 16.1162 19.8686 16.2435 20.1172 16.4151C20.3658 16.5868 20.5137 16.6903 20.5611 16.7259C20.857 16.9034 21.1736 17.0869 21.511 17.2763C21.8484 17.4657 22.2242 17.6728 22.6385 17.8977C23.0528 18.1226 23.3724 18.3002 23.5973 18.4304C24.4259 18.8447 24.8757 19.1584 24.9467 19.3715C24.9823 19.4543 25 19.5786 25 19.7443Z' fill='%23FFF4DE'/%3E%3C/svg%3E%0A")
        &:hover
            background-image url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 19.7443C25 20.0639 24.9408 20.4812 24.8224 20.9961C24.7041 21.511 24.5798 21.9164 24.4496 22.2124C24.201 22.8042 23.4789 23.4316 22.2834 24.0945C21.1707 24.6981 20.0698 25 18.9808 25C18.6612 25 18.3505 24.9793 18.0487 24.9379C17.7468 24.8964 17.4065 24.8224 17.0277 24.7159C16.6489 24.6094 16.3678 24.5235 16.1843 24.4584C16.0008 24.3934 15.6723 24.272 15.1989 24.0945C14.7254 23.9169 14.4354 23.8104 14.3288 23.7749C13.1688 23.3606 12.133 22.8693 11.2216 22.3011C9.70644 21.366 8.14099 20.0906 6.52522 18.4748C4.90945 16.859 3.63398 15.2936 2.69885 13.7784C2.13069 12.8669 1.63945 11.8312 1.22515 10.6711C1.18962 10.5646 1.08311 10.2746 0.905542 9.80112C0.727979 9.32764 0.606641 8.99915 0.541528 8.81567C0.47644 8.6322 0.390625 8.35107 0.284082 7.97227C0.177563 7.59348 0.103564 7.25317 0.0621582 6.95132C0.0206787 6.64951 0 6.33879 0 6.01917C0 4.93015 0.301855 3.8293 0.905518 2.71663C1.56841 1.52107 2.1958 0.798999 2.78765 0.550415C3.08357 0.420215 3.48899 0.295923 4.00391 0.177563C4.5188 0.0591797 4.93608 0 5.25569 0C5.42141 0 5.5457 0.017749 5.62854 0.0532715C5.84163 0.124292 6.1553 0.574097 6.5696 1.40271C6.6998 1.62761 6.87737 1.94722 7.10227 2.3615C7.32717 2.77581 7.53433 3.15164 7.72373 3.48899C7.91311 3.82634 8.09658 4.14299 8.27415 4.43894C8.30967 4.48628 8.41323 4.63425 8.58486 4.88281C8.75649 5.1314 8.88377 5.3415 8.96663 5.51313C9.04949 5.68477 9.09089 5.85347 9.09089 6.01917C9.09089 6.25591 8.92224 6.55186 8.58486 6.90696C8.24751 7.26208 7.88057 7.5876 7.48403 7.88352C7.08748 8.17944 6.72053 8.49314 6.38318 8.82458C6.0458 9.15601 5.87712 9.42827 5.87712 9.64133C5.87712 9.74788 5.90671 9.88103 5.96592 10.0408C6.0251 10.2006 6.07539 10.322 6.11682 10.4048C6.15825 10.4877 6.24111 10.6297 6.36541 10.831C6.4897 11.0322 6.55779 11.1447 6.5696 11.1683C7.46921 12.79 8.49905 14.1809 9.65908 15.3409C10.8191 16.501 12.21 17.5308 13.8317 18.4304C13.8554 18.4422 13.9678 18.5103 14.169 18.6346C14.3703 18.7589 14.5123 18.8417 14.5952 18.8832C14.678 18.9246 14.7994 18.9749 14.9592 19.0341C15.119 19.0933 15.2521 19.1229 15.3587 19.1229C15.5717 19.1229 15.844 18.9542 16.1754 18.6168C16.5069 18.2795 16.8206 17.9125 17.1165 17.516C17.4124 17.1194 17.7379 16.7525 18.093 16.4151C18.4481 16.0778 18.7441 15.9091 18.9808 15.9091C19.1465 15.9091 19.3152 15.9505 19.4869 16.0334C19.6585 16.1162 19.8686 16.2435 20.1172 16.4151C20.3658 16.5868 20.5137 16.6903 20.5611 16.7259C20.857 16.9034 21.1736 17.0869 21.511 17.2763C21.8484 17.4657 22.2242 17.6728 22.6385 17.8977C23.0528 18.1226 23.3724 18.3002 23.5973 18.4304C24.4259 18.8447 24.8757 19.1584 24.9467 19.3715C24.9823 19.4543 25 19.5786 25 19.7443Z' fill='%23fff'/%3E%3C/svg%3E%0A")

        @media (min-width 900px)
            display none
