<div block="top-line" class="js-animate-scroll-reveal">
    <div elem="section">
        <div elem="menu">
            <button elem="btn-menu" class="js-btn-menu" type="button"></button>
            {% include "mobile-menu.html" %}
            <div elem="overlay" class="js-menu-overlay"></div>
        </div>
        {% include "logo.html" %}
        {% include "search.html" %}
        {% include "contacts.html" %}
        <button class="btn-default btn-dark js-call-modal-call" type="button">Заказать звонок</button>
        <div elem="contacts">
            <button elem="btn-contacts" class="js-btn-contacts-top-line" type="button"></button>
			<div elem="contacts-body" class="js-contacts-body">
				{% include "contacts.html" %}
			</div>
        </div>
    </div>
</div><!-- top-line -->
