.card-project
    padding-bottom 70px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    &__main
        display flex
        margin-bottom 70px

        @media (max-width 1279px)
            display block
            width 660px
            max-width 100%  
            margin 0 auto

    &__visual
        flex 0 0 945px
        width 945px
        max-width 945px

        @media (max-width 1599px)
            flex 0 0 758px
            width 758px
            max-width 758px

        @media (max-width 1360px)
            flex 0 0 660px
            width 660px
            max-width 660px

        @media (max-width 1279px)
            width 660px
            max-width 100%
            margin 0 auto

        @media (max-width 767px)
            width 565px

        @media (max-width 639px)
            width 378px

        @media (max-width 479px)    
            width 100%
    
    &__wrp-for-mob
        @media (min-width 1280px)        
            display none

        .materials-product,
        .card-project__info

            @media (max-width 1279px)
                display block !important    
            
    &__info
        padding-left 55px
        padding-bottom 30px    

        @media (max-width 1900px)
            padding-left 25px
            padding-bottom 25px    

        @media (max-width 1279px)
            padding-left 0    
            display none

    &__title
        font-size 24px
        color #000
        font-weight 500
        line-height 35px
        margin-bottom 15px

    &__parameters
        font-size 18px
        color #000
        font-weight normal
        line-height 35px

        span 
            display block
    
    &__btn-more
        margin-top 30px
        &.btn-default
            min-width 290px        
            display inline-block

            @media (max-width 480px)
                min-width auto
                width 100%
                max-width 100%