<div block="card-project">
    <div elem="section" class="contain">
        <div elem="main" class="js-animate-scroll-reveal">
            <div elem="visual">
                {% include "product-slider.html" %}
                <div elem="wrp-for-mob">
                    <div elem="info">
                        <div elem="title">Информация о проекте</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Брус</span>
                            <span>Размер: 6.0 × 9.0</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 96 м2</span>
                        </div>
                        {% if pageTitle == "Дома из бруса" %}
                        <a elem="btn-more" class="btn-default btn-simple" href="">Подробности проекта</a>
                        {% endif %}
                    </div>
                    {% include "materials-product.html" %}
                </div>
                <div elem="title">В стоимость включено</div>
                {% include "included-cost.html" %}
            </div>
            <div elem="info-block">
                <div elem="info">
                    <div elem="title">Информация о проекте</div>
                    <div elem="parameters">
                        <span>Серия: Полутораэтажный</span>
                        <span>Технология: Брус</span>
                        <span>Размер: 6.0 × 9.0</span>
                        <span>Дополнительно: Терраса</span>
                        <span>Количество комнат: 5+</span>
                        <span>Площадь: 96 м2</span>
                    </div>
                    {% if pageTitle == "Дома из бруса" %}
                    <a elem="btn-more" class="btn-default btn-simple" href="">Подробности проекта</a>
                    {% endif %}
                </div>
                {% include "materials-product.html" %}
            </div>
        </div>
        <div elem="content">
            {% include "common-tabs-card.html" %}
            <div elem="more">
                <div elem="title">Возможно вас заинтересуют эти проекты</div>
                {% include "projects-card.html" %}
            </div>
        </div>
    </div>
</div><!-- card-project -->
