.recommended-projects
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    @media (min-width 1770px)
        margin-bottom 40px

    @media (min-width 1000px)
        margin-bottom 50px

    @media (max-width 1199px)
        margin-top 20px

    &__section
        max-width 100%


        @media (min-width 1770px)
            width 1430px + 85px + 85px
            padding-right 85px
            padding-left 85px

        @media (min-width 1000px)
            width 960px + 120px + 120px
            padding-right 120px
            padding-left 120px
            margin 0 auto

    &__slider
        position relative
        // &:first-child
        // margin-top -110px

        // @media (max-width 1199px)
        //     margin-top 0

        &--backward

            & ^[0]

                &__items

                    .owl-nav
                        right auto

                        @media (min-width 1920px)
                            left 275px

                        @media (min-width 1770px)
                            left 150px
                            bottom 50px

                        @media (min-width 1200px)
                            left 310px
                            bottom 0

                        @media (max-width 1199px)
                            left 310px
                            bottom 45px

                &__img
                    margin-left auto

                &__content
                    // order -1
                    // transform translate(120px, -75px)
                    right auto
                    left 0

                &__counter
                    right auto
                    &:before

                        @media (min-width 1000px) and (max-width 1769px)
                            left -65px
                            right auto

                    @media (min-width 1920px)
                        left 175px

                    @media (min-width 1770px)
                        left 50px

                    @media (min-width 1200px)
                        left 250px

                    @media (max-width 1199px)
                        left 525px

    &__items
        margin-bottom 120px
        width 1430px
        max-width 100%
        position relative

        @media (max-width 1199px)
            margin-bottom 40px

        @media (max-width 999px)
            margin-bottom 0

        .owl-stage-outer
            // padding-top 110px

            @media (max-width 1199px)
                padding-top 0
                padding-bottom 120px

            @media (max-width 999px)
                padding-bottom 0

        .owl-nav
            position absolute
            display flex

            @media (min-width 1920px)
                right 275px

            @media (min-width 1770px)
                right 145px
                bottom 50px

            @media (min-width 1200px)
                right 310px
                bottom 0

            @media (max-width 1199px)
                right 335px
                bottom 45px

            @media (max-width 999px)
                bottom -25px !important
                // bottom 50% !important
                right auto !important
                left 20px !important
                // transform translateY(85%) !important

            @media (max-width 439px)
                // transform translateY(35%) !important
                bottom -35px !important


            .owl-prev,
            .owl-next
                width 70px
                height 70px
                background-color #fff
                display flex
                justify-content center
                align-items center
                transition background-color .3s
                &:hover
                    background-color #00ac78

                    .left-arr,
                    .right-arr
                        background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='%23fff' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A")

            .owl-prev
                transform rotate(180deg)

            .left-arr,
            .right-arr
                width 18px
                height 32px
                background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='black' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
                transition background .3s
                svg
                    display none

    &__head
        max-width 100%

        @media (min-width 1770px)
            width 560px
            margin-bottom 30px

        @media (min-width 1200px)
            width 480px
            margin-bottom 50px

        @media (max-width 1199px)
            padding-right 20px
            padding-left 20px
            margin-bottom 20px

    &__title
        color #000
        font-weight 500

        @media (min-width 1770px)
            font-size 49px
            line-height 56px

        @media (min-width 1200px)
            font-size 40px
            line-height 46px

        @media (max-width 1199px)
            font-size 25px
            line-height 35px

    &__item
        display flex

        @media (max-width 999px)
            display block

    &__img
        display block
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%

        @media (min-width 1770px)
            flex 0 0 1115px
            width 1115px
            max-width 1115px
            height 715px

        @media (min-width 1000px)
            flex 0 0 580px
            width 580px
            max-width 580px
            height 420px

        @media (max-width 1199px)
            flex 0 0 430px
            width 430px
            max-width 430px
            height 310px

        @media (max-width 999px)
            width 100%
            max-width 100%
            margin-bottom 70px

    &__content
        background-color #fff
        // align-self flex-start
        // transform translate(-120px, -120px)
        position absolute
        right 0
        z-index 5

        @media (min-width 1770px)
            flex 0 0 485px
            width 485px
            max-width 485px
            padding 55px 60px 50px 55px
            top -90px

        @media (min-width 1200px)
            flex 0 0 380px
            width 380px
            max-width 380px
            padding 30px 30px 40px 40px
            top -105px

        @media (max-width 1199px)
            flex 0 0 310px
            width 310px
            max-width 310px
            padding 0 30px 0 0
            top 0

        @media (max-width 999px)
            position static

        @media (max-width 999px)
            padding-right 20px
            padding-left 20px
            padding-top 20px
            width 100%
            max-width 100%

    &__name
        color #000
        font-weight 500
        margin-bottom 5px

        @media (min-width 1770px)
            font-size 24px
            line-height 35px

        @media (min-width 1000px)
            font-size 20px
            line-height 30px

    &__parameters
        color #000
        font-weight normal
        margin-bottom 20px

        span
            display block

        @media (min-width 1770px)
            font-size 18px
            line-height 35px

        @media (min-width 1000px)
            font-size 16px
            line-height 30px

    &__bottom

        @media (min-width 1770px)
            display flex

        @media (max-width 439px)
            display flex
            flex-direction column
            justify-content center
            margin-bottom 30px

    &__price

        @media (min-width 1770px)
            margin-right 10px
            margin-bottom 0

        @media (min-width 1200px)
            margin-right 0
            margin-bottom 20px

        @media (max-width 1199px)
            margin-right 0
            margin-bottom 20px

        @media (max-width 439px)
            width 160px
            margin 0 auto 20px

    &__btn-more

        &.btn-default
            min-width 200px

            @media (min-width 1200px)
                display inline-block

            @media (max-width 1199px)
                display inline-block

    &__counter
        font-size 18px
        color #000
        font-weight normal
        line-height 35px
        position absolute
        width 55px
        z-index 10
        &:before
            content ''
            position absolute
            top -45px
            left 6px
            width 40px
            height 35px
            background url('../img/pics-icon.svg') 0 0 no-repeat

            @media (min-width 1770px)
                top -45px
                left 6px

            @media (min-width 1000px)
                top 0px
                left auto
                right -60px

            @media (max-width 999px)
                top 0px
                left auto
                right -60px

        span

            i
                width 18px
                height 1px
                background-color #000
                display inline-block
                vertical-align middle
                margin-right 5px
                margin-left 5px

        @media (min-width 1920px)
            right 175px

        @media (min-width 1770px)
            right 50px
            bottom 65px

        @media (min-width 1200px)
            right 245px
            bottom 15px

        @media (max-width 1199px)
            right 545px
            bottom 60px

        // @media (max-width 999px)
        //     bottom 50% !important
        //     right auto !important
        //     left 250px !important
        //     transform translateY(115%) !important

        @media (max-width 999px)
            // left 180px !important
            // transform translateY(25%) !important
            position static
            transform translate(190px, -26px) !important

        @media (max-width 439px)
            transform translate(190px, -17px) !important
