<div block="recommended-projects">
    <div elem="section">
        <div elem="head">
            <div elem="title">Зарекомендовашие себя проекты</div>
        </div>
        <div elem="slider" class="js-animate-scroll-reveal">
            <div elem="items" class="js-recommended-projects owl-carousel">
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/2.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/2.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/2.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/2.jpg');"></a>
                </div>
            </div>
            <div elem="counter" class="js-counter"></div>
            <div elem="content">
                <div elem="name">Дом из профилированного бруса 6.0м×9.0м ЛД-48</div>
                <div elem="parameters">
                    <span>Серия: Полутораэтажный</span>
                    <span>Технология: Брус</span>
                    <span>Размер: 6.0 × 9.0</span>
                    <span>Дополнительно: Терраса</span>
                    <span>Количество комнат: 5+</span>
                    <span>Площадь: 96 м2</span>
                </div>
                <div elem="bottom">
                    <div elem="price" class="price-default">2 950 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                </div>
            </div>
        </div>
        <div elem="slider" class="js-animate-scroll-reveal" mods="backward">
            <div elem="items" class="js-recommended-projects owl-carousel">
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
            </div>
            <div elem="counter" class="js-counter"></div>
            <div elem="content">
                <div elem="name">Каркасный дом 10.0м×9.5м ЛК-49</div>
                <div elem="parameters">
                    <span>Серия: Полутораэтажный</span>
                    <span>Технология: Каркас</span>
                    <span>Размер: 10.0 × 9.5</span>
                    <span>Дополнительно: Терраса</span>
                    <span>Количество комнат: 5+</span>
                    <span>Площадь: 169 м2</span>
                </div>
                <div elem="bottom">
                    <div elem="price" class="price-default">3 950 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                </div>
            </div>
        </div>
		        <div elem="slider" class="js-animate-scroll-reveal">
            <div elem="items" class="js-recommended-projects owl-carousel">
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                </div>
            </div>
            <div elem="counter" class="js-counter"></div>
            <div elem="content">
                <div elem="name">Дом из профилированного бруса 6.0м×9.0м ЛД-48</div>
                <div elem="parameters">
                    <span>Серия: Полутораэтажный</span>
                    <span>Технология: Брус</span>
                    <span>Размер: 6.0 × 9.0</span>
                    <span>Дополнительно: Терраса</span>
                    <span>Количество комнат: 5+</span>
                    <span>Площадь: 96 м2</span>
                </div>
                <div elem="bottom">
                    <div elem="price" class="price-default">2 950 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                </div>
            </div>
        </div>
        <div elem="slider" class="js-animate-scroll-reveal" mods="backward">
            <div elem="items" class="js-recommended-projects owl-carousel">
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                </div>
            </div>
            <div elem="counter" class="js-counter"></div>
            <div elem="content">
                <div elem="name">Каркасный дом 10.0м×9.5м ЛК-49</div>
                <div elem="parameters">
                    <span>Серия: Полутораэтажный</span>
                    <span>Технология: Каркас</span>
                    <span>Размер: 10.0 × 9.5</span>
                    <span>Дополнительно: Терраса</span>
                    <span>Количество комнат: 5+</span>
                    <span>Площадь: 169 м2</span>
                </div>
                <div elem="bottom">
                    <div elem="price" class="price-default">3 950 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                </div>
            </div>
        </div>
        {# <div elem="slider" class="js-animate-scroll-reveal">
            <div elem="items" class="js-recommended-projects owl-carousel">
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Дом из профилированного бруса 6.0м×9.0м ЛД-48</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Брус</span>
                            <span>Размер: 6.0 × 9.0</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 96 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Дом из профилированного бруса 6.0м×9.0м ЛД-48</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Брус</span>
                            <span>Размер: 6.0 × 9.0</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 96 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Дом из профилированного бруса 6.0м×9.0м ЛД-48</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Брус</span>
                            <span>Размер: 6.0 × 9.0</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 96 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/3.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Дом из профилированного бруса 6.0м×9.0м ЛД-48</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Брус</span>
                            <span>Размер: 6.0 × 9.0</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 96 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="counter" class="js-counter"></div>
        </div>
        <div elem="slider" class="js-animate-scroll-reveal" mods="backward">
            <div elem="items" class="js-recommended-projects owl-carousel">
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Каркасный дом 10.0м×9.5м ЛК-49</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Каркас</span>
                            <span>Размер: 10.0 × 9.5</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 169 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">3 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Каркасный дом 10.0м×9.5м ЛК-49</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Каркас</span>
                            <span>Размер: 10.0 × 9.5</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 169 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">3 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Каркасный дом 10.0м×9.5м ЛК-49</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Каркас</span>
                            <span>Размер: 10.0 × 9.5</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 169 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">3 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
                <div elem="item">
                    <a elem="img" href="#" style="background-image: url('img/4.jpg');"></a>
                    <div elem="content">
                        <div elem="name">Каркасный дом 10.0м×9.5м ЛК-49</div>
                        <div elem="parameters">
                            <span>Серия: Полутораэтажный</span>
                            <span>Технология: Каркас</span>
                            <span>Размер: 10.0 × 9.5</span>
                            <span>Дополнительно: Терраса</span>
                            <span>Количество комнат: 5+</span>
                            <span>Площадь: 169 м2</span>
                        </div>
                        <div elem="bottom">
                            <div elem="price" class="price-default">3 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="counter" class="js-counter"></div>
        </div> #}
    </div>
</div><!-- recommended-projects -->
