.news

    &__news-top
        padding 95px 85px 58px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        @media (min-width: 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-top 120px
            padding-bottom 30px

        @media (max-width: 767px)
            padding-bottom 20px
            padding-top 100px

    &__news-content
        padding 50px 85px 100px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        // @media (min-width: 1200px)
        //     padding-right 125px
        //     padding-left 125px

        @media (max-width 1769px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-bottom 40px
            padding-top 25px

    &__news-item
        border 1px solid #CCCCCC
        box-sizing border-box
        padding 38px 51px
        margin-bottom 29px

        @media (max-width: 1119px)
            padding 15px

        &:last-child
            margin-bottom 0

    &__name
        margin-bottom 15px

        a
            font-style normal
            font-weight 500
            font-size 24px
            line-height 35px
            color #000000

            @media (max-width: 1119px)
                font-size 18px
                line-height 26px
                margin-bottom 25px

    &__desk
        font-style normal
        font-weight normal
        font-size 18px
        line-height 35px
        color #000000
        margin-bottom 20px

        @media (max-width: 1119px)
            font-size 16px
            line-height 22px
            margin-bottom 25px

    &__link

        a
            display inline-block
            border 1px solid #000000
            box-sizing border-box
            border-radius 3px
            padding 10px 37px
            font-style normal
            font-weight 500
            font-size 15px
            line-height 30px
            text-align center
            color #000000
            background #fff
            text-decoration none
            transition all 0.5s

            &:hover
                transition all 0.5s
                background #000
                color #fff

            &:active
                background #626262
                box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)
                border 1px solid transparent

            @media (max-width: 767px)
                width 100%
                max-width 100%
