<div block="news">
	{# <div elem="news-top">
		{% include "s-path.html" %}
		<h1 elem="h1">
			Новости
		</h1>
	</div> #}
	<div elem="news-content">
		<div elem="news-list">

			<div elem="news-item">
				<div elem="name"><a href="#">Дом из бруса под ключ цена</a></div>
				<div elem="desk">Дом из бруса под ключ, цена которого зависит напрямую от сложности проекта и стоимости используемых строительных материалов, предлагает компания Легно Домус. Фирма уже успела зарекомендовать себя на строительном рынке.</div>
				<div elem="link"><a href="#">Читать далее</a></div>
			</div>

			<div elem="news-item">
				<div elem="name"><a href="#">Дом из бруса под ключ цена</a></div>
				<div elem="desk">Дом из бруса под ключ, цена которого зависит напрямую от сложности проекта и стоимости используемых строительных материалов, предлагает компания Легно Домус. Фирма уже успела зарекомендовать себя на строительном рынке.</div>
				<div elem="link"><a href="#">Читать далее</a></div>
			</div>

			<div elem="news-item">
				<div elem="name"><a href="#">Дом из бруса под ключ цена</a></div>
				<div elem="desk">Дом из бруса под ключ, цена которого зависит напрямую от сложности проекта и стоимости используемых строительных материалов, предлагает компания Легно Домус. Фирма уже успела зарекомендовать себя на строительном рынке.</div>
				<div elem="link"><a href="#">Читать далее</a></div>
			</div>

		</div>

		{% include 'pagination.html' %}
	</div>


</div><!-- b:news -->
