<div block="projects" mods="card">
    <div elem="section">
        <div elem="items">
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/5.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/3.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/2.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- projects -->
