<div block="projects" mods="portfolio">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item" class="js-animate-scroll-reveal">
                {% include "form-free-calc.html" %}
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/1.jpeg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/3.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/5.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/1.jpeg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/4.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/1.jpeg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/3.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/5.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/1.jpeg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/4.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/works/1.jpeg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">ДД 14</a>
                        <div elem="info">
                            <div elem="area">96 м2</div>
                            <div elem="price" class="price-default">493 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "pagination.html" %}
    </div>
</div><!-- projects -->
