.projects

    &--portfolio
        & ^[0]

            &__img
                height 335px

                @media (max-width 640px)
                    height 220px     

    &--card

        & ^[0]
            
            &__section
                @media (max-width 640px)
                    padding-right 0
                    padding-left 0
                    margin-right -20px
                    margin-left -20px

    &__section
        @media (max-width 768px)
            padding-right 0
            padding-left 0

    &__sorting
        display flex
        align-items center
        justify-content flex-end
        margin-bottom 20px

        @media (max-width 768px)
            display none

    &__sorting-title
        font-size 15px
        color #000
        font-weight 500
        line-height 15px
        margin-right 25px

    &__sorting-body
        position relative    

    &__sorting-current    
        font-size 15px
        color rgba(0, 0, 0, 0.5)
        font-weight 500
        line-height 25px
        padding-right 25px
        position relative
        cursor pointer
        &:after
            content ''
            position absolute
            top 8px 
            right 0
            width 12px
            height 6px
            background-image url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.707107' y1='1.29289' x2='9.70711' y2='10.2929' stroke='black' stroke-width='2'/%3E%3Cline x1='19.7071' y1='1.70711' x2='9.70711' y2='11.7071' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain

    &__sorting-items
        position absolute
        top 100%
        left -16px    
        z-index 2
        margin-top 20px
        width 210px
        background-color #fff
        border 1px solid rgba(0, 0, 0, 0.2)
        opacity 0
        visibility hidden
        transition opacity .3s
        &.is-show-sorting-items
            opacity 1
            visibility visible

    &__sorting-item
        font-size 15px
        color #000
        font-weight 500
        line-height 25px
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
        padding 15px 15px
        display block
        transition background-color .3s
        &:hover
            color #000
            background-color rgba(0, 0, 0, 0.1)
            text-decoration none

    &__items
        display flex
        flex-wrap wrap
        margin-left -30px

    &__item
        flex 0 0 33.333%
        width 33.333%
        max-width 33.333%
        padding-left 30px
        margin-bottom 30px

        @media (max-width 1360px)
            flex 0 0 50%
            width 50%
            max-width 50%

        @media (max-width 768px)
            flex 0 0 100%    
            width 100%
            max-width 100%
            margin-bottom 0
    
    &__body
        &:hover
            & ^[0]

                &__content
                    border-color #000

    &__img
        display block
        height 310px    
        background-size cover
        background-position 50% 50%
        background-repeat no-repeat

        img
            display none       

        @media (max-width 640px)
            height 220px     
    
    &__content
        padding 15px 20px 20px
        border-right 1px solid rgba(0, 0, 0, 0.2)
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
        border-left 1px solid rgba(0, 0, 0, 0.2)
        transition border-color .3s

        @media (max-width 768px)
            border none

    &__name
        font-size 16px
        color #000  
        font-weight 500
        line-height 25px
        display block
        margin-bottom 10px
        width 350px
        max-width 100%
        &:hover
            text-decoration none
            color #000000

        @media (max-width 768px)
            width 100%   

    &__info
        display flex
        align-items center    

        @media (max-width 1919px)
            flex-wrap wrap

    &__area
        font-size 15px
        color #000
        font-weight 500
        line-height 25px
        text-align center
        background #EFEBDE
        border-radius 3px
        padding 13px 15px
        flex 1 1 50%
        margin-right 10px

        @media (max-width 1919px)
            flex 1 1 25%

    &__price
        margin-right 10px
        flex 0 0 160px
        width 160px
        max-width 160px
        &.price-default
            padding-top 17px
            padding-bottom 17px    

        @media (max-width 1919px)
            margin-right 0
            flex 1 1 50% 
            width auto
            max-width 100%   

    &__btn-more
        &.btn-default
            flex 1 1 50%
            min-width auto
            padding-top 17px
            padding-bottom 17px

        @media (max-width 1919px)
            margin-top 10px    
            