<div block="projects">
    <div elem="section" class="contain">
        <div elem="sorting">
            <div elem="sorting-title">Сортировать</div>
            <div elem="sorting-body">
                <div elem="sorting-current" class="js-sorting-current">сначала популярное</div>
                <div elem="sorting-items" class="js-sorting-items">
                    <a elem="sorting-item" href="#">сначала популярное</a>
                    <a elem="sorting-item" href="#">по цене</a>
                    <a elem="sorting-item" href="#">по площади</a>
                </div>
            </div>
        </div>
        <div elem="items">
            <div elem="item" class="js-animate-scroll-reveal">
                {% include "form-free-calc.html" %}
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/5.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/3.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/2.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/1.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/4.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/5.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/3.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/2.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/1.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/4.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-animate-scroll-reveal">
                <div elem="body">
                    <a elem="img" href="#"><img src="img/5.jpg" alt=""></a>
                    <div elem="content">
                        <a elem="name" href="#">Дом из оцилиндрованного бревна 5.2м×7.6м ОЦБ1</a>
                        <div elem="info">
                            <div elem="area">145 м2</div>
                            <div elem="price" class="price-default">2 950 000 ₽</div>
                            <a elem="btn-more" class="btn-default btn-simple" href="#">Подробности</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "pagination.html" %}
    </div>
</div><!-- projects -->
