.stocks-in

    &__top
        padding 95px 85px 58px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        @media (min-width: 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-top 120px
            padding-bottom 30px

        @media (max-width: 767px)
            padding-bottom 20px
            padding-top 100px

    &__h1
        position relative
        font-style normal
        font-weight 500
        font-size 49px
        line-height 56px
        color #000000

        @media (max-width: 1119px)
            font-size 35px
            line-height 42px

        @media (max-width: 640px)
            font-size 25px
            line-height 35px

    &__content
        padding 50px 85px 115px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        // @media (min-width: 1200px)
        //     padding-right 125px
        //     padding-left 125px

        // @media (min-width: 1200px)
        //     padding-right 125px
        //     padding-left 125px

        @media (max-width 1769px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-bottom 40px
            padding-top 25px

    &__items
        display flex
        flex-wrap wrap

        @media (max-width: 767px)
            flex-direction column

    &__item

        &--left
            max-width 446px
            min-width 446px

            @media (max-width: 767px)
                max-width 100%
                min-width 0
                text-align center
                margin-bottom 15px

        &--right
            flex 1
            padding-left 43px
            box-sizing border-box

            @media (max-width: 767px)
                padding-left 0

    &__img
        font-size 0
        line-height 0

        img
            max-width 100%
            height auto

    &__name
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 12px

        @media (max-width: 767px)
            font-size 20px
            line-height 30px

    &__desk
        font-style normal
        font-weight normal
        font-size 18px
        line-height 35px
        color #000000
        margin-bottom 12px

    &__list
        margin-bottom 12px

    &__list-name
        font-style normal
        font-weight 500
        font-size 18px
        line-height 35px
        color #000000
        margin-bottom 15px

    &__text
        font-style normal
        font-weight normal
        font-size 18px
        line-height 35px
        color #000000
        margin-bottom 30px

    &__list-item
        position relative
        padding-left 24px
        box-sizing border-box
        font-style normal
        font-weight normal
        font-size 18px
        line-height 40px
        color #000000

        &:before
            position absolute
            left 0
            top 15px
            width 10px
            height 10px
            border 3px solid #000
            border-radius 50%
            content ''

        @media (max-width: 1440px)
            font-size 16px
            line-height 25px

    &__phone
        background #EFEBDE
        padding 17px 42px 15px
        box-sizing border-box

        @media (max-width 899px)
            width 100%
            margin-left 0

        @media (max-width 640px)
            padding 17px 20px

    &__phone-text
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000

    &__phone-name
        display flex
        align-items center
        margin-bottom 3px

        a
            font-weight bold
            font-size 18px
            line-height 45px
            color #000000

    &__phone-icon
        display flex
        margin-right 14px

        .svg-icon
            fill #000000
