<div block="stocks-in">
	{# <div elem="top">
		{% include "s-path.html" %}
		<h1 elem="h1">
			Замена ондулина на оцинкованный профнастил
		</h1>
	</div> #}
	<div elem="content">
		<div elem="items">
			<div elem="item" mods="left">
				<div elem="img">
					<img src="img/stocks-in.jpg" alt="">
				</div>
			</div>
			<div elem="item" mods="right">
				<div elem="name">Акция действует до 30 августа</div>
				<div elem="desk">
					При заказе строительства до 30 августа 2020 года вместо ондулина мы бесплатно установим оцинкованный профнастил
				</div>
				<div elem="list-name">Акция действуте при заказе:</div>
				<div elem="list">
					<div elem="list-item">Строительство дома</div>
					<div elem="list-item">Строительство бани</div>
				</div>
				<div elem="text">Уточняйте подробности акции у наших менеджеров</div>
				<div elem="phone">
					<div elem="phone-name">
						<div elem="phone-icon">{{ _icon('phone', { tag: 'span' }) }}</div>
						<a href="tel:+7 495 902 61 04">+7 495 902 61 04</a>
					</div>
					<div elem="phone-text">
						Москва, Каширское шоссе, владение 63, корпус 1, строение 52 Режим работы выставки с 10:00 до 20:00
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:stocks-in -->
