<div block="news-in">
	{# <div elem="top">
		{% include "s-path.html" %}
		<h1 elem="h1">
			Дом из бруса под ключ цена
		</h1>
	</div> #}
	<div elem="content">
		<div elem="news">
			<p>
				Мы самостоятельно занимаемся производством и подготовкой древесины для постройки, используя для этого современное оборудование, что существенно снижает цену строительных материалов
			</p>

			<h2>Заголовок второго уровня</h2>

			<ul>
				<li>
					Мы самостоятельно занимаемся производством и подготовкой древесины для постройки, используя для этого современное оборудование, что существенно снижает цену строительных материалов
				</li>
				<li>
					Мы самостоятельно осуществляем доставку и разгрузку на объекте в Москве или Подмосковье
				</li>
				<li>
					Мы сами выполняем закупку всех сопутствующих материалов
				</li>
			</ul>

			<figure>
				<p><img src="img/news-in.jpg"></p>
				<figcaption>Подпись к картинке</figcaption>
			</figure>

			<p>
				Дома из дерева строятся со времен зарождения человеческой цивилизации и домостроения. Легно (leqno с латинского буквально - древесина) ещё в древнем Риме означало ценные породы дерева пригодных для строительства. Домус (domus с латинского - дом, жилище) это уют и атмосфера домашнего тепла. Компания ЛегноДомус воплощение экологичного и качественного строительства из древесины российского производства для душевного и уютного дома, отражающего индивидуальность и характер жильцов.
			</p>
		</div>
	</div>
</div><!-- b:news-in -->
