.news-in

    &__top
        padding 95px 85px 58px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        @media (min-width: 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-top 120px
            padding-bottom 30px

        @media (max-width: 767px)
            padding-bottom 20px
            padding-top 100px

    &__h1
        position relative
        font-style normal
        font-weight 500
        font-size 49px
        line-height 56px
        color #000000

        @media (max-width: 1119px)
            font-size 35px
            line-height 42px

        @media (max-width: 640px)
            font-size 25px
            line-height 35px

    &__content
        padding 50px 85px 100px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        // @media (min-width: 1200px)
        //     padding-right 125px
        //     padding-left 125px

        // @media (min-width: 1200px)
        //     padding-right 125px
        //     padding-left 125px

        @media (max-width 1769px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-bottom 40px
            padding-top 25px

    &__news

        p
            font-style normal
            font-weight normal
            font-size 18px
            line-height 28px
            color #000000

            @media (max-width: 1440px)
                font-size 16px
                line-height 25px

        figure

            figcaption
                font-style normal
                font-weight normal
                font-size 15px
                line-height 28px
                color #000000

        ul
            list-style none
            padding 0
            margin 0 0 40px

            li
                position relative
                padding-left 25px
                box-sizing border-box
                font-style normal
                font-weight normal
                font-size 18px
                line-height 38px
                color #000000

                &:before
                    position absolute
                    left 0
                    top 14px
                    width 10px
                    height 10px
                    border 3px solid #000
                    border-radius 50%
                    content ''

                @media (max-width: 1440px)
                    font-size 16px
                    line-height 25px
