<div block="main-about" class="js-animate-scroll-reveal">
	<div elem="sections">
		<div elem="section" mods="left">
			<div elem="title">Несколько слов о нас</div>
            <div elem="img-mobile">
                <div elem="img" mods="mobile" style="background-image: url('img/manufactory2.jpg');"></div>
            </div>
			<div elem="desk">
				Компания Legno Domus занимается строительством домов из дерева в Москве и Московской области. На нашем сайте вы сможете найти готовые типовые проекты каркасных и брусовых деревянных сооружений. Кроме того, мы можем построить здание любого типа сложности по вашему индивидуальному проекту.
			</div>
			<div elem="list" mods="name">
				<div elem="list-name">Преимущества сотрудничества с нами</div>

				<div elem="item">Мы самостоятельно занимаемся производством и подготовкой древесины для постройки, используя для этого современное оборудование, что существенно снижает цену строительных материалов</div>
				<div elem="item">Мы самостоятельно осуществляем доставку и разгрузку на объекте в Москве или Подмосковье</div>
				<div elem="item">Мы сами выполняем закупку всех сопутствующих материалов</div>
				<div elem="item">Нашими руками построено уже более 800 деревянных домов и бань</div>
				<div elem="item">Нашими руками построено уже более 800 деревянных домов и бань</div>
				<div elem="item">Опыт наших мастеров в домостроении позволяет завершить постройку в четко установленный срок</div>
				<div elem="item">Мы даем гарантию до двух лет на нашу работу и устраним возможные неполадки в течение гарантийного срока</div>
				<div elem="item">Оплата нашей работы осуществляется по ее завершении</div>
			</div>

		</div>
		<div elem="section" mods="right">
			<div elem="img" style="background-image: url('img/manufactory2.jpg');"></div>

			<div elem="list">
				<div elem="list-name">Предложение компании Legno Domus</div>
				<div elem="label">
					<div elem="text">Вы можете заказать строительство следующих вариантов деревянных домов и коттеджей:</div>

					<div elem="item">каркасных;</div>
					<div elem="item">выполненных из бруса;</div>
					<div elem="item">выполненных из бревен;</div>
					<div elem="item">домов с выпускными чашами;</div>
					<div elem="item">бань различных типов.</div>
				</div>
				<div elem="label">
					<div elem="text">Мы осуществляем постройку сооружений различной этажности и размеров. Помимо непосредственного возведения деревянных домов, мы выполняем следующие виды работ:</div>

					<div elem="item">подведение канализации;</div>
					<div elem="item">монтаж электрики, отопления и сантехники;</div>
					<div elem="item">установку заборов;</div>
					<div elem="item">меблировку.</div>
				</div>


			</div>
		</div>
	</div>
    <div elem="bottom-section">
        <div elem="msg">
            Для получения более подробной информации по строительству домов под ключ вы можете позвонить нам по телефону. Персональный менеджер поможет рассчитать примерную стоимость постройки и ответит на все интересующие вопросы.
        </div>
        <div elem="phone">
            <div elem="phone-name">
                <div elem="phone-icon">{{ _icon('phone', { tag: 'span' }) }}</div>
                <a href="tel:+7 495 902 61 04">+7 495 902 61 04</a>
            </div>
            <div elem="phone-text">
                Москва, Каширское шоссе, владение 63, корпус 1, строение 52 Режим работы выставки с 10:00 до 20:00
            </div>
        </div>
    </div>
</div><!-- b:main-about -->
