.main-about
    padding-bottom 95px

    @media (max-width 1440px)
        padding-bottom 50px

    @media (max-width 640px)    
        padding-bottom 0

    &__sections
        padding 80px 85px 0
        box-sizing border-box
        display flex
        flex-wrap wrap
        margin-left -72px

        @media (max-width 1440px)
            padding-right 120px
            padding-left 120px
            
        @media (min-width: 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width 899px)
            display block   
            padding-top 0
            padding-right 20px
            padding-left 20px 
            margin-left 0
        
    &__section
        width calc(50% - 72px)
        margin-left 72px

        @media (max-width 899px)
            width 100%
            margin-left 0
        
    &__title
        font-style normal
        font-weight 500
        font-size 49px
        line-height 56px
        color #000000
        margin-bottom 20px

        @media (min-width 1770px)
            font-size 49px
            line-height 56px
        
        @media (max-width 1440px)
            font-size 40px
            line-height 46px

        @media (max-width 1119px) 
            font-size 25px
            line-height 35px
        
    &__desk
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 44px

        @media (min-width 1770px)
            font-size 24px
            line-height 35px

        @media (max-width 1440px)
            font-size 16px
            line-height 25px

        @media (max-width 899px)
            margin-bottom 15px    
        
    &__msg
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000
        width 50%

        @media (min-width 1770px)
            font-size 18px
            line-height 28px

        @media (max-width 1440px)
            font-size 16px
            line-height 25px

        @media (max-width 899px)
            width 100%    
            margin-bottom 15px
            padding-right 20px
            padding-left 20px
        
    &__list
        
        &--name
            margin-bottom 85px

            @media (min-width 1770px)
                margin-bottom 85px

            @media (max-width 1440px)
                margin-bottom 75px

            @media (max-width 899px)
                margin-bottom 15px    
            
    &__list-name
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 10px

        @media (min-width 1770px)
            font-size 24px
            line-height 35px

        @media (max-width 1440px)
            font-size 20px
            line-height 30px
        
    &__item
        position relative
        margin-bottom 15px
        padding-left 23px
        box-sizing border-box
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000

        @media (min-width 1770px)
            font-size 24px
            line-height 35px

        @media (max-width 1440px)
            font-size 16px
            line-height 25px
        
        &:last-child
            margin-bottom 0
            
        &:before
            position absolute
            left 0
            top 8px
            width 10px
            height 10px
            border 3px solid #000
            border-radius 50%
            content ''

    &__img-mobile
        
        @media (max-width 899px)
            margin-right -20px
            margin-left -20px
            
    &__img
        width 715px
        max-width 100%
        height 312px
        font-size 0
        line-height 0
        margin-bottom 48px
        background-size cover
        background-position 50% 50%
        background-repeat no-repeat

        @media (min-width 900px)
            margin-top 20px

        @media (max-width 899px)
            display none

        &--mobile
            display none

            @media (max-width 899px)
                width 100%
                display block
                margin-bottom 15px
            
    &__text
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000
        margin-bottom 10px
        
    &__label
        margin-bottom 37px

        @media (max-width 899px)
            margin-bottom 15px
        
        &:nth-child(3)
            margin-bottom 85px

            @media (min-width 1770px)
                margin-bottom 85px

            @media (max-width 1440px)
                margin-bottom 75px

            @media (max-width 899px)
                margin-bottom 15px    
        
    &__phone
        background #EFEBDE
        padding 17px 42px 15px
        box-sizing border-box
        width 50%
        margin-left 55px

        @media (max-width 899px)
            width 100%
            margin-left 0

        @media (max-width 640px)    
            padding 17px 20px
        
    &__phone-text
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000
        
    &__phone-name
        display flex
        align-items center
        margin-bottom 3px
        
        a
            font-weight bold
            font-size 18px
            line-height 45px
            color #000000
        
    &__phone-icon
        display flex
        margin-right 14px
        
        .svg-icon
            fill #000000
    
    &__bottom-section
        display flex   
        padding-right 85px
        padding-left 85px
        
        @media (max-width 1440px)
            padding-right 120px
            padding-left 120px
            
        @media (min-width: 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width 899px)
            padding-right 0
            padding-left 0      
            display block
        