.services
    padding-top 40px
    padding-bottom 50px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    &--services-in-additional
        border-bottom none 
        padding-top 0
        padding-bottom 0

    @media (max-width 1119px)
        padding-top 20px
        padding-bottom 30px

    &__head
        margin-bottom 35px

    &__desc
        font-size 24px
        color #000
        font-weight 500
        line-height 35px

        @media (max-width 767px)
            font-size 18px
            line-height 26px

    &__items
        display flex
        flex-wrap wrap 
        margin-left -30px
        counter-reset num

        &--extra

            & ^[0]

                &__body
                    padding 20px 20px 30px   

                    @media (max-width 1119px)
                        padding 15px

        @media (max-width 767px)
            display block

    &__item
        flex 0 0 33.333%
        width 33.333%
        max-width 33.333%
        padding-left 30px
        margin-bottom 50px
        
        @media (max-width 1119px)
            margin-bottom 30px

        @media (max-width 767px)
            width 100%
            max-width 100%      

    &__body
        padding 30px 30px 35px
        border 1px solid #CCC
        position relative
        min-height 190px

        @media (max-width 1119px)
            padding 20px
            min-height auto

    &__ordinal-num
        font-size 94px
        color #EFEBDE
        font-weight 500
        line-height 35px
        position absolute
        top -5px
        left 20px
        z-index 1
        &:before
            counter-increment num
            content counter(num)

        @media (max-width 1119px)
            font-size 75px    

    &__name
        font-size 24px
        color #000 
        font-weight 500
        line-height 35px
        margin-bottom 5px
        position relative
        z-index 2

        br
            @media (max-width 767px)
                display none

        @media (max-width 1119px)
            font-size 18px
            line-height 26px
            

    &__text
        font-size 18px
        color #000 
        font-weight normal
        line-height 28px

        @media (max-width 1119px)
            font-size 16px
            line-height 26px

    &__more-desc
        margin-bottom 55px
        width 1000px
        max-width 100%

        p
            font-size 24px
            color #000    
            font-weight 500
            line-height 35px

            @media (max-width 1119px)
                font-size 18px
                line-height 26px

        @media (max-width 1119px)        
            margin-bottom 25px

    &__btn-more
        margin-top 10px
        &.btn-default
            display inline-block
            min-width 180px    

            @media (max-width 767px)
                min-width auto
                display block