<div block="services">
    <div elem="section" class="contain">
        <div elem="head">
            <div elem="desc">Вы можете заказать у нас:</div>
        </div>
        <div elem="items">
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Монтаж сантехники</div>
                    <div elem="text">Это один из обязательных этапов при постройке домов</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Монтаж отопления</div>
                    <div elem="text">От данного момента также зависит безопасность и удобство проживания в здании</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Установка канализации</div>
                    <div elem="text">Мы обеспечиваем в дальнейшем комфортное использование монтированных нами коммуникаций</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Монтаж электрики</div>
                    <div elem="text">Мы не допустим ошибок при установке, поэтому вы можете не беспокоиться о безопасности в доме</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Установка заборов</div>
                    <div elem="text">Установка заборов различной формы, что дает возможность выбрать подходящий вариант для клиента</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Меблировка дома</div>
                    <div elem="text">Мы отвечаем за уют в вашем жилье и делаем его пригодным и комфортным для жизни</div>
                </div>
            </div>
        </div>
        <div elem="more-desc">
            <p>Обратившись в Legno Domus, можно получить полный спектр качественных услуг, которые обеспечивают комфортное проживание в доме.</p>
        </div>
        <div elem="items" mods="extra">
            <div elem="item">
                <div elem="body">
                    <div elem="name">Индивидуальное <br> проектирование</div>
                    <a elem="btn-more" class="btn-default" href="#">Перейти в раздел</a>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="name">Строительство в кредит</div>
                    <a elem="btn-more" class="btn-default" href="#">Перейти в раздел</a>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="name">Инженерные коммуникации</div>
                    <a elem="btn-more" class="btn-default" href="#">Перейти в раздел</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- services -->