<div block="form-free-calc">
    <div elem="section">
        <form elem="form">
            <div elem="title">Отправьте свой проект на бесплатный расчет</div>
            <div elem="input">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Телефон" required>
                <input type="file">
                <input type="submit" class="btn-default" value="Отправить проект на расчет">
            </div>
            <div elem="privacy-policy">
                Нажимая кнопку «Отправить» вы соглашаетесь 
                с пользовательским соглашением и ознакомились 
                с нашей политикой конфиденциальности
            </div>
        </form>
    </div>
</div><!-- form-free-calc -->