<div block="take-test">
    <div elem="section">
        <div elem="img"><img src="img/girl.png" alt=""></div>
        <div elem="info">
            <div elem="title">Пройдите тест</div>
            <div elem="desc">И получите <strong>3% скидку</strong> </div>
            <a elem="btn-take" class="btn-default js-btn-take-test" href="#">Пройти тест</a>
        </div>
    </div>
</div><!-- take-test -->
