.take-test
    width 460px
    max-width 100%
    margin-left auto 

    @media (max-width 1360px)
        margin-left 0

    &__section
        display flex
        padding 20px 25px 0
        border 1px solid rgba(0, 0, 0, 0.2)

        @media (max-width 480px)
            padding 0
            border 0

    &__img
        flex 0 0 140px
        width 140px
        max-width 140px
        margin-right 20px

        @media (max-width 480px)
            display none

    &__info
        @media (max-width 480px)
            width 100%        

    &__title
        font-size 24px
        color #000    
        font-weight 500
        line-height 35px
        margin-bottom 10px

        @media (max-width 1439px)
            font-size 18px
            margin-bottom 0

    &__desc
        font-size 18px
        color #000
        font-weight normal
        line-height 28px
        margin-bottom 15px

        strong
            font-weight 500

        @media (max-width 1439px)
            font-size 16px
            line-height 20px

    &__btn-take

        &.btn-default
            min-width auto
            width 200px 

            @media (max-width 1439px)
                width 160px

            @media (max-width 480px)
                width 100%