.contacts
    display flex
    justify-content center
    margin-bottom 35px

    &__phone
        display flex
        align-items flex-end

        a
            font-size 18px
            color #FFF4DE
            font-weight bold
            line-height 20px
            display block
            &:hover
                color #FFF4DE
                text-decoration none
    
    &__icon
        width 14px
        margin-right 15px        