<div block="contacts">
    <div elem="phone">
        <i elem="icon"><img src="img/phone-icon.svg" alt=""></i>
        <a href="tel:+74959026104">+7 495 902 61 04</a>
    </div>
</div><!-- contacts -->