.stages-cooperation

    &__items
        display flex
        flex-wrap wrap 
        margin-left -30px
        counter-reset num

        @media (max-width 767px)
            display block

    &__item
        flex 0 0 33.333%
        width 33.333%
        max-width 33.333%
        padding-left 30px
        margin-bottom 50px
        
        @media (max-width 1119px)
            margin-bottom 30px

        @media (max-width 767px)
            width 100%
            max-width 100%      

    &__body
        padding 30px 30px 35px
        border 1px solid #CCC
        position relative
        min-height 190px

        @media (max-width 1119px)
            padding 20px
            min-height auto

    &__ordinal-num
        font-size 94px
        color #EFEBDE
        font-weight 500
        line-height 35px
        position absolute
        top -5px
        left 20px
        z-index 1
        &:before
            counter-increment num
            content counter(num)

        @media (max-width 1119px)
            font-size 75px    

    &__name
        font-size 24px
        color #000 
        font-weight 500
        line-height 35px
        margin-bottom 5px
        position relative
        z-index 2

        br
            @media (max-width 767px)
                display none

        @media (max-width 1119px)
            font-size 18px
            line-height 26px

    &__list
        list-style-type none
        padding-left 0
        margin-bottom 30px

        li
            font-size 18px
            color #000
            font-weight normal
            line-height 28px
            position relative
            padding-left 23px
            margin-bottom 15px
            &:before
                content ''    
                position absolute
                left 0
                top 8px
                width 10px
                height 10px
                border 3px solid #000
                border-radius 50%

            @media (max-width 767px)
                font-size 16px
                line-height 26px

    &__text
        font-size 18px
        color #000 
        font-weight normal
        line-height 28px

        @media (max-width 1119px)
            font-size 16px
            line-height 26px