<div block="stages-cooperation">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Выбор и согласование проекта</div>
                    <ul elem="list">
                        <li>Подготовка тех. задания (согласование необходимой комплектации для определенного проекта, с учетом условий его эксплуатации).</li>
                        <li>Прорисовка архитектурного решения (Внесение изменений в типовой проект или подготовка проекта с «0», 
с учетом пожеланий заказчика).</li>
                    </ul>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Подбор необходимых подрядчиков на дополнительные работы — внутренние инженерные работы</div>
                    <ul elem="list">
                        <li>Наружные инженерные работы;</li>
                        <li>септик;</li>
                        <li>скважина;</li>
                        <li>фундамент;</li>
                        <li>забор.</li>
                    </ul>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Заключение договора</div>
                    <div elem="text">Согласование графика работ и оплат по договору</div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Начало строительства</div>
                    <ul elem="list">
                        <li>Доставка материала и размещение строителей на площадке;</li>
                        <li>предоставление заказчику фото и видео отчетов о проделанных работах и этапах строительства.</li>
                    </ul>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="ordinal-num"></div>
                    <div elem="name">Сдача строительного объекта заказчику</div>
                    <div elem="text">Подписание акта приемки дома и финальный расчет</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- stages-cooperation -->