<div block="main-guarantee" class="js-animate-scroll-reveal">
	<div elem="sections">
		<div elem="section" mods="left">
			<div elem="title">Гарантии нашей<br>компании</div>
			<div elem="blocks">

				<div elem="block">
					<div elem="block-name">Персональный менеджер</div>
					<div elem="block-text">Вы может получить консультацию по любому вопросу у своего менеджера</div>
				</div>

				<div elem="block">
					<div elem="block-name">Оплата по факту выполненных работ</div>
					<div elem="block-text">Мы уверены в том, что наша работа вам понравится, поэтому не берем предоплату</div>
				</div>


				<div elem="block">
					<div elem="block-name">Доставка и разгрузка материала</div>
					<div elem="block-text">Все не приятные хлопоты берем на себя, вы лишь оцениваете результат</div>
				</div>

				<div elem="block">
					<div elem="block-name">Закупка всех материалов</div>
					<div elem="block-text">Мы самостоятельно доставим материалы на объект</div>
				</div>

				<div elem="block">
					<div elem="block-name">Гарантийный ремонт и устранение недостатков</div>
					<div elem="block-text">Гарантийный период на все выявленные недостатки устраняются в максимально кротчайшие сроки</div>
				</div>

				<div elem="block">
					<div elem="block-name">Качественное строительство</div>
					<div elem="block-text">Берем за свои услуги ровно столько, сколько это стоит, гарантируя качественное строительство</div>
				</div>

			</div>
		</div>
		<div elem="section" mods="right">
			<div elem="baner">
				<div elem="baner-top">
					<div elem="baner-name">
						Узнайте стоимость дома и получите скидку на строительство
					</div>
					<div elem="baner-desk">
						Пройдите несложный тест  и рассчитайте стоимость дома,  а также получите гарантированную скидку на строительство
					</div>
					<div elem="baner-btn">
						<a class="js-btn-take-test" href="#">Пройти тест</a>
					</div>
				</div>
				<div elem="baner-bot">
                    <div elem="img"><img src="img/girl.png" alt=""></div>
                </div>
			</div>
		</div>
	</div>
</div><!-- b:main-guarantee -->
