.main-guarantee
    // margin-bottom 100px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    &__sections
        padding 80px 85px 80px
        box-sizing border-box
        display flex
        flex-wrap wrap

        @media (min-width 1770px)
            padding 80px 85px 80px

        @media (min-width 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width 1440px)
            padding-bottom 50px

        @media (max-width 899px)
            padding-right 20px
            padding-left 20px
            padding-bottom 0
            display block

    &__section

        &--left
            flex 1
            margin-right 86px

            @media (max-width 1440px)
                margin-right 38px

        &--right
            width 458px
            min-width 458px
            align-self flex-start

            @media (max-width 1119px)
                width 230px
                min-width 230px

            @media (max-width 899px)
                width 100%
                min-width auto
                margin-top 25px

    &__title
        font-style normal
        font-weight 500
        font-size 49px
        line-height 56px
        color #000000
        // padding-top 55px
        margin-bottom 28px
        position relative
        &:before
            content ''
            position absolute
            top -50px
            left 0
            width 40px
            height 40px
            background url('../img/our-advantages3-icon.svg') 0 0 no-repeat

        @media (min-width 1770px)
            font-size 49px
            line-height 56px

        @media (min-width 1200px)
            font-size 40px
            line-height 46px

        @media (max-width 1119px)
            font-size 25px
            line-height 35px

    &__blocks
        display flex
        flex-wrap wrap
        margin-left -86px

        @media (max-width 1440px)
            margin-left -35px

        @media (max-width 899px)
            display block

        @media (max-width 899px)
            margin-left 0

    &__block
        width calc(50% - 86px)
        margin-left 86px
        margin-bottom 82px

        @media (max-width 1440px)
            width calc(50% - 35px)
            margin-left 35px
            margin-bottom 55px

        @media (max-width 899px)
            width 100%
            margin-left 0
            margin-bottom 1px

    &__block-name
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 12px

        @media (min-width 1770px)
            font-size 24px
            line-height 35px

        @media (min-width 1200px)
            font-size 20px
            line-height 30px

        @media (max-width 1119px)
            font-size 20px
            line-height 30px

    &__block-text
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000

    &__baner
        background #EFEBDE
        height 100%

        @media (max-width 899px)
            margin-right -20px
            margin-left -20px

    &__baner-top
        padding 68px 66px 97px
        box-sizing border-box
        background-image url("data:image/svg+xml,%3Csvg width='458' height='34' viewBox='0 0 458 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.5' x2='164' y2='1.5' stroke='white' stroke-width='3'/%3E%3Cline x1='188' y1='1.5' x2='458' y2='1.49998' stroke='white' stroke-width='3'/%3E%3Cline x1='189.5' y1='2' x2='189.5' y2='34' stroke='white' stroke-width='3'/%3E%3Cline x1='163.164' y1='1.05411' x2='189.164' y2='33.0541' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A")
        background-repeat no-repeat
        background-position bottom center
        background-size contain

        @media (max-width 1440px)
            padding 30px 40px 60px

        @media (max-width 1119px)
            padding 20px 30px 60px

        @media (max-width 899px)
            padding-bottom 80px

    &__baner-name
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 20px

        @media (max-width 1440px)
            font-size 20px
            line-height 30px

    &__baner-desk
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000
        margin-bottom 26px

    &__baner-btn

        a
            display inline-block
            background #00AC78
            border-radius 3px
            padding 17px 54px 17px
            box-sizing border-box
            font-style normal
            font-weight 500
            font-size 15px
            line-height 1
            text-align center
            color #FFFFFF
            transition all 0.5s

            @media (max-width 1119px)
                padding-right 35px
                padding-left 35px

            &:hover
                background #04D999
                text-decoration none
                transition all 0.5s

            &:active
                background #00AC78
                box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)
                transition all 0.5s

    &__baner-bot
        padding-top 68px

        @media (max-width 1119px)
            padding-top 40px

    &__img
        width 280px
        margin 0 auto
        background url('../img/logo-bg.svg') 0 20px no-repeat
        background-size contain

        @media (max-width 1119px)
            width 160px
