<div block="gallery">
    <div elem="items">
        <div elem="item">
            <div elem="img"><img src="img/project/photo1.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo2.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo3.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo4.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo1.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo2.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo3.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo4.png" alt=""></div>
        </div>
        <div elem="item">
            <div elem="img"><img src="img/project/photo4.png" alt=""></div>
        </div>
    </div>
</div><!-- gallery -->