.gallery

    &__items
        display flex
        flex-wrap wrap
        margin-left -30px

    &__item
        flex 0 0 20%
        width 20%
        max-width 20% 
        padding-left 30px
        margin-bottom 30px

        @media (max-width 1279px)
            flex 0 0 25%
            width 25%
            max-width 25%

        @media (max-width 768px)    
            flex 0 0 33.333%
            width 33.333%
            max-width 33.333%

        @media (max-width 640px)
            flex 0 0 50%
            width 50%
            max-width 50%

        @media (max-width 440px)
            flex 0 0 100%
            width 100%
            max-width 100%   