<div block="about">
	{# <div elem="about-top">
		{% include "s-path.html" %}
		<h1 elem="h1">
			О компании
		</h1>
	</div> #}
	<div elem="about-content">
		<div elem="about-block">
			<div elem="about-left">
				<div elem="about-text">
					Legno Domus — это современная компания, которая успешно осуществляет возведение, продажу и разработку проектов зданий. Все наши сотрудники являются специалистами с высокой квалификацией. У нас клиенты всегда могут получить подробную консультацию насчет выбора заказа, и мы с радостью ответим на все интересующие вопросы
				</div>
				<div elem="about-msg">Уже построили более 800 домов и бань<br>по всей России</div>
				<div elem="about-wr">
					<div elem="about-name">Преимущества сотрудничества с нами</div>
					<div elem="about-list">
						<div elem="about-item">Собственное производство и возможность автономного возведения зданий, независимо от других фирм. Поэтому у нас недорогие и качественные дома за короткий срок!</div>
						<div elem="about-item">Высококачественные материалы. Деревянные дома возводятся из экологически чистого сырья без вредных для здоровья добавок.</div>
						<div elem="about-item">Возможность для клиента избавиться от хлопот по доставке и установке, так как все это наши заботы.</div>
					</div>
				</div>
			</div>
			<div elem="about-right">
				<div elem="img">
					<img src="img/about.jpg" alt="">
				</div>
				<div elem="pic-list">
					<div elem="pic-item">
						<div elem="pic-icon">
							<svg width="46" height="55" viewBox="0 0 46 55" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.7129 26.2481H16.1396V19.5967C15.8206 19.6697 15.513 19.7654 15.2168 19.8839C14.9251 20.0023 14.6585 20.1459 14.417 20.3145L13.3506 18.7901C13.7425 18.544 14.1413 18.3366 14.5469 18.168C14.957 17.9949 15.3695 17.8581 15.7842 17.7579C16.2035 17.6531 16.6227 17.5779 17.042 17.5323C17.4658 17.4867 17.8874 17.4639 18.3066 17.4639L18.2998 17.4776H18.3066V26.2481H20.624V28.1485H13.7129V26.2481ZM22.0801 23.9649L28.3281 17.4639H30.4951V23.9649H32.7988V25.8653H30.4951V28.1485H28.3281V25.8653H22.0664L22.0801 23.9649ZM28.3281 23.9649V20.2051L24.6777 23.9649H28.3281Z" fill="black"/>
							<circle cx="23.0918" cy="23.1485" r="19" stroke="black" stroke-width="2"/>
							<path d="M30.5921 10.1484C41.0921 16.1484 41.0921 33.1484 26.0921 38.1484M20.0921 38.1484C4.09201 33.1485 5.59206 14.1485 16.592 10.1485" stroke="black" stroke-width="2"/>
							<circle cx="23.0918" cy="38.1485" r="1" fill="black"/>
							</svg>
						</div>
						<div elem="pic-text">14 лет<br>на рынке</div>
					</div>

					<div elem="pic-item">
						<div elem="pic-icon">
							<svg width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M36.0088 14.9964L34.2596 12.6132C33.8665 12.0795 33.3001 11.6991 32.6574 11.5371C32.0146 11.3752 31.3356 11.4417 30.7365 11.7253L24.3312 2.06672C24.2685 1.95084 24.1997 1.83835 24.1251 1.72973L24.1154 1.71546C23.8399 1.32019 23.4891 0.983208 23.0831 0.723857C22.6771 0.464505 22.2238 0.287888 21.7494 0.204142C21.2749 0.120396 20.7886 0.131169 20.3184 0.235844C19.8481 0.340519 19.4031 0.537034 19.009 0.814112L2.29154 12.5594C1.91883 12.7616 1.57727 13.0165 1.27743 13.3162C0.865428 13.7282 0.540151 14.2186 0.320814 14.7584C0.101477 15.2982 -0.00747294 15.8764 0.000397979 16.459C0.0082689 17.0416 0.132801 17.6167 0.366641 18.1504C0.60048 18.684 0.938885 19.1654 1.36187 19.5661L12.9738 30.5671V32.5805H11.8927C11.0328 32.5814 10.2084 32.9234 9.60031 33.5315C8.99225 34.1395 8.65023 34.964 8.64929 35.8239V36.905C8.65023 37.7649 8.99225 38.5894 9.60031 39.1974C10.2084 39.8055 11.0328 40.1475 11.8927 40.1484H24.8664C25.7263 40.1475 26.5507 39.8055 27.1588 39.1974C27.7668 38.5894 28.1088 37.7649 28.1098 36.905V35.8239C28.1088 34.964 27.7668 34.1395 27.1588 33.5315C26.5507 32.9234 25.7263 32.5814 24.8664 32.5805H23.7852V29.337C23.7846 28.5125 23.5951 27.6991 23.231 26.9593C22.867 26.2195 22.3383 25.573 21.6854 25.0694L21.6889 25.0654L7.13818 13.0374C6.8537 12.8036 6.54101 12.6065 6.20743 12.4506L20.252 2.58307C20.5763 2.3552 20.9776 2.26516 21.3682 2.3327C21.7587 2.40023 22.1065 2.61983 22.3354 2.94336L22.3422 2.95342C22.5658 3.27138 22.6564 3.66406 22.5947 4.04783C22.533 4.43161 22.324 4.77613 22.012 5.00801L11.2445 13.0775C11.1308 13.1626 11.0351 13.2693 10.9627 13.3914C10.8903 13.5135 10.8427 13.6487 10.8225 13.7893C10.8024 13.9298 10.8101 14.0729 10.8453 14.2105C10.8804 14.3481 10.9423 14.4773 11.0275 14.591C11.1994 14.8204 11.4554 14.9722 11.7393 15.0129C11.8798 15.0331 12.0229 15.0253 12.1605 14.9902C12.2981 14.955 12.4273 14.8931 12.541 14.8079L19.8243 9.34954L25.0984 15.8616C24.6472 16.3479 24.3796 16.9762 24.3416 17.6385C24.3037 18.3007 24.4977 18.9555 24.8904 19.4901L26.6394 21.8734C26.8091 22.1045 27.0637 22.2588 27.3471 22.3022C27.6306 22.3457 27.9197 22.2748 28.1508 22.1051C28.382 21.9354 28.5363 21.6808 28.5797 21.3974C28.6232 21.114 28.5523 20.8249 28.3826 20.5937L26.6335 18.2105C26.5249 18.0624 26.4795 17.8773 26.5074 17.6958C26.5352 17.5143 26.6341 17.3513 26.7821 17.2426L31.5485 13.7442C31.6967 13.6358 31.8818 13.5905 32.0632 13.6184C32.2447 13.6462 32.4077 13.7449 32.5165 13.8928L34.2656 16.276C34.3497 16.3905 34.4554 16.4873 34.5768 16.5609C34.6983 16.6344 34.833 16.6834 34.9733 16.7049C35.1137 16.7264 35.2569 16.7201 35.3948 16.6863C35.5327 16.6524 35.6626 16.5918 35.777 16.5078C35.8915 16.4237 35.9883 16.318 36.0618 16.1966C36.1354 16.0751 36.1844 15.9404 36.2059 15.8001C36.2274 15.6597 36.2211 15.5165 36.1873 15.3786C36.1534 15.2407 36.0928 15.1108 36.0088 14.9964ZM25.9475 35.8239V36.905C25.9472 37.1917 25.8332 37.4665 25.6305 37.6692C25.4278 37.8719 25.153 37.9859 24.8664 37.9862H11.8927C11.6061 37.9859 11.3312 37.8719 11.1285 37.6692C10.9259 37.4665 10.8119 37.1917 10.8116 36.905V35.8239C10.8119 35.5372 10.9259 35.2624 11.1285 35.0597C11.3312 34.857 11.6061 34.743 11.8927 34.7427H24.8664C25.153 34.743 25.4278 34.857 25.6305 35.0597C25.8332 35.2624 25.9472 35.5372 25.9475 35.8239ZM15.1361 32.5805V29.337C15.1361 28.4768 15.4778 27.6519 16.0861 27.0436C16.6944 26.4353 17.5193 26.0936 18.3795 26.0936C19.2397 26.0936 20.0647 26.4353 20.673 27.0436C21.2812 27.6519 21.623 28.4768 21.623 29.337V32.5805H15.1361ZM17.112 24.0876C16.1922 24.3111 15.347 24.7717 14.6605 25.4234C13.9739 26.0751 13.4701 26.8952 13.199 27.8022L2.84898 17.9967C2.43495 17.6046 2.18943 17.067 2.16422 16.4973C2.13901 15.9277 2.33608 15.3705 2.71384 14.9433C3.09161 14.5162 3.62054 14.2525 4.18902 14.2079C4.75751 14.1632 5.32109 14.3412 5.76086 14.7042L17.112 24.0876ZM23.3086 6.73843C23.6601 6.4745 23.9615 6.14964 24.1983 5.7793L28.9611 12.961L26.8103 14.5394L21.5559 8.05174L23.3086 6.73843Z" fill="black"/>
							<path d="M18.38 30.4182C18.9771 30.4182 19.4611 29.9342 19.4611 29.3371C19.4611 28.74 18.9771 28.2559 18.38 28.2559C17.7829 28.2559 17.2988 28.74 17.2988 29.3371C17.2988 29.9342 17.7829 30.4182 18.38 30.4182Z" fill="black"/>
							</svg>
						</div>
						<div elem="pic-text">Полный цикл<br>производства</div>
					</div>

					<div elem="pic-item">
						<div elem="pic-icon">
							<svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5904 8.33423C13.0757 8.33423 7.7793 13.6293 7.7793 20.144C7.7793 26.6511 13.0757 31.9547 19.5904 31.9547C26.1064 31.9547 31.4015 26.6507 31.4015 20.144C31.4015 13.6293 26.1064 8.33423 19.5904 8.33423ZM19.5904 29.9498C14.1891 29.9498 9.78463 25.5556 9.78463 20.144C9.78463 14.7427 14.1802 10.3391 19.5904 10.3391C25.0006 10.3391 29.3962 14.7422 29.3962 20.144C29.3962 25.5467 24.9931 29.9498 19.5904 29.9498Z" fill="black"/>
							<path d="M38.5474 21.7653L37.8354 20.7831C37.5003 20.3244 37.4918 19.6951 37.8278 19.2284L38.5229 18.2378C39.0709 17.46 39.2674 16.4778 39.0474 15.5444C38.8261 14.6111 38.2207 13.8182 37.3772 13.368L36.3127 12.7951C35.8047 12.5249 35.5358 11.9684 35.6256 11.4031L35.8296 10.2084C35.9852 9.26666 35.7318 8.30088 35.1345 7.55644C34.5292 6.8111 33.6358 6.36177 32.6874 6.32044L31.4754 6.27155C30.9025 6.24666 30.4105 5.86133 30.2558 5.31333L29.9043 4.15866C29.495 2.74266 28.1767 1.75288 26.6954 1.75288C26.2452 1.75288 25.795 1.8431 25.3772 2.0231L24.2638 2.49733C23.7483 2.71866 23.1181 2.57999 22.7501 2.16222L21.9398 1.26177C21.3101 0.557326 20.4021 0.148438 19.4612 0.148438C18.4945 0.148438 17.5785 0.566215 16.9394 1.29422L16.1536 2.2111C15.7856 2.63644 15.163 2.78399 14.6398 2.57155L13.5181 2.11377C13.1092 1.94977 12.6838 1.85999 12.2496 1.85999C10.7523 1.85999 9.42607 2.8671 9.03229 4.31555L8.71318 5.48533C8.56562 6.03421 8.07495 6.4271 7.50206 6.45955L6.29851 6.53333C5.34918 6.58221 4.45718 7.04888 3.86784 7.80177C3.27762 8.55466 3.04118 9.52933 3.21229 10.4622L3.43362 11.6493C3.53984 12.2138 3.26962 12.7791 2.77051 13.0569L1.71496 13.6462C0.8794 14.1129 0.282511 14.9147 0.0776221 15.848C-0.127267 16.7813 0.0776222 17.7631 0.642955 18.5324L1.35496 19.5067C1.69007 19.9658 1.69896 20.5951 1.36251 21.0613L0.666955 22.052C0.118955 22.8302 -0.0774889 23.812 0.142956 24.7453C0.364289 25.6787 0.969622 26.472 1.81273 26.9218L2.87718 27.4947C3.38518 27.7649 3.65407 28.3213 3.56384 28.8867L3.35984 30.0813C3.20473 31.0218 3.45762 31.9889 4.0554 32.7333C4.66073 33.4787 5.55407 33.928 6.50207 33.9689L7.71407 34.0178C8.28695 34.0427 8.77851 34.4271 8.93362 34.9755L9.26873 36.1378C9.67762 37.5538 10.9963 38.5444 12.4772 38.5444C12.9274 38.5444 13.3776 38.4547 13.7954 38.2742L14.9074 37.7995C15.4238 37.5791 16.0545 37.7178 16.4221 38.1355L17.2327 39.0351C17.8652 39.7396 18.7732 40.1484 19.7141 40.1484C20.6807 40.1484 21.5967 39.7315 22.2358 39.0027L23.0287 38.0858C23.3976 37.6604 24.0194 37.5129 24.5434 37.7253L25.6643 38.184C26.0732 38.3475 26.4998 38.4378 26.9336 38.4378C28.431 38.4378 29.7572 37.4307 30.1496 35.9822L30.4687 34.8115C30.6163 34.2635 31.1078 33.8711 31.6807 33.8373L32.8918 33.7644C33.8501 33.7071 34.7336 33.248 35.3225 32.4955C35.9127 31.7422 36.1492 30.7769 35.9781 29.836L35.7567 28.6489C35.6505 28.0835 35.9207 27.5191 36.4198 27.2413L37.4754 26.6511C38.311 26.1849 38.9078 25.3827 39.1132 24.4498C39.3181 23.5164 39.1132 22.5347 38.5474 21.7653ZM37.1563 24.0155C37.075 24.3924 36.8372 24.7035 36.5021 24.8924L35.4465 25.4818C34.1936 26.1769 33.5229 27.5929 33.7843 29.0004L34.0056 30.1875C34.0794 30.5729 33.9807 30.9493 33.7443 31.252C33.5065 31.5551 33.1625 31.7351 32.7701 31.7591L31.5665 31.8329C30.1341 31.9155 28.9145 32.8973 28.5385 34.2809L28.2194 35.4431C28.0638 36.0235 27.5314 36.4249 26.9345 36.4249C26.7616 36.4249 26.5905 36.3924 26.4265 36.3271L25.3047 35.8684C24.8954 35.7044 24.4701 35.6142 24.0363 35.6142C23.0705 35.6142 22.1541 36.032 21.5158 36.76L20.7216 37.6698C20.4678 37.9635 20.1074 38.1271 19.7145 38.1271C19.3305 38.1271 18.9776 37.972 18.7247 37.6858L17.9141 36.7853C17.2838 36.0813 16.3754 35.672 15.4261 35.672C14.967 35.672 14.5256 35.7618 14.1078 35.9422L12.9945 36.416C12.823 36.4898 12.6518 36.5235 12.4714 36.5235C11.8812 36.5235 11.3581 36.1293 11.1941 35.5653L10.859 34.4031C10.4576 33.0284 9.22918 32.0618 7.79673 31.9969L6.58562 31.948C6.20029 31.932 5.84873 31.7591 5.6114 31.4564C5.36607 31.1538 5.26873 30.7778 5.33362 30.4009L5.53762 29.2062C5.7754 27.7898 5.08829 26.3902 3.81895 25.7111L2.7554 25.1382C2.4114 24.9582 2.17362 24.6467 2.08384 24.2702C1.99407 23.8938 2.0674 23.5093 2.29673 23.1982L2.99229 22.2075C3.81895 21.0382 3.8114 19.4747 2.95984 18.3124L2.24784 17.3382C2.01896 17.0267 1.93629 16.6427 2.02651 16.2662C2.10918 15.8898 2.34651 15.5782 2.68207 15.3907L3.73762 14.8013C4.98962 14.1058 5.66162 12.6898 5.39896 11.2813L5.18607 10.1031C5.11229 9.71777 5.21095 9.34133 5.4474 9.03866C5.68518 8.73599 6.02918 8.55599 6.42162 8.53199L7.62518 8.45822C9.05762 8.37555 10.2683 7.39377 10.6536 6.01021L10.9727 4.84044C11.1278 4.25866 11.6607 3.85733 12.2576 3.85733C12.4301 3.85733 12.6016 3.8911 12.7656 3.95599L13.8874 4.41377C14.2963 4.57777 14.7216 4.66755 15.1558 4.66755C16.1216 4.66755 17.0385 4.24977 17.6763 3.52177L18.4705 2.61377C18.7243 2.31866 19.0847 2.15466 19.4776 2.15466C19.8616 2.15466 20.2145 2.3111 20.4674 2.59733L21.2776 3.49688C21.9083 4.20088 22.8163 4.61022 23.7661 4.61022C24.2247 4.61022 24.6665 4.51999 25.0843 4.33999L26.1976 3.86577C26.3692 3.79199 26.5403 3.75955 26.7207 3.75955C27.311 3.75955 27.8341 4.15244 27.9981 4.71644L28.3332 5.87955C28.7345 7.25422 29.963 8.21999 31.3954 8.28533L32.6065 8.3351C32.9918 8.35155 33.3434 8.52266 33.5887 8.82577C33.835 9.12844 33.9323 9.50488 33.8674 9.88133L33.6625 11.0769C33.4247 12.4929 34.1127 13.8915 35.3812 14.572L36.4456 15.1449C36.7896 15.324 37.0265 15.6355 37.1163 16.012C37.2065 16.3884 37.1336 16.7738 36.9123 17.084L36.2172 18.0747C35.3905 19.2453 35.3976 20.808 36.2496 21.9715L36.9616 22.9444C37.1563 23.2551 37.239 23.6391 37.1563 24.0155Z" fill="black"/>
							<path d="M22.4963 16.8955L18.1092 21.2573L16.6843 19.8249C16.2914 19.432 15.6612 19.432 15.2683 19.8249C14.8754 20.2178 14.8754 20.848 15.2607 21.2413L17.3972 23.3862C17.5847 23.5738 17.8389 23.6804 18.1092 23.6804C18.3705 23.6804 18.6247 23.5738 18.8132 23.3862L23.9123 18.3191C24.3052 17.9262 24.3052 17.296 23.9212 16.9031C23.5283 16.5102 22.8892 16.5102 22.4963 16.8955Z" fill="black"/>
							</svg>
						</div>
						<div elem="pic-text">Гарантия на все<br>наши дома</div>
					</div>
				</div>
			</div>
		</div>

		<div elem="about-edit">
			<div elem="about-deskription">
				Обратившись в Legno Domus, можно получить полный спектр качественных услуг, которые обеспечивают комфортное проживание в доме.
			</div>
			<div elem="edit-list">

				<div elem="edit-block">
					<div elem="edit-name">Собственное производство</div>
					<div elem="edit-link"><a href="#">Перейти в раздел</a></div>
				</div>

				<div elem="edit-block">
					<div elem="edit-name">Часто задаваемые вопросы</div>
					<div elem="edit-link"><a href="#">Перейти в раздел</a></div>
				</div>

				<div elem="edit-block">
					<div elem="edit-name">Новости</div>
					<div elem="edit-link"><a href="#">Перейти в раздел</a></div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:about -->
