.about

    &__about-top
        padding 95px 85px 58px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        @media (min-width: 1200px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-top 120px
            padding-bottom 30px

        @media (max-width: 767px)
            padding-bottom 20px
            padding-top 100px

    &__h1
        position relative
        font-style normal
        font-weight 500
        font-size 49px
        line-height 56px
        color #000000

        @media (max-width: 1119px)
            font-size 35px
            line-height 42px

        @media (max-width: 640px)
            font-size 25px
            line-height 35px

    &__icon
        position absolute
        left 0
        top -62px
        background url(../img/home.svg) 0 0 no-repeat
        width 40px
        height 40px

    &__about-content
        padding 50px 85px 100px 85px
        box-sizing border-box
        border-bottom 1px solid rgba(0, 0, 0, 0.2)

        // @media (min-width: 1200px)
        //     padding-right 125px
        //     padding-left 125px

        @media (max-width 1769px)
            padding-right 125px
            padding-left 125px

        @media (max-width: 1000px)
            max-width 100%
            padding-right 20px
            padding-left 20px
            padding-bottom 40px
            padding-top 25px

    &__about-block
        display flex
        flex-wrap wrap
        margin-bottom 38px

        @media (max-width: 1000px)
            flex-direction column

    &__about-left
        flex 1
        padding-right 43px
        box-sizing border-box

        @media (max-width: 1000px)
            padding-right 0
            margin-bottom 20px

    &__about-right
        flex 1
        padding-left 43px
        box-sizing border-box

        @media (max-width: 1000px)
            padding-left 0

    &__about-text
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 20px

        @media (max-width: 1119px)
            font-size 18px
            line-height 26px

    &__about-msg
        font-style normal
        font-weight 500
        font-size 20px
        line-height 30px
        color #000000
        background #EFEBDE
        padding 19px 26px 11px 26px
        box-sizing border-box
        margin-bottom 40px

        @media (max-width: 1119px)
            font-size 18px
            line-height 26px

    &__about-name
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 15px

    &__about-item
        position relative
        padding-left 24px
        box-sizing border-box
        font-style normal
        font-weight normal
        font-size 18px
        line-height 28px
        color #000000
        margin-bottom 15px

        &:last-child
            margin-bottom 0

        &:before
            position absolute
            left 0
            top 8px
            width 10px
            height 10px
            border 3px solid #000
            border-radius 50%
            content ''

        @media (max-width: 1440px)
            font-size 16px
            line-height 25px

    &__img
        font-size 0
        line-height 0
        margin-bottom 50px

        @media (max-width: 1000px)
            text-align center

    &__pic-list
        display flex
        justify-content space-between

    &__pic-text
        font-style normal
        font-weight 500
        font-size 20px
        line-height 25px
        text-align center
        color #000000
        margin-top auto

        @media (max-width: 1119px)
            font-size 18px
            line-height 26px

    &__pic-item
        display flex
        flex-direction column

    &__pic-icon
        text-align center

        .svg-icon--icon1
            fill #000

    &__about-deskription
        font-style normal
        font-weight 500
        font-size 24px
        line-height 35px
        color #000000
        margin-bottom 58px

        @media (max-width: 1119px)
            font-size 18px
            line-height 26px
            margin-bottom 25px

    &__edit-list
        display flex
        flex-wrap wrap
        margin-left -30px

    &__edit-block
        margin-left 30px
        width calc(33.33% - 30px)
        border 1px solid #CCCCCC
        box-sizing border-box
        padding 18px 20px 30px 31px

        @media (max-width: 1119px)
            padding 15px
            display flex
            flex-direction column

        @media (max-width: 767px)
            width 100%
            max-width 100%
            margin-bottom 30px

    &__edit-name
        font-style normal
        font-weight 500
        font-size 22px
        line-height 35px
        color #000000
        margin-bottom 15px

        @media (max-width: 1119px)
            font-size 18px
            line-height 26px


    &__edit-link

        @media (max-width: 1119px)
            margin-top auto

        a
            display inline-block
            padding 10px 20px
            box-sizing border-box
            background #00AC78
            border-radius 3px
            font-style normal
            font-weight 500
            font-size 15px
            line-height 30px
            text-align center
            color #FFFFFF

            &:hover
                background #04D999
                text-decoration none
                transition all 0.5s

            &:active
                background #00AC78
                box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)
                transition all 0.5s

            @media (max-width: 767px)
                width 100%
                max-width 100%
