.mobile-menu
    width 320px
    position absolute
    left -320px
    top 100%
    transition left .3s
    z-index 5

    &.is-show-menu
        left 0

    &__section
        background-color #17181d
        height 100vh
        overflow-y auto
        padding-bottom 150px

        &::-webkit-scrollbar
            width 4px

        &::-webkit-scrollbar-track
            background transparent

        &::-webkit-scrollbar-thumb
            background rgb(169, 133, 103)
            &:hover
                background #555

    &__nav
        padding-bottom 20px
        margin-bottom 30px
        border-bottom 1px solid rgba(147, 127, 111, 0.3)

        ul
            list-style-type none
            padding-left 0
            margin-bottom 0

            li
                padding-top 10px
                padding-bottom 10px
                padding-left 40px
                position relative
                
                a
                    font-size 18px
                    color #A98567
                    font-weight bold
                    line-height 20px
                    transition color .3s
                    display block
                    
                    &:hover
                        color #fff
                        text-decoration none 

                ul
                    width 320px
                    background-color #3a3c44    
                    padding-right 20px
                    margin-top 20px
                    margin-left -40px
                    position relative
                    z-index 5
                    &:before
                        content ''
                        position absolute
                        top -10px
                        left 40px
                        width 0
                        height 0
                        border-style solid
                        border-width 0 9.5px 11px 9.5px
                        border-color transparent transparent #3a3c44 transparent

                    li

                        a
                            line-height 25px
                            color rgba(255, 255, 255, 0.5)

    &__bottom
        padding-right 20px
        padding-left 20px

    .search
        margin-right 0 !important
        margin-bottom 20px !important  
        display block !important

        &__input                    
            width 100%
            margin 0

    .btn-default
        min-width auto
        width 100%        
        display block !important