.s-path
    font-size 18px
    line-height 30px
    color #C1C1C1
    display flex
    align-items center
    margin-bottom 25px

    @media (max-width 767px)
        display none

    a
        font-size 18px
        color #000
        font-weight normal
        line-height 34px
        height 40px
        text-align center
        text-decoration none
        border 2px solid #000
        padding 0 15px
        margin-left 23px
        position relative
        transition color .3s, background-color .3s, border-color .3s
        &:before
            content ''
            position absolute
            left -25px
            top 50%
            width 25px
            height 2px
            background-color #000
        &:hover
            color #fff
            border-color transparent
            background-color #000
            text-decoration none
        &:active
            background-color #626262
            border-color transparent
            box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)    

        &:first-child
            font-size 0
            width 40px
            background-image url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C8.9785 0 0 8.9785 0 20C0 31.0215 8.9785 40 20 40C31.0215 40 40 31.0215 40 20C40 8.9785 31.0215 0 20 0ZM20 37.8495C10.1613 37.8495 2.15054 29.8387 2.15054 20C2.15054 10.1613 10.1613 2.15054 20 2.15054C29.8387 2.15054 37.8495 10.1613 37.8495 20C37.8495 29.8387 29.8387 37.8495 20 37.8495Z' fill='%23000'/%3E%3Cpath d='M32.3117 19.4086C32.3117 19.3548 32.3117 19.3548 32.2579 19.3011C32.2579 19.2473 32.2579 19.2473 32.2042 19.1936C32.2042 19.1398 32.1504 19.1398 32.1504 19.086C32.1504 19.0323 32.0966 19.0323 32.0966 18.9785C32.0966 18.9247 32.0429 18.9247 31.9891 18.871C31.9891 18.871 31.9891 18.8172 31.9354 18.8172L20.7526 7.41936L20.6988 7.3656C20.645 7.31183 20.645 7.31183 20.5913 7.25807C20.5375 7.25807 20.5375 7.20431 20.4837 7.20431C20.43 7.20431 20.43 7.15054 20.3762 7.15054C20.3225 7.15054 20.3225 7.15054 20.2687 7.09678C20.2149 7.09678 20.2149 7.09678 20.1612 7.04301C20.1074 7.04301 20.1074 7.04301 20.0536 7.04301C19.9999 7.04301 19.9999 7.04301 19.9461 7.04301C19.8923 7.04301 19.8923 7.04301 19.8386 7.04301C19.7848 7.04301 19.7848 7.04301 19.7311 7.04301C19.6773 7.04301 19.6773 7.04301 19.6235 7.09678C19.5698 7.09678 19.5698 7.09678 19.516 7.15054C19.4622 7.15054 19.4622 7.20431 19.4085 7.20431C19.3547 7.20431 19.3547 7.25807 19.3009 7.25807C19.2472 7.25807 19.2472 7.31183 19.1934 7.3656L19.1397 7.41936L8.01062 18.871C8.01062 18.871 8.01062 18.9247 7.95686 18.9247C7.90309 18.9785 7.90309 18.9785 7.84933 19.0323C7.84933 19.086 7.79557 19.086 7.79557 19.1398C7.79557 19.1936 7.7418 19.1936 7.7418 19.2473C7.7418 19.3011 7.7418 19.3011 7.68804 19.3548C7.68804 19.4086 7.68804 19.4086 7.63428 19.4624C7.63428 19.5161 7.63428 19.5699 7.63428 19.6237V19.6774C7.63428 19.7312 7.63428 19.8387 7.63428 19.8925C7.63428 19.9462 7.63428 19.9462 7.68804 20C7.68804 20.0538 7.68804 20.0538 7.7418 20.1075C7.7418 20.1613 7.79557 20.2151 7.79557 20.2688C7.79557 20.2688 7.79557 20.2688 7.79557 20.3226C7.84933 20.3763 7.90309 20.4301 7.95686 20.4839C7.95686 20.4839 8.01062 20.4839 8.01062 20.5376C8.06439 20.5914 8.06438 20.5914 8.11815 20.6452C8.17191 20.6452 8.17191 20.6989 8.22568 20.6989C8.27944 20.6989 8.27944 20.7527 8.3332 20.7527C8.38697 20.7527 8.38697 20.7527 8.44073 20.8065C8.49449 20.8065 8.49449 20.8065 8.54826 20.8065C8.60202 20.8065 8.70955 20.8065 8.76331 20.8065H11.5052V29.4624C11.5052 30.0538 11.9891 30.5376 12.5805 30.5376H17.9031C18.4945 30.5376 18.9784 30.0538 18.9784 29.4624V24.1936H19.9999H21.0214V29.4624C21.0214 30.0538 21.5052 30.5376 22.0966 30.5376H27.4192C28.0106 30.5376 28.4945 30.0538 28.4945 29.4624V20.6989H31.2364C31.2902 20.6989 31.3977 20.6989 31.4515 20.6989H31.5052C31.559 20.6989 31.6128 20.6989 31.6128 20.6452C31.6665 20.6452 31.6665 20.5914 31.7203 20.5914C31.7741 20.5914 31.7741 20.5376 31.8278 20.5376C31.8816 20.4839 31.8816 20.4839 31.9354 20.4301C31.9354 20.4301 31.9891 20.4301 31.9891 20.3763C32.0429 20.3226 32.0966 20.2688 32.1504 20.2151C32.1504 20.2151 32.1504 20.2151 32.1504 20.1613C32.2042 20.1075 32.2042 20.0538 32.2042 20C32.2042 19.9462 32.2042 19.9462 32.2579 19.8925C32.2579 19.8387 32.2579 19.8387 32.3117 19.785C32.3117 19.7312 32.3117 19.6237 32.3117 19.5699V19.5161C32.3117 19.4624 32.3117 19.4624 32.3117 19.4086ZM27.4192 18.5484C26.8278 18.5484 26.344 19.0323 26.344 19.6237V28.2796H23.1719V23.0108C23.1719 22.4194 22.688 21.9355 22.0966 21.9355H19.9999H17.9031C17.3117 21.9355 16.8278 22.4194 16.8278 23.0108V28.2796H13.6558V19.6237C13.6558 19.0323 13.1719 18.5484 12.5805 18.5484H11.2902L19.9999 9.67742L28.6558 18.4946H27.4192V18.5484Z' fill='%23000'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain
            border none 
            padding 0
            margin 0
            &:before
                display none
            &:hover
                background-color transparent
            &:active
                background-color transparent

    span
        font-size 18px
        color #000
        font-weight normal
        line-height 34px
        height 40px
        text-align center
        text-decoration none
        border 2px solid #000
        padding 0 15px
        margin-left 23px
        position relative
        cursor default
        &:before
            content ''
            position absolute
            left -25px
            top 50%
            width 25px
            height 2px
            background-color #000