<div block="types-products" class="js-animate-scroll-reveal">
    <div elem="section">
        <div elem="items">
            <div elem="item">
                <div elem="top">
                    <a elem="img" href="#"><img src="img/icon1.png" alt=""></a>
                </div>
                <div elem="bottom">
                    <div elem="name">Дома из бруса</div>
                    <div elem="price" class="price-default">от 450 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Посмотреть проекты</a>
                </div>
            </div>
            <div elem="item">
                <div elem="top">
                    <a elem="img" href="#"><img src="img/icon2.png" alt=""></a>
                </div>
                <div elem="bottom">
                    <div elem="name">Дома из бревна</div>
                    <div elem="price" class="price-default">от 950 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Посмотреть проекты</a>
                </div>
            </div>
            <div elem="item">
                <div elem="top">
                    <a elem="img" href="#"><img src="img/icon3.png" alt=""></a>
                </div>
                <div elem="bottom">
                    <div elem="name">Каркасные дома</div>
                    <div elem="price" class="price-default">от 1 450 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Посмотреть проекты</a>
                </div>
            </div>
            <div elem="item">
                <div elem="top">
                    <a elem="img" href="#"><img src="img/icon4.png" alt=""></a>
                </div>
                <div elem="bottom">
                    <div elem="name">Бани из дерева</div>
                    <div elem="price" class="price-default">от 271 000 ₽</div>
                    <a elem="btn-more" class="btn-default" href="#">Посмотреть проекты</a>
                </div>
            </div>
        </div>
    </div>
</div><!-- types-products -->
