.types-products

    @media (min-width 1770px)
        padding-bottom 85px

    @media (min-width 1000px)
        padding-bottom 25px    

    &__items
        display flex

        @media (max-width 960px)
            display block

    &__item
        flex 0 0 25%    
        width 25%
        max-width 25%
        border-right 1px solid rgba(0, 0, 0, 0.2)
        border-bottom 1px solid rgba(0, 0, 0, 0.2)
        text-align center
        display flex
        flex-direction column
        &:last-child
            border-right none

        @media (min-width 1770px)
            padding 70px 80px 50px 80px

        @media (min-width 1200px)
            padding 45px 30px 40px 30px

        @media (max-width 1199px)
            padding 30px 17px 30px 17px

        @media (max-width 960px)
            width 100%    
            max-width 100%
            border-right none

    &__top
        margin-bottom 20px
        flex 1 1 auto

    &__img
        display block
        margin 0 auto

        @media (min-width 1770px)
            width 240px

        @media (min-width 1200px)
            width 205px

        @media (max-width 1199px)
            width 145px

    &__name
        color #000
        font-weight 500
        line-height 30px
        text-align center
        margin-bottom 20px

        @media (min-width 1770px)
            font-size 24px
            
        @media (min-width 1000px)
            font-size 20px

    &__price
        margin-bottom 20px

    &__btn-more
        
        &.btn-default
            @media (max-width 1199px)
                min-width 190px

            @media (max-width 960px)
                min-width auto
                width 280px
                margin 0 auto