.first-screen
    position fixed
    width 100%
    top 0
    
    @media (max-width 1769px)
        margin-top 80px    

    @media (max-width 1000px)
        position static

    &__section
        width 1600px
        max-width 100%

        @media (max-width 1769px)
            width 100%

    &__inner
        position relative
        display flex

        @media (max-width 767px)
            display block    

    &__img
        margin-left auto
        background-size cover
        background-position 50% 50%
        background-repeat no-repeat    

        @media (min-width 1770px)
            flex 0 0 1060px
            width 1060px
            max-width 1060px
            height 777px

        @media (min-width 1440px)   
            flex 0 0 1200px
            width 1200px
            max-width 1200px 
        
        @media (min-width 1200px)   
            flex 0 0 800px
            width 800px
            max-width 800px 

        @media (min-width 1000px)
            flex 0 0 600px
            width 600px
            max-width 600px
            height 550px

        @media (min-width 768px)
            flex 0 0 450px
            width 450px
            max-width 450px
            height 465px    

        @media (min-width 640px)
            height 350px    

        @media (min-width 480px)
            height 250px

        @media (min-width 320px)
            // flex 0 0 450px
            width 100%
            max-width 100%
            height 150px


    &__content   
        position absolute

        @media (min-width 1000px)
            flex 0 0 800px
            width 800px
            max-width 800px

        @media (min-width 768px)
            flex 0 0 580px
            width 580px
            max-width 580px

        @media (max-width 767px)
            position static    

    &__head
        max-width 100%
        background-color #00AC78    

        @media (min-width 1770px) 
            width 540px
            padding 110px 50px 150px 85px   
        
        @media (min-width 1000px)
            width 600px
            padding-top 55px
            padding-bottom 67px
            padding-right 50px
            padding-left 120px

        @media (min-width 768px)
            width 450px
            padding-top 20px
            padding-bottom 34px
            padding-right 40px
            padding-left 85px

        @media (min-width 320px)
            padding 20px 20px 50px 20px   

    &__title
        color #FFF
        font-weight 500
        padding-top 55px
        margin-bottom 15px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 40px
            height 40px
            background url(../img/home-icon.svg) 0 0 no-repeat

        @media (min-width 1770px)    
            font-size 49px
            line-height 56px

        @media (min-width 1000px)
            font-size 40px
            line-height 46px    

        @media (min-width 768px)
            font-size 35px
            line-height 42px    

        @media (min-width 320px)       
            font-size 25px
            line-height 35px    

    &__desc
        font-size 20px
        color #FFF
        font-weight 500
        line-height 30px
        width 295px
        max-width 100%
        
        @media (max-width 767px)
            font-size 18px
            line-height 25px

.our-advantages
    width 800px
    max-width 100%
    background-color #efebde
    position relative
    &:before
        content ''
        position absolute
        top -21px
        width 0
        height 0
        border-style solid
        border-width 0 18.5px 21px 18.5px
        border-color transparent transparent #efebde transparent

        @media (min-width 1770px)
            left 85px

        @media (min-width 1000px)
            left 120px

        @media (max-width 767px)
            left 20px    

    @media (min-width 1770px)            
        width 800px

    @media (min-width 1000px)
        width 660px    

    @media (min-width 768px)
        width 580px    

    &__section

        @media (min-width 1770px)
            padding 35px 45px 26px 85px

        @media (min-width 1000px)
            padding 35px 45px 26px 120px

        @media (min-width 768px)
            padding-top 25px    

        @media (max-width 767px)
            padding 20px    

        @media (max-width 639px)
            padding-top 25px
            padding-bottom 25px    

    &__items
        display flex
        justify-content space-between

        @media (max-width 639px)
            display block

    &__item
        &:last-child

            @media (max-width 639px)
                margin-bottom 0

        @media (max-width 639px)
            display flex   
            margin-bottom 20px     

    &__icon
        margin-bottom 15px    

        @media (max-width 639px)
            flex 0 0 30px
            width 30px
            max-width 35px
            margin-right 12px

    &__name
        font-weight 500
        color #000
        line-height 25px

        @media (min-width 1770px) 
            font-size 20px
            line-height 25px

        @media (min-width 1000px)
            font-size 16px
            line-height 22px

        @media (max-width 440px)
            width 225px    

        br
            @media (max-width 639px)
                display none    