<div block="first-screen" class="js-animate-scroll-reveal">
    <div elem="section">
        <div elem="inner">
            <div elem="img" style="background-image: url('img/1.jpg');"></div>
            <div elem="content">
                <div elem="head">
                    <h1 elem="title">Строим деревянные дома для жизни</h1>
                    <div elem="desc">Уже построили 847 домов и бань по всей России</div>
                </div>
                <div block="our-advantages">
                    <div elem="section">
                        <div elem="items">
                            <div elem="item">
                                <div elem="icon"><img src="img/our-advantages-icon.svg" alt=""></div>
                                <div elem="name">14 лет <br> на рынке</div>
                            </div>
                            <div elem="item">
                                <div elem="icon"><img src="img/our-advantages2-icon.svg" alt=""></div>
                                <div elem="name">Полный цикл <br> производства</div>
                            </div>
                            <div elem="item">
                                <div elem="icon"><img src="img/our-advantages3-icon.svg" alt=""></div>
                                <div elem="name">Гарантия на все <br> наши дома</div>
                            </div>
                        </div>
                    </div>
                </div><!-- b:our-advantages -->
            </div>
        </div>
    </div>
</div><!-- first-screen -->
