<div block="main-menu">
    <nav elem="nav">
        <ul>
            <li><a href="#">Проекты домов</a></li>
            <li><a href="#">Услуги</a></li>
            <li>
                <a href="#">О компании</a>
                <ul>
                    <li><a href="#">Собственное производство</a></li>
                    <li><a href="#">Часто задаваемые вопросы</a></li>
                    <li><a href="#">Новости</a></li>
                </ul>
            </li>
            <li><a href="#">Наши работы</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</div><!-- main-menu -->