.main-menu
    padding-bottom 35px
    border-bottom 1px solid rgba(147, 127, 111, 0.3)
    margin-bottom 30px

    &__nav

        ul
            list-style-type none
            padding-left 55px
            margin-bottom 0

            li
                padding-top 12px
                padding-bottom 15px
                position relative

                a
                    font-size 18px
                    color #A98567
                    font-weight bold
                    line-height 20px
                    transition color .3s
                    display block

                    &:hover
                        color #fff
                        text-decoration none

                        + ul
                            opacity 1
                            visibility visible

                ul
                    width 300px
                    background-color #3a3c44
                    position absolute
                    top -115px
                    right -300px
                    padding-top 20px
                    padding-left 30px
                    padding-bottom 20px
                    opacity 0
                    visibility hidden
                    transition opacity .3s, ease .3s
                    z-index 5
                    &:before
                        content ''
                        position absolute
                        top 50%
                        left -20px
                        transform translateY(-50%)
                        width 0
                        height 0
                        border-style solid
                        border-width 10.5px 12px 10.5px
                        border-color transparent #3a3c44 transparent transparent
                    &:hover
                        opacity 1
                        visibility visible

                    li

                        a
                            color rgba(255, 255, 255, 0.5)

