.pagination
    margin-top 40px

    @media (max-width 767px)
        margin-top 10px

    &__items
        display flex
        align-items center
        justify-content center

    &__item
        font-size 15px
        color #000
        font-weight 500
        line-height 15px
        text-align center
        display block
        padding 19px 15px 19px
        margin-right 10px
        flex 0 0 55px
        width 55px
        max-width 55px
        border 1px solid rgba(0, 0, 0, 0.2)
        transition border-color .3s
        &:hover
            color #000
            border 1px solid #000
            text-decoration none

        &.is-active-pagi
            color #000
            border-color #000  
            cursor default

            @media (max-width 767px)
                display block

        @media (max-width 767px)
            display none    

        &--prev,
        &--next
            flex 0 0 150px
            width 150px
            max-width 150px
            background-repeat no-repeat
            background-size 21px 10px

            @media (max-width 767px)
                flex 0 0 55px
                width 55px
                max-width 55px
                font-size 0
                display block
                padding-right 15px
                padding-left 15px

        &--prev
            text-align right
            background-image url("data:image/svg+xml,%3Csvg width='22' height='8' viewBox='0 0 22 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 4.35355C0.451185 4.15829 0.451185 3.84171 0.646446 3.64645L3.82843 0.464466C4.02369 0.269204 4.34027 0.269204 4.53553 0.464466C4.7308 0.659728 4.7308 0.976311 4.53553 1.17157L1.70711 4L4.53553 6.82843C4.7308 7.02369 4.7308 7.34027 4.53553 7.53553C4.34027 7.7308 4.02369 7.7308 3.82843 7.53553L0.646446 4.35355ZM22 4.5H1V3.5H22V4.5Z' fill='black'/%3E%3C/svg%3E%0A")
            background-position 30px 22px
            padding-right 35px

            @media (max-width 767px)
                background-position 14px 22px

        &--next
            background-image url("data:image/svg+xml,%3Csvg width='22' height='8' viewBox='0 0 22 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM0 4.5H21V3.5H0V4.5Z' fill='black'/%3E%3C/svg%3E%0A")
            background-position 100px 23px
            padding-left 35px
            text-align left

            @media (max-width 767px)
                background-position 16px 22px

        &:last-child
            margin-right 0    
