<div block="pagination">
    <div elem="items">
        <a elem="item" mods="prev" href="#">Назад</a>
        <a elem="item" href="#">1</a>
        <a elem="item" class="is-active-pagi" href="#">2</a>
        <a elem="item" href="#">3</a>
        <a elem="item" href="#">4</a>
        <a elem="item" href="#">5</a>
        <a elem="item" mods="next" href="#">Вперед</a>
    </div>
</div><!-- pagination -->
