.foundation

    &__items
        display flex
        margin-left -30px
        flex-wrap wrap

    &__item
        flex 0 0 25%
        width 25%
        max-width 25%   
        padding-left 30px

        @media (max-width 1279px)
            flex 0 0 33.333%
            width 33.333%
            max-width 33.333%
            margin-bottom 30px

        @media (max-width 640px)
            flex 0 0 50%
            width 50%
            max-width 50%

        @media (max-width 440px)
            flex 0 0 100%
            width 100%
            max-width 100%

    &__img
        width 100%    
        height 230px
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%
        margin-bottom 10px

    &__name
        font-size 16px
        color #000   
        font-weight 500
        line-height 25px