<div block="foundation">
    <div elem="items">
        <div elem="item">
            <div elem="body">
                <div elem="img" style="background-image: url('img/project/base1.png');"></div>
                <div elem="name">Свайно-винтовой фундамент</div>
            </div>
        </div>
        <div elem="item">
            <div elem="body">
                <div elem="img" style="background-image: url('img/project/base2.jpg');"></div>
                <div elem="name">Ленточный фундамент</div>
            </div>
        </div>
        <div elem="item">
            <div elem="body">
                <div elem="img" style="background-image: url('img/project/base3.jpg');"></div>
                <div elem="name">Монолитная плита-фундамент</div>
            </div>
        </div>
        <div elem="item">
            <div elem="body">
                <div elem="img" style="background-image: url('img/project/base4.jpeg');"></div>
                <div elem="name">Фундамент на ЖБ забивных сваях</div>
            </div>
        </div>
    </div>
</div><!-- foundation -->