<div block="search">
    <form elem="form">
        <div elem="input">
            <input type="text" placeholder="Поиск">
            <input type="submit">
        </div>
    </form>
</div><!-- search -->