.search
    margin-bottom 20px

    &__input
        width 240px
        margin 0 auto
        display flex
        position relative

        input[type=text]
            font-size 15px
            color #A98567
            font-weight 500
            line-height 15px
            width 100%
            height 50px
            padding-right 5px
            background-color transparent
            border 1px solid rgba(169, 133, 103, 0.5)
            border-radius 3px
            padding 0 20px 0 20px
            transition background-color .3s, color .3s
            &:focus
                background-color #fff
                color #000

                + input[type=submit]
                    background-image url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0485 2.27936C12.1876 2.2795 13.301 2.6174 14.248 3.25033C15.195 3.88326 15.9331 4.78279 16.3689 5.83518C16.8047 6.88756 16.9186 8.04555 16.6963 9.16269C16.474 10.2798 15.9254 11.306 15.12 12.1114C14.3145 12.9167 13.2883 13.4652 12.1711 13.6874C11.0539 13.9095 9.89596 13.7954 8.84362 13.3595C7.79129 12.9236 6.89185 12.1854 6.25905 11.2383C5.62624 10.2912 5.28848 9.17771 5.28848 8.03866C5.28848 7.28228 5.43747 6.5333 5.72695 5.83451C6.01643 5.13571 6.44072 4.50077 6.9756 3.96596C7.51047 3.43115 8.14546 3.00694 8.8443 2.71755C9.54313 2.42816 10.2921 2.27926 11.0485 2.27936ZM11.0485 6.85905e-06C9.19399 0.000888359 7.3968 0.64284 5.96141 1.8171C4.52602 2.99137 3.5407 4.62573 3.17238 6.44331C2.80406 8.26088 3.0754 10.1499 3.94041 11.7903C4.80543 13.4307 6.21093 14.7217 7.91881 15.4445C9.87696 16.2421 12.0705 16.2363 14.0244 15.4283C15.9783 14.6203 17.5353 13.0752 18.3582 11.1275C19.181 9.17979 19.2036 6.98635 18.4209 5.02217C17.6382 3.058 16.1133 1.48119 14.1764 0.633221C13.187 0.213965 12.1231 -0.0014011 11.0485 6.85905e-06Z' fill='%23000'/%3E%3Cpath d='M4.93399 12.4251L0.790828 16.5682C0.354066 17.005 0.354066 17.7131 0.790828 18.1499L0.820918 18.18C1.25768 18.6168 1.96581 18.6168 2.40257 18.18L6.54574 14.0368C6.9825 13.6001 6.9825 12.8919 6.54574 12.4552L6.51565 12.4251C6.07889 11.9883 5.37076 11.9883 4.93399 12.4251Z' fill='%23000'/%3E%3C/svg%3E%0A")
                

        input[type=submit]
            font-size 0
            width 22px
            height 22px
            background-image url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0485 2.27936C12.1876 2.2795 13.301 2.6174 14.248 3.25033C15.195 3.88326 15.9331 4.78279 16.3689 5.83518C16.8047 6.88756 16.9186 8.04555 16.6963 9.16269C16.474 10.2798 15.9254 11.306 15.12 12.1114C14.3145 12.9167 13.2883 13.4652 12.1711 13.6874C11.0539 13.9095 9.89596 13.7954 8.84362 13.3595C7.79129 12.9236 6.89185 12.1854 6.25905 11.2383C5.62624 10.2912 5.28848 9.17771 5.28848 8.03866C5.28848 7.28228 5.43747 6.5333 5.72695 5.83451C6.01643 5.13571 6.44072 4.50077 6.9756 3.96596C7.51047 3.43115 8.14546 3.00694 8.8443 2.71755C9.54313 2.42816 10.2921 2.27926 11.0485 2.27936ZM11.0485 6.85905e-06C9.19399 0.000888359 7.3968 0.64284 5.96141 1.8171C4.52602 2.99137 3.5407 4.62573 3.17238 6.44331C2.80406 8.26088 3.0754 10.1499 3.94041 11.7903C4.80543 13.4307 6.21093 14.7217 7.91881 15.4445C9.87696 16.2421 12.0705 16.2363 14.0244 15.4283C15.9783 14.6203 17.5353 13.0752 18.3582 11.1275C19.181 9.17979 19.2036 6.98635 18.4209 5.02217C17.6382 3.058 16.1133 1.48119 14.1764 0.633221C13.187 0.213965 12.1231 -0.0014011 11.0485 6.85905e-06Z' fill='%23A98567'/%3E%3Cpath d='M4.93399 12.4251L0.790828 16.5682C0.354066 17.005 0.354066 17.7131 0.790828 18.1499L0.820918 18.18C1.25768 18.6168 1.96581 18.6168 2.40257 18.18L6.54574 14.0368C6.9825 13.6001 6.9825 12.8919 6.54574 12.4552L6.51565 12.4251C6.07889 11.9883 5.37076 11.9883 4.93399 12.4251Z' fill='%23A98567'/%3E%3C/svg%3E%0A")
            background-color transparent
            background-repeat no-repeat
            background-size cover
            padding 0
            margin-top 15px 
            border none 
            display block
            position absolute
            top 0
            right 20px
            transition background .3s

        ::placeholder
            font-size 15px
            color #A98567
            font-weight 500