.call-modal
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    z-index 50
    opacity 0
    visibility hidden
    transition opacity .3s

    &.is-show-modal
        opacity 1
        visibility visible

    &__overley
        width 100%
        height 100vh
        left 0
        top 100%
        bottom 0
        background-color rgba(23, 24, 29, 0.9)   

    &__section        
        width 456px
        max-width 100%
        padding 30px 50px
        background-color #efebde
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)

        @media (max-width 767px)
            width 320px
            padding 20px

    &__btn-close
        width 16px
        height 16px
        background transparent url('../img/close-modal-icon.svg') 50% 50% no-repeat
        background-size contain
        border none     
        position absolute
        top 20px
        right 20px
        z-index 2

    &__title
        font-size 22px
        color #000
        font-weight 500
        line-height 30px
        padding-left 80px
        margin-bottom 10px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 61px
            height 60px
            background url('../img/mes-icon.svg') 0 0 no-repeat

            @media (max-width 767px)
                display none

        @media (max-width 767px)
            font-size 18px
            line-height 25px
            padding-left 0    

    &__desc
        font-size 18px
        color #000    
        font-weight normal
        line-height 28px
        margin-bottom 30px

        @media (max-width 767px)
            font-size 16px
            line-height 22px
            margin-bottom 15px

    &__input
        width 100%

        input[type="text"]
            font-size 15px
            color #000
            font-weight 500
            line-height 15px
            width 100%
            height 50px
            padding-right 15px
            padding-left 15px
            margin-bottom 20px
            border 1px solid rgba(0, 0, 0, 0.2)
            border-radius 3px    

        ::placeholder
            font-size 15px
            color #000
            font-weight 500
            line-height 25px    

        .btn-default
            line-height 15px
            width 100%
            color #fff
            border none    
            margin-bottom 10px

    &__privacy-policy
        font-size 12px
        color rgba(0, 0, 0, 0.5)        
        font-weight 500
        line-height 18px