<div block="call-modal" class="js-call-modal">
    <div elem="overley"></div>
    <div elem="section">
        <button elem="btn-close" class="js-btn-close" type="button"></button>
        <form elem="form">
            <div elem="title">Давайте обсудим детали</div>
            <div elem="desc">Оставьте телефон для связи и наш менеджер свяжется с вами и ответит на все вопросы. Перезвоним сразу</div>
            <div elem="input">
                <input type="text" placeholder="Телефон" required>
                <input type="submit" class="btn-default" value="Заказать звонок">
            </div>
            <div elem="privacy-policy">
                Нажимая кнопку «Отправить» вы соглашаетесь 
                с пользовательским соглашением и ознакомились 
                с нашей политикой конфиденциальности
            </div>
        </form>
    </div>
</div><!-- call-modal -->