<div block="stocks">
	{# <div elem="stocks-top">
		{% include "s-path.html" %}
		<h1 elem="h1">
			Акции
		</h1>
	</div> #}
	<div elem="stocks-content">
		<div elem="stocks-list">

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img1.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Замена ондулина на оцинкованный профнастил</div>
					<div elem="stocks-desk">Акция действует до 30 августа</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img2.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Строим по материнскому капиталу</div>
					<div elem="stocks-desk">Вы можете оплатить строительство используя материнский капитал</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img3.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Увеличение толщины утеплителя до 100мм в подарок</div>
					<div elem="stocks-desk">Только до 28 февраля при заказе строительства увеличение</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img1.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Замена ондулина на оцинкованный профнастил</div>
					<div elem="stocks-desk">Акция действует до 30 августа</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img2.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Строим по материнскому капиталу</div>
					<div elem="stocks-desk">Вы можете оплатить строительство используя материнский капитал</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img3.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Увеличение толщины утеплителя до 100мм в подарок</div>
					<div elem="stocks-desk">Только до 28 февраля при заказе строительства увеличение</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img1.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Замена ондулина на оцинкованный профнастил</div>
					<div elem="stocks-desk">Акция действует до 30 августа</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img2.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Строим по материнскому капиталу</div>
					<div elem="stocks-desk">Вы можете оплатить строительство используя материнский капитал</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

			<div elem="stocks-item">
				<div elem="stocks-img"><img src="img/stocks-img3.jpg" alt=""></div>
				<div elem="stocks-edit">
					<div elem="stocks-name">Увеличение толщины утеплителя до 100мм в подарок</div>
					<div elem="stocks-desk">Только до 28 февраля при заказе строительства увеличение</div>
					<div elem="stocks-link"><a href="#">Подробности</a></div>
				</div>
			</div>

		</div>
	</div>
</div><!-- b:stocks -->
