<div block="form-reviews">
    <div elem="section">
        <form elem="form">
            <div elem="title">Вы можете оставить отзыв о нас</div>
            <div elem="input">
                <input type="text" placeholder="Имя" required>
                <textarea placeholder="Текст отзыва"></textarea>
                <input type="submit" class="btn-default" value="Отправить проект на расчет">
            </div>
            <div elem="privacy-policy">
                Нажимая кнопку «Отправить» вы соглашаетесь 
                с пользовательским соглашением и ознакомились 
                с нашей политикой конфиденциальности
            </div>
        </form>
    </div>
</div><!-- form-reviews -->