.faq
    padding-bottom 100px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    @media (max-width 1440px)
        padding-bottom 80px

    @media (max-width 767px)
        padding-bottom 50px    

    &__item
        border 1px solid #CCC
        cursor pointer

        &.is-active

            & ^[0]

                &__name
                    &:after
                        transform rotate(180deg)

    &__name
        font-size 24px
        color #000
        font-weight 500
        line-height 35px
        padding 18px 50px 16px 30px
        position relative
        &:after
            content ''
            position absolute
            top 30px
            right 30px
            width 19px
            height 10px
            background-image url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.707107' y1='1.29289' x2='9.70711' y2='10.2929' stroke='black' stroke-width='2'/%3E%3Cline x1='19.7071' y1='1.70711' x2='9.70711' y2='11.7071' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain
            transition transform .3s

            @media (max-width 1440px)
                top 20px

            @media (max-width 959px)
                right 15px    

        @media (max-width 1440px)
            font-size 18px
            line-height 28px
            padding-top 15px
            padding-bottom 15px

        @media (max-width 959px)
            font-size 16px
            line-height 26px
            padding-right 35px
            padding-left 15px

    &__content
        padding 18px 30px 16px  
        display none  

        @media (max-width 1440px)
            padding-top 15px
            padding-bottom 15px

        @media (max-width 959px)
            padding-right 35px
            padding-left 15px    

    &__body
        width 600px
        max-width 100%
    
        p
            font-size 18px
            color #000
            line-height 28px

            @media (max-width 767px)
                font-size 16px
                line-height 26px