<div block="faq">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item" class="js-faq-item">
                <div elem="name">Стены будут собираться на нагеля, а на какие?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Эта самый надежный лучший способ или что-то есть лучше или другие нагеля?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Шип-паз «теплый» — это лучший вариант или есть другой более надежный?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Между брусом укладывается джут льноволокно в один слой — это самый оптимальный вариант или джут в два слоя положить или использовать другой более надежный?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Эта самый надежный лучший способ или что-то есть лучше или другие нагеля?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Стены будут собираться на нагеля, а на какие?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Обвязка — какая лучше? Может быть из лиственницы установить?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Стены будут собираться на нагеля, а на какие?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
            <div elem="item" class="js-faq-item">
                <div elem="name">Эта самый надежный лучший способ или что-то есть лучше или другие нагеля?</div>
                <div elem="content" class="js-faq-content">
                    <div elem="body">
                        <p>Лучше этот,</p>
                        <p><img src="img/question-answer/1.jpg" alt=""></p>
                        <p>есть со смещенным цетром он дорогой и это уже дом конструктор. </p>
                        <p><img src="img/question-answer/2.jpg" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div><!-- faq -->