.reviews-about-us
    padding-bottom 80px
    margin-top 80px
    margin-bottom 20px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    @media (max-width 1440px)
        padding-bottom 50px

    @media (max-width 899px)
        margin-top 30px

    &__section
        max-width 100%
        margin 0 auto

        @media (min-width 1770px)
            width 1430px + 85px + 85px
            padding-right 85px
            padding-left 85px

        @media (min-width 1200px)
            width 960px + 120px + 120px
            padding-right 120px
            padding-left 120px

        @media (max-width 1199px)
            width 960px + 80px + 80px
            padding-right 80px
            padding-left 80px
            margin-top 50px

        @media (max-width 767px)
            padding-right 20px
            padding-left 20px

    &__head
        margin-bottom 50px
        display flex
        justify-content space-between

        @media (max-width 640px)
            margin-bottom 80px
            position relative

    &__title
        font-size 40px
        color #000
        font-weight 500
        line-height 46px
        width 445px
        max-width 100%
        padding-top 55px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 40px
            height 40px
            background url('../img/reviews-icon.svg') 0 0 no-repeat

        @media (min-width 1770px)
            font-size 49px
            line-height 56px

        @media (min-width 1200px)
            font-size 40px
            line-height 46px

        @media (max-width 1119px)
            font-size 25px
            line-height 35px

    &__counter
        font-size 18px
        color #000
        font-weight normal
        line-height 35px
        width 55px
        align-self flex-end
        margin-right 70px

        span

            i
                width 18px
                height 1px
                background-color #000
                display inline-block
                vertical-align middle
                margin-right 5px
                margin-left 5px

        @media (max-width 640px)
            position absolute
            right 0
            bottom -50px

    &__items
        display flex

        .owl-nav
            position absolute
            display flex
            justify-content space-between
            top -103px
            right 0
            width 205px

            @media (max-width 640px)
                top -80px

            .owl-prev,
            .owl-next
                width 70px
                height 70px
                background-color #fff
                display flex
                justify-content center
                align-items center
                transition background-color .3s
                &:hover
                    background-color #00ac78

                    .left-arr,
                    .right-arr
                        background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='%23fff' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A")

            .owl-prev
                transform rotate(180deg)

            .left-arr,
            .right-arr
                width 18px
                height 32px
                background-image url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.29289' y1='31.2929' x2='17.2929' y2='15.2929' stroke='black' stroke-width='2'/%3E%3Cline y1='-1' x2='22.6274' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 2 0)' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
                transition background .3s
                svg
                    display none

    &__item
        padding 30px 35px
        border 1px solid rgba(0, 0, 0, 0.2)

        @media (min-width 1900px)
            width 455px

        @media (min-width 1770px)
            width 420px

        @media (min-width 1200px)
            width 310px

        @media (max-width 1199px)
            width 230px
            padding 20px 25px

        @media (max-width 880px)
            width 100%

    &__text
        font-size 16px
        color #000
        font-weight normal
        line-height 25px

        strong
            font-size 18px
            font-weight 500
            line-height 28px
            margin-bottom 5px
            display block

        p
            margin-bottom 15px
            &:last-child
                margin-bottom 0

    &__name
        font-size 16px
        color #000
        font-weight 500
        line-height 35px
