<div block="reviews-about-us" class="js-animate-scroll-reveal">
    <div elem="section">
        <div elem="head">
            <div elem="title">Отзывы о нашей работе</div>
            <div elem="counter" class="js-counter-reviews"></div>
        </div>
        <div elem="items" class="js-reviews-about-us owl-carousel">
            <div elem="item">
                <div elem="text">
                    <p>Построен дом 6×8. Строительством остались довольны.
Бригада хорошая. Построили быстро за 21 день.
 Есть вопросы по регулировке окон. Спасибо компании за строительство.</p>
                </div>
                <div elem="name">Хромова О. И.</div>
            </div>
            <div elem="item">
                <div elem="text">
                    <strong>СНТ «Шугарово-5» <br> Каркасный дом 115 м2</strong>
                    <p>Приносим огромную благодарность за супер строительство, отличную бригаду строителей, за шикарные окна, замечательные строительные материалы. Все произошло быстро, аккуратно, правильно (а мы боялись). Обязательно обратимся к вам за строительством бани, желательно с этой же бригадой.</p>
                    <p>Спасибо большое, успехов вам в дальнейшей работе. Спасибо Вадиму за хорошую консультацию, от хорошего консультанта много зависит. </p>
                </div>
                <div elem="name">Светлана и Михаил</div>
            </div>
            <div elem="item">
                <div elem="text">
                    <p>Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                </div>
                <div elem="name">Юлия</div>
            </div>
            <div elem="item">
                <div elem="text">
                    <p>Построен дом 6×8. Строительством остались довольны.
Бригада хорошая. Построили быстро за 21 день.
 Есть вопросы по регулировке окон. Спасибо компании за строительство.</p>
                </div>
                <div elem="name">Хромова О. И.</div>
            </div>
            <div elem="item">
                <div elem="text">
                    <strong>СНТ «Шугарово-5» <br> Каркасный дом 115 м2</strong>
                    <p>Приносим огромную благодарность за супер строительство, отличную бригаду строителей, за шикарные окна, замечательные строительные материалы. Все произошло быстро, аккуратно, правильно (а мы боялись). Обязательно обратимся к вам за строительством бани, желательно с этой же бригадой.</p>
                    <p>Спасибо большое, успехов вам в дальнейшей работе. Спасибо Вадиму за хорошую консультацию, от хорошего консультанта много зависит. </p>
                </div>
                <div elem="name">Светлана и Михаил</div>
            </div>
            <div elem="item">
                <div elem="text">
                    <p>Заказывали дом 6×8. Рабочие ребята молодцы, справились за 1,5 недели. Дом очень понравился и цена очень хорошая. Спасибо вам большое мы очень довольны. Советую всем заказывать здесь.</p>
                </div>
                <div elem="name">Юлия</div>
            </div>
        </div>
    </div>
</div><!-- reviews-about-us -->
