= yaml =
pageTitle: faq
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная}
]
= yaml =

{% extends 'app.html' %}


{% block main %}

	<div block="top-line-inner" class="js-animate-scroll-reveal">
        <div elem="section" class="contain">
            <div elem="content">
                {% include "s-path.html" %}

                <h1>Часто задаваемые вопросы</h1>
            </div>
        </div>
    </div><!-- top-line-inner -->

    {% include "faq.html" %}

    {% include 'main-guarantee.html' %}

    {% include 'main-about.html' %}

{% endblock %}
