= yaml =
pageTitle: Проекты
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная}
]
= yaml =

{% extends 'app.html' %}


{% block main %}

    <div block="top-line-inner" mods="projects" class="js-animate-scroll-reveal">
        <div elem="section" class="contain">
            <div elem="content">
                {% include "s-path.html" %}

                <h1>Наши проекты домов, бань и коттеджей из дерева</h1>
            </div>
            {% include "take-test.html" %}
        </div>
    </div><!-- top-line-inner -->

    {% include "common-tabs-project.html" %}

    {% include 'main-guarantee.html' %}

    {% include 'main-about.html' %}

{% endblock %}
