= yaml =
pageTitle: Текст
bodyClasses:
layout: !!map
    header: true
    footer: true
    left: false
    right: false
path: [
    {"title":Главная}
]
= yaml =

{% extends 'app.html' %}


{% block main %}

    <div block="top-line-inner">
        <div elem="section" class="contain">
            <div elem="content">
                {% include "s-path.html" %}

                <h1>Заголовок первого уровня</h1>
            </div>    
        </div>
    </div><!-- top-line-inner -->

    <div block="inner-page-desc" class="contain">
        <div elem="section">
            <p>Компания Legno Domus занимается строительством уютных и прочных деревянных домов. Но, кроме того, мы берем на себя выполнение и других услуг, включая меблировку зданий и устройство коммуникаций.</p>
        </div>
    </div>

    {% include "inner-page-text.html" %}

    {% include 'main-guarantee.html' %}

    {% include 'main-about.html' %}

{% endblock %}
