.our-contacts
    border-bottom 1px solid rgba(0, 0, 0, 0.2)
    padding-bottom 70px

    @media (max-width 1279px)
        padding-bottom 35px

    &__items
        display flex
        margin-left -30px

        @media (max-width 1279px)
            flex-wrap wrap

    &__name
        font-size 16px
        color #000  
        font-weight 500
        line-height 35px
        margin-bottom 20px

    &__item
        flex 0 0 33.333%
        width 33.333%
        max-width 33.333%
        padding-left 30px
        margin-bottom 30px

        @media (max-width 1279px)
            flex 0 0 50%
            width 50%
            max-width 50%

        @media (max-width 767px)
            flex 0 0 100%
            width 100%
            max-width 100%

        &--manager

            & ^[0]

                &__body
                    &:after
                        content ''
                        position absolute
                        top 20px
                        right 30px
                        width 50px
                        height 60px
                        background-image url("data:image/svg+xml,%3Csvg width='50' height='60' viewBox='0 0 50 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.7965 54.8712C49.8157 54.8459 49.8344 54.82 49.851 54.7927C49.8676 54.7661 49.8823 54.7382 49.8962 54.7102C49.9102 54.6816 49.9235 54.6524 49.9348 54.6218C49.9461 54.5912 49.9554 54.5606 49.9634 54.5286C49.9714 54.4974 49.9794 54.4668 49.984 54.4348C49.9894 54.4016 49.992 54.3683 49.994 54.3337C49.9953 54.3138 50 54.2945 50 54.2745C50 53.8887 49.9667 53.5056 49.9089 53.1257L47.8002 27.3954C47.7969 27.3541 47.7962 27.3122 47.7902 27.2716L47.7709 27.0375C47.7516 26.8033 47.6492 26.5991 47.4989 26.4415C46.8776 25.3625 45.3995 24.6208 43.6321 24.6208C41.3319 24.6208 39.5252 25.8767 39.4567 27.4965C39.456 27.5038 39.4533 27.4519 39.4533 27.4592L39.2125 30.5989H35.1103C37.0553 27.273 38.1509 23.2811 38.1509 20.0463C38.1509 19.3379 38.087 18.6647 37.9686 17.9722C39.0981 17.6895 39.9389 16.6824 39.9389 15.4664C39.9389 14.289 39.152 13.3006 38.0771 12.9813C37.2921 7.077 32.4994 2.40135 26.4767 1.6703C26.206 0.706436 25.3213 0 24.2716 0H24.1479C23.021 0 22.0831 1.03039 21.8935 2.10401C16.5214 3.29205 12.3673 7.31714 11.599 13.3039H11.3296C9.89543 13.3039 8.72868 14.1979 8.72868 15.6321C8.72868 17.0662 9.89543 17.9602 11.3296 17.9602H11.6249C11.5152 18.6254 11.4533 19.3046 11.4533 19.9858C11.4533 23.3357 12.5848 27.273 14.4374 30.5989H3.77431C3.22752 30.5989 2.9967 31.1584 2.9967 31.7058V47.5075C1.00112 49.5284 0 51.8333 0 54.2466C0 54.7941 0.390469 55.2371 0.937259 55.2371C1.48471 55.2371 1.90113 54.7934 1.90113 54.2466C1.90113 48.6563 10.5234 43.08 14.1693 42.2225C15.4671 41.9172 16.4602 41.4363 17.2332 40.8622L19.1889 44.9219C19.3585 45.2731 19.709 45.482 20.0796 45.482C20.1906 45.482 20.3164 45.4634 20.4261 45.4241L23.6177 44.2853V58.2098C23.6177 58.7573 24.0681 59.2003 24.6155 59.2003C25.163 59.2003 25.6133 58.7566 25.6133 58.2092V43.9407L29.7302 45.4235C29.84 45.4627 29.9431 45.4813 30.0541 45.4813C30.4247 45.4813 30.7719 45.2725 30.9415 44.9212L32.8393 40.984C33.5877 41.5041 34.5342 41.9385 35.7389 42.2219C37.4405 42.6223 40.5542 44.1583 43.3713 46.5849C45.9922 48.8426 47.5827 51.214 47.9419 53.3619L48.023 54.3557C48.025 54.377 48.031 54.3963 48.0337 54.4169C48.0383 54.4482 48.043 54.4788 48.0503 54.5087C48.0583 54.5419 48.0689 54.5732 48.0802 54.6051C48.0902 54.6331 48.0995 54.6603 48.1115 54.687C48.1261 54.7182 48.1428 54.7482 48.1607 54.7774C48.1747 54.8014 48.1887 54.8253 48.2046 54.8479C48.2246 54.8765 48.2479 54.9025 48.2712 54.9284C48.2891 54.949 48.3064 54.9697 48.3257 54.989C48.351 55.0129 48.3789 55.0342 48.4062 55.0555C48.4275 55.0721 48.4481 55.0901 48.4707 55.1047C48.5007 55.1247 48.5332 55.14 48.5658 55.1566C48.5891 55.1686 48.6111 55.1819 48.6357 55.1918C48.6743 55.2078 48.7148 55.2184 48.7561 55.2291C48.7767 55.2344 48.7953 55.2158 48.8166 55.2198C48.8785 55.2311 48.943 55.2111 49.0089 55.2111H49.0095C49.0095 55.2111 49.0095 55.2111 49.0102 55.2111H49.0109C49.0375 55.2111 49.0641 55.2371 49.0913 55.2351C49.112 55.2331 49.1299 55.2404 49.1499 55.2377C49.1838 55.2331 49.2171 55.2344 49.2497 55.2264C49.2816 55.2184 49.3115 55.2118 49.3421 55.2012C49.3727 55.1905 49.4027 55.1805 49.4319 55.1666C49.4612 55.1526 49.4891 55.138 49.5171 55.1213C49.5443 55.1054 49.5703 55.0887 49.5956 55.0701C49.6215 55.0508 49.6455 55.0309 49.6694 55.0096C49.6927 54.9883 49.7153 54.967 49.7366 54.9444C49.7579 54.9204 49.7772 54.8965 49.7965 54.8712ZM24.2829 8.33821C24.2829 8.50917 24.1446 8.64753 23.9736 8.64753H23.9277C23.7561 8.64753 23.6177 8.50917 23.6177 8.33821V2.3049C23.6177 2.13394 23.7561 1.99558 23.927 1.99558H23.9729C24.1446 1.99558 24.2829 2.13394 24.2829 2.3049V8.33821ZM21.6221 3.94061V7.86393C21.6221 9.1278 22.8847 10.6431 24.1479 10.6431H24.2716C25.5348 10.6431 26.2785 9.1278 26.2785 7.86459V3.68385C31.6001 4.4129 35.2606 8.64753 36.0562 13.3039H13.5999C14.327 8.64753 17.631 5.07011 21.6221 3.94061ZM11.3296 15.9647C10.9883 15.9647 10.7103 15.9733 10.7103 15.6321C10.7103 15.2908 10.9877 15.2995 11.3296 15.2995H37.338C37.6793 15.2995 37.9573 15.2908 37.9573 15.6321C37.9573 15.9733 37.6793 15.9647 37.338 15.9647H11.3296ZM13.8168 40.2928C11.6915 40.793 8.31826 42.7308 4.99228 45.478V32.5945H15.664C15.6793 32.5945 15.6939 32.6418 15.7099 32.6411C16.3578 33.5285 17.1061 34.3387 17.8352 35.0125C17.9336 35.8347 18.1279 39.2791 13.8168 40.2928ZM16.6146 30.5045C14.6828 27.4266 13.4349 23.2838 13.4349 20.043C13.4349 19.3605 13.5061 18.6248 13.6358 17.9596H35.9704C36.1001 18.6248 36.1686 19.3605 36.1686 20.043C36.1686 26.4594 31.3958 36.0083 24.8018 36.0083C20.7008 36.009 17.9124 32.5719 16.6146 30.5045ZM20.5844 43.2569L19.7802 41.5906L22.3339 42.6303L20.5844 43.2569ZM29.5393 43.2569L27.7898 42.6303L30.3435 41.5906L29.5393 43.2569ZM25.0619 41.6013L18.8483 39.0722C19.3651 38.1961 19.6039 37.2868 19.7051 36.5105C21.3042 37.4983 23.025 38.0205 24.8018 38.0205C26.7634 38.0205 28.5634 37.3746 30.1646 36.2963C30.2504 37.1371 30.4938 38.1662 31.0912 39.1467L25.0619 41.6013ZM38.4323 41.0418C37.5842 40.6613 36.8172 40.4146 36.1919 40.2675C31.5123 39.1673 32.0637 35.2925 32.1429 34.8462C32.1568 34.7724 32.1602 34.7058 32.1575 34.634C32.7555 34.0353 33.3149 33.3296 33.8331 32.6258C33.8857 32.6344 33.9389 32.5945 33.9941 32.5945H39.0642L38.4323 41.0418ZM43.6328 26.6025C44.9159 26.6025 45.7308 27.1685 45.8239 27.5257L45.8306 27.6089C45.8046 27.9608 44.9758 28.5801 43.6328 28.5801C42.2678 28.5801 41.4323 27.9395 41.4323 27.5909C41.4323 27.2424 42.2678 26.6025 43.6328 26.6025ZM40.3307 42.0562C40.344 42.003 40.3547 41.9485 40.3593 41.8919L41.0964 32.0983C41.1483 31.9779 41.1775 31.8455 41.1775 31.7058C41.1775 31.6213 41.1636 31.5409 41.1436 31.4624L41.25 30.0455C41.9219 30.3714 42.7401 30.561 43.6328 30.561C44.5321 30.561 45.3549 30.3681 46.0301 30.0375L47.5022 47.9984C45.5671 45.5326 42.8086 43.4518 40.3307 42.0562Z' fill='black'/%3E%3Cpath d='M38.4519 49.8896H31.7641C31.2173 49.8896 30.9346 50.4789 30.9346 51.0257V56.8881C30.9346 57.2945 31.1022 57.6604 31.4807 57.8094L34.784 59.1305C34.9011 59.1764 35.0042 59.1996 35.128 59.1996C35.2517 59.1996 35.3654 59.1764 35.4818 59.1305L38.8903 57.8094C39.2695 57.6604 39.5821 57.2945 39.5821 56.8881V51.0257C39.5821 50.4789 38.9994 49.8896 38.4519 49.8896ZM37.5865 56.2143L35.2583 57.1442L32.9302 56.2143V51.8852H37.5865V56.2143Z' fill='black'/%3E%3Cpath d='M12.4438 35.9205H7.73754C7.19009 35.9205 6.74707 36.3708 6.74707 36.9183C6.74707 37.4657 7.19076 37.9161 7.73754 37.9161H12.4438C12.9912 37.9161 13.4343 37.4657 13.4343 36.9183C13.4343 36.3708 12.9912 35.9205 12.4438 35.9205Z' fill='black'/%3E%3Cpath d='M43.906 35.9165C43.3585 35.9165 42.9082 36.3602 42.9082 36.907V41.3658C42.9082 41.9132 43.3585 42.3563 43.906 42.3563C44.4534 42.3563 44.9038 41.9126 44.9038 41.3658V36.907C44.9038 36.3602 44.4534 35.9165 43.906 35.9165Z' fill='black'/%3E%3Cpath d='M27.6774 31.7058C27.9388 31.7058 28.2002 31.6027 28.3944 31.3985C33.7898 25.7397 32.7701 21.4811 32.7235 21.3022C32.5865 20.7727 32.0457 20.4461 31.5149 20.5838C30.9847 20.7208 30.6648 21.2543 30.8018 21.7845C30.8038 21.7931 30.9894 22.6412 30.6235 24.0581C30.2789 25.3918 29.3636 27.5105 26.9603 30.0309C26.5825 30.4267 26.5978 31.0539 26.9935 31.4318C27.1858 31.6147 27.4319 31.7058 27.6774 31.7058Z' fill='black'/%3E%3Cpath d='M13.5405 45.3656C13.3031 45.4321 7.70145 47.0578 5.44644 53.1597C5.25686 53.6732 5.51895 54.2426 6.03248 54.4322C6.14556 54.4741 6.26197 54.494 6.37572 54.494C6.77816 54.494 7.15732 54.2466 7.30499 53.8468C9.1988 48.7215 13.8731 47.3312 14.0753 47.2734C14.6008 47.125 14.9075 46.5796 14.7605 46.0534C14.6141 45.5266 14.0687 45.2186 13.5405 45.3656Z' fill='black'/%3E%3C/svg%3E%0A")
                        background-repeat no-repeat
                        background-size contain
                        
                        @media (max-width 1360px)
                            top 15px
                            right 15px
        a
            font-size 16px
            color #000
            font-weight normal
            line-height 18px
            margin-right 7px
            &:hover
                text-decoration none    

    &__body
        padding 25px 35px
        border 1px solid #ccc       
        position relative
        &:after
            content ''
            position absolute
            top 20px
            right 30px
            width 57px
            height 57px
            background-image url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.3098 46.1772H14.0693C13.6044 46.1772 13.2275 45.8003 13.2275 45.3354V34.5126C13.2275 34.0477 13.6044 33.6709 14.0693 33.6709H33.3098C33.7747 33.6709 34.1516 34.0477 34.1516 34.5126V45.3354C34.1516 45.8003 33.7747 46.1772 33.3098 46.1772ZM14.9111 44.4936H32.468V35.3544H14.9111V44.4936Z' fill='black'/%3E%3Cpath d='M21.2847 57H16.4746C16.0097 57 15.6328 56.6231 15.6328 56.1582V45.3354C15.6328 44.8705 16.0097 44.4937 16.4746 44.4937H21.2847C21.7496 44.4937 22.1265 44.8705 22.1265 45.3354V56.1582C22.1265 56.6231 21.7496 57 21.2847 57ZM17.3164 55.3164H20.4429V46.1772H17.3164V55.3164Z' fill='black'/%3E%3Cpath d='M56.1582 57H0.841772C0.376873 57 0 56.6231 0 56.1582C0 55.6933 0.376873 55.3164 0.841772 55.3164H56.1582C56.6231 55.3164 57 55.6933 57 56.1582C57 56.6231 56.6231 57 56.1582 57Z' fill='black'/%3E%3Cpath d='M51.3479 26.9367H38.1201C37.6552 26.9367 37.2783 26.5598 37.2783 26.0949V12.8671C37.2783 12.4022 37.6552 12.0253 38.1201 12.0253H51.3479C51.8128 12.0253 52.1897 12.4022 52.1897 12.8671V26.0949C52.1897 26.5598 51.8128 26.9367 51.3479 26.9367ZM38.9619 25.2531H50.5062V13.7088H38.9619V25.2531Z' fill='black'/%3E%3Cpath d='M51.3479 41.3671H38.1201C37.6552 41.3671 37.2783 40.9902 37.2783 40.5253V26.0949C37.2783 25.63 37.6552 25.2531 38.1201 25.2531H51.3479C51.8128 25.2531 52.1897 25.63 52.1897 26.0949V40.5253C52.1897 40.9902 51.8128 41.3671 51.3479 41.3671ZM38.9619 39.6835H50.5062V26.9367H38.9619V39.6835Z' fill='black'/%3E%3Cpath d='M33.3098 35.3544H20.082C19.6171 35.3544 19.2402 34.9775 19.2402 34.5126V0.841772C19.2402 0.376873 19.6171 0 20.082 0H39.3225C39.7874 0 40.1643 0.376873 40.1643 0.841772V8.05696C40.1643 8.52186 39.7874 8.89873 39.3225 8.89873H34.1516V34.5126C34.1516 34.9775 33.7747 35.3544 33.3098 35.3544ZM20.9238 33.6709H32.4681V8.05696C32.4681 7.59206 32.8449 7.21519 33.3098 7.21519H38.4807V1.68354H20.9238V33.6709Z' fill='black'/%3E%3Cpath d='M51.3479 37.7595H38.1201C37.6552 37.7595 37.2783 37.3826 37.2783 36.9177C37.2783 36.4528 37.6552 36.0759 38.1201 36.0759H51.3479C51.8128 36.0759 52.1897 36.4528 52.1897 36.9177C52.1897 37.3826 51.8128 37.7595 51.3479 37.7595Z' fill='black'/%3E%3Cpath d='M51.3479 34.1519H38.1201C37.6552 34.1519 37.2783 33.775 37.2783 33.3101C37.2783 32.8452 37.6552 32.4684 38.1201 32.4684H51.3479C51.8128 32.4684 52.1897 32.8452 52.1897 33.3101C52.1897 33.775 51.8128 34.1519 51.3479 34.1519Z' fill='black'/%3E%3Cpath d='M51.3479 30.5443H38.1201C37.6552 30.5443 37.2783 30.1674 37.2783 29.7025C37.2783 29.2376 37.6552 28.8607 38.1201 28.8607H51.3479C51.8128 28.8607 52.1897 29.2376 52.1897 29.7025C52.1897 30.1674 51.8128 30.5443 51.3479 30.5443Z' fill='black'/%3E%3Cpath d='M26.0947 35.3544H20.082C19.6171 35.3544 19.2402 34.9775 19.2402 34.5126V8.05695C19.2402 7.59205 19.6171 7.21518 20.082 7.21518H26.0947C26.5596 7.21518 26.9364 7.59205 26.9364 8.05695V34.5126C26.9364 34.9775 26.5596 35.3544 26.0947 35.3544ZM20.9238 33.6709H25.2529V8.89872H20.9238V33.6709Z' fill='black'/%3E%3Cpath d='M33.3098 12.5063H20.082C19.6171 12.5063 19.2402 12.1295 19.2402 11.6646C19.2402 11.1997 19.6171 10.8228 20.082 10.8228H33.3098C33.7747 10.8228 34.1516 11.1997 34.1516 11.6646C34.1516 12.1295 33.7747 12.5063 33.3098 12.5063Z' fill='black'/%3E%3Cpath d='M33.3098 16.1139H20.082C19.6171 16.1139 19.2402 15.7371 19.2402 15.2722C19.2402 14.8073 19.6171 14.4304 20.082 14.4304H33.3098C33.7747 14.4304 34.1516 14.8073 34.1516 15.2722C34.1516 15.7371 33.7747 16.1139 33.3098 16.1139Z' fill='black'/%3E%3Cpath d='M33.3098 19.7215H20.082C19.6171 19.7215 19.2402 19.3446 19.2402 18.8797C19.2402 18.4148 19.6171 18.038 20.082 18.038H33.3098C33.7747 18.038 34.1516 18.4148 34.1516 18.8797C34.1516 19.3446 33.7747 19.7215 33.3098 19.7215Z' fill='black'/%3E%3Cpath d='M33.3098 23.3291H20.082C19.6171 23.3291 19.2402 22.9522 19.2402 22.4873C19.2402 22.0224 19.6171 21.6455 20.082 21.6455H33.3098C33.7747 21.6455 34.1516 22.0224 34.1516 22.4873C34.1516 22.9522 33.7747 23.3291 33.3098 23.3291Z' fill='black'/%3E%3Cpath d='M33.3098 26.9367H20.082C19.6171 26.9367 19.2402 26.5598 19.2402 26.0949C19.2402 25.63 19.6171 25.2531 20.082 25.2531H33.3098C33.7747 25.2531 34.1516 25.63 34.1516 26.0949C34.1516 26.5598 33.7747 26.9367 33.3098 26.9367Z' fill='black'/%3E%3Cpath d='M33.3098 30.5443H20.082C19.6171 30.5443 19.2402 30.1674 19.2402 29.7025C19.2402 29.2376 19.6171 28.8607 20.082 28.8607H33.3098C33.7747 28.8607 34.1516 29.2376 34.1516 29.7025C34.1516 30.1674 33.7747 30.5443 33.3098 30.5443Z' fill='black'/%3E%3Cpath d='M56.1586 57H50.146C49.6811 57 49.3042 56.6231 49.3042 56.1582V46.1772H33.3105C32.8456 46.1772 32.4688 45.8003 32.4688 45.3354V8.05695C32.4688 7.59205 32.8456 7.21518 33.3105 7.21518H56.1586C56.6235 7.21518 57.0004 7.59205 57.0004 8.05695V56.1582C57.0004 56.6231 56.6235 57 56.1586 57ZM50.9877 55.3164H55.3168V8.89872H34.1523V44.4936H50.146C50.6109 44.4936 50.9877 44.8705 50.9877 45.3354V55.3164Z' fill='black'/%3E%3Cpath d='M50.1449 49.7848H21.2842C20.8193 49.7848 20.4424 49.4079 20.4424 48.943C20.4424 48.4781 20.8193 48.1013 21.2842 48.1013H50.1449C50.6098 48.1013 50.9867 48.4781 50.9867 48.943C50.9867 49.4079 50.6098 49.7848 50.1449 49.7848Z' fill='black'/%3E%3Cpath d='M50.1449 53.3924H21.2842C20.8193 53.3924 20.4424 53.0155 20.4424 52.5506C20.4424 52.0857 20.8193 51.7089 21.2842 51.7089H50.1449C50.6098 51.7089 50.9867 52.0857 50.9867 52.5506C50.9867 53.0155 50.6098 53.3924 50.1449 53.3924Z' fill='black'/%3E%3Cpath d='M5.65134 57C5.18644 57 4.80957 56.6231 4.80957 56.1582V42.9304C4.80957 42.6654 4.93439 42.4159 5.14628 42.2569L9.9564 38.6493C10.3282 38.3704 10.8559 38.4456 11.1349 38.8176C11.4138 39.1895 11.3385 39.7171 10.9665 39.9961L6.49311 43.3512V56.1582C6.49311 56.6231 6.11624 57 5.65134 57Z' fill='black'/%3E%3Cpath d='M5.65132 47.3797C5.47563 47.3797 5.29826 47.325 5.14686 47.2114L0.336735 43.6038C-0.0352081 43.3249 -0.110487 42.7972 0.16838 42.4253C0.447247 42.0534 0.974918 41.9776 1.34686 42.2571L6.15698 45.8647C6.52893 46.1435 6.60421 46.6712 6.32534 47.0431C6.15999 47.2634 5.90722 47.3797 5.65132 47.3797Z' fill='black'/%3E%3Cpath d='M5.65189 43.7724C5.29943 43.7724 4.97101 43.5493 4.85341 43.1966L3.65088 39.589C3.50381 39.1479 3.74215 38.6712 4.18324 38.5243C4.6242 38.3772 5.10101 38.6157 5.24796 39.0566L6.45049 42.6642C6.59756 43.1053 6.35922 43.582 5.91813 43.729C5.82986 43.7584 5.74015 43.7724 5.65189 43.7724Z' fill='black'/%3E%3Cpath d='M5.65077 50.9873C5.47508 50.9873 5.2977 50.9326 5.1463 50.8189C4.77436 50.5401 4.69908 50.0124 4.97795 49.6404L8.58554 44.8303C8.86441 44.4584 9.39208 44.3826 9.76402 44.6621C10.136 44.941 10.2112 45.4686 9.93238 45.8406L6.32479 50.6507C6.15944 50.871 5.90667 50.9873 5.65077 50.9873Z' fill='black'/%3E%3Cpath d='M13.4689 14.9114H7.45629C6.07855 14.9114 4.94348 13.8529 4.82154 12.5063H3.84869C2.3899 12.5063 1.20312 11.3195 1.20312 9.86075C1.20312 8.40196 2.3899 7.21518 3.84869 7.21518H7.45629C8.83403 7.21518 9.9691 8.27365 10.091 9.62024H13.4689C14.9277 9.62024 16.1145 10.807 16.1145 12.2658C16.1145 13.7246 14.9277 14.9114 13.4689 14.9114ZM3.84869 8.89872C3.31826 8.89872 2.88667 9.33031 2.88667 9.86075C2.88667 10.3912 3.31826 10.8228 3.84869 10.8228H5.75735C6.03069 10.8228 6.28694 10.9555 6.44472 11.1786C6.60249 11.4018 6.64205 11.6876 6.5509 11.9453C6.51326 12.0515 6.49426 12.1593 6.49426 12.2658C6.49426 12.7962 6.92585 13.2278 7.45629 13.2278H13.4689C13.9994 13.2278 14.431 12.7962 14.431 12.2658C14.431 11.7354 13.9994 11.3038 13.4689 11.3038H9.15522C8.88189 11.3038 8.62563 11.171 8.46786 10.948C8.31008 10.7248 8.27052 10.4389 8.36167 10.1812C8.39931 10.075 8.41831 9.96729 8.41831 9.86075C8.41831 9.33031 7.98672 8.89872 7.45629 8.89872H3.84869Z' fill='black'/%3E%3Cpath d='M46.5381 26.9367C46.0732 26.9367 45.6963 26.5598 45.6963 26.0949V12.8671C45.6963 12.4022 46.0732 12.0253 46.5381 12.0253C47.003 12.0253 47.3798 12.4022 47.3798 12.8671V26.0949C47.3798 26.5598 47.003 26.9367 46.5381 26.9367Z' fill='black'/%3E%3Cpath d='M42.9297 26.9367C42.4648 26.9367 42.0879 26.5598 42.0879 26.0949V12.8671C42.0879 12.4022 42.4648 12.0253 42.9297 12.0253C43.3946 12.0253 43.7714 12.4022 43.7714 12.8671V26.0949C43.7714 26.5598 43.3946 26.9367 42.9297 26.9367Z' fill='black'/%3E%3C/svg%3E%0A")
            background-repeat no-repeat
            background-size contain

            @media (max-width 1360px)
                top 15px
                right 15px

        @media (max-width 1360px)
            padding 15px    

    &__phone,
    &__email,
    &__work-mode,
    &__address
        display flex
        align-items center
        margin-bottom 15px
        position relative

        span 
            font-size 16px
            color #000
            font-weight normal
            line-height 18px

    &__email

        a
            color #00ac78
            text-decoration underline    

    &__address        

        span 
            line-height 25px

        & ^[0]

            &__icon
                margin-top -15px    

    &__icon
        flex 0 0 16px
        width 16px
        max-width 16px
        line-height 0
        margin-right 10px

        .svg-icon
            width 16px
            display block

    &__btn-show
        font-size 16px
        color #00ac78
        font-weight normal
        line-height 18px
        border none
        background-color #fff
        text-decoration underline
        position absolute
        padding-right 0
        top 0px
        left 87px
        &:hover
            text-decoration none    

    &__map
        border 1px solid #ccc    