<div block="our-contacts">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item" mods="manager">
                <div elem="body">
                    <div elem="name">Мобильный менеджер</div>
                    <div elem="content">
                        <div elem="phone">
                            <span elem="icon">{{ _icon('phone', { tag: 'i' }) }}</span>
                            <a href="tel:+79171234567">+7 (917) 123 45 67</a>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="phone">
                            <span elem="icon">{{ _icon('wa-icon', { tag: 'i' }) }}</span>
                            <a href="tel:+79171234567">+7 (917) 123 45 67</a>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="phone">
                            <span elem="icon">{{ _icon('tel-icon', { tag: 'i' }) }}</span>
                            <a href="tel:+79911234567">+7 (991) 123 45 67</a>
                            <span>, Евгений</span>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="email">
                            <span elem="icon">{{ _icon('mail-icon', { tag: 'i' }) }}</span>
                            <a href="mailto:info@legnodomus.ru">info@legnodomus.ru </a>
                        </div>
                        <div elem="work-mode">
                            <span elem="icon">{{ _icon('work-mode-icon', { tag: 'i' }) }}</span>
                            <span>Режим работы с 10:00 до 20:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="name">Офис №1</div>
                    <div elem="content">
                        <div elem="phone">
                            <span elem="icon">{{ _icon('phone', { tag: 'i' }) }}</span>
                            <a href="tel:+79911234567">+7 (991) 123 45 67</a>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="phone">
                            <span elem="icon">{{ _icon('wa-icon', { tag: 'i' }) }}</span>
                            <a href="tel:+79911234567">+7 (991) 123 45 67</a>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="phone">
                            <span elem="icon">{{ _icon('tel-icon', { tag: 'i' }) }}</span>
                            <a href="tel:+74951234567">+7 (495) 123 45 67</a>
                            <span>, Евгений</span>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="address">
                            <span elem="icon">{{ _icon('loc-icon', { tag: 'i' }) }}</span>
                            <span>Москва, Каширское шоссе, владение 63, корпус 1, строение 52</span>
                        </div>
                        <div elem="work-mode">
                            <span elem="icon">{{ _icon('work-mode-icon', { tag: 'i' }) }}</span>
                            <span>Режим работы выставки с 10:00 до 20:00</span>
                        </div>
                    </div>
                </div>
                <div elem="map">
                    <div style="position:relative;overflow:hidden; height: 320px;"><a href="https://yandex.uz/maps/org/legno_domus/156833341497/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Legno Domus - строительство из дерева</a><a href="https://yandex.uz/maps/213/moscow/category/summer_house_construction/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Строительство дачных домов и коттеджей в Москве</a><a href="https://yandex.uz/maps/213/moscow/category/baths_and_saunas_construction/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Строительство бань и саун в Москве</a><iframe src="https://yandex.uz/map-widget/v1/-/CKr1zP7w" width="560" height="400" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
                </div>
            </div>
            <div elem="item">
                <div elem="body">
                    <div elem="name">Офис №1</div>
                    <div elem="content">
                        <div elem="phone">
                            <span elem="icon">{{ _icon('phone', { tag: 'i' }) }}</span>
                            <a href="tel:+79911234567">+7 (991) 123 45 67</a>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="phone">
                            <span elem="icon">{{ _icon('wa-icon', { tag: 'i' }) }}</span>
                            <a href="tel:+79911234567">+7 (991) 123 45 67</a>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="phone">
                            <span elem="icon">{{ _icon('tel-icon', { tag: 'i' }) }}</span>
                            <a href="tel:+74951234567">+7 (495) 123 45 67</a>
                            <span>, Евгений</span>
                            <button elem="btn-show" class="js-btn-show-info" type="button">показать</button>
                        </div>
                        <div elem="address">
                            <span elem="icon">{{ _icon('loc-icon', { tag: 'i' }) }}</span>
                            <span>Москва, Каширское шоссе, владение 63, корпус 1, строение 52</span>
                        </div>
                        <div elem="work-mode">
                            <span elem="icon">{{ _icon('work-mode-icon', { tag: 'i' }) }}</span>
                            <span>Режим работы выставки с 10:00 до 20:00</span>
                        </div>
                    </div>
                </div>
                <div elem="map">
                    <div style="position:relative;overflow:hidden; height: 320px;"><a href="https://yandex.uz/maps/org/legno_domus/156833341497/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Legno Domus - строительство из дерева</a><a href="https://yandex.uz/maps/213/moscow/category/summer_house_construction/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Строительство дачных домов и коттеджей в Москве</a><a href="https://yandex.uz/maps/213/moscow/category/baths_and_saunas_construction/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Строительство бань и саун в Москве</a><iframe src="https://yandex.uz/map-widget/v1/-/CKr1zP7w" width="560" height="400" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- our-contacts -->