
.form-test-popup {
    display: none;

  .logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  width: auto !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .logo span {
    color: #D1A65A; }

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 4px 14px #CFA55B;
            box-shadow: 0px 4px 14px #CFA55B; }
  50% {
    -webkit-box-shadow: 0px 4px 40px #CFA55B;
            box-shadow: 0px 4px 40px #CFA55B; }
  100% {
    -webkit-box-shadow: 0px 4px 14px #CFA55B;
            box-shadow: 0px 4px 14px #CFA55B; } }

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 4px 14px #CFA55B;
            box-shadow: 0px 4px 14px #CFA55B; }
  50% {
    -webkit-box-shadow: 0px 4px 40px #CFA55B;
            box-shadow: 0px 4px 40px #CFA55B; }
  100% {
    -webkit-box-shadow: 0px 4px 14px #CFA55B;
            box-shadow: 0px 4px 14px #CFA55B; } }

.button {
  margin-top: 65px;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#CFA55B), to(#CFA55B));
  background: -webkit-linear-gradient(left, #CFA55B 0%, #CFA55B 100%);
  background: -o-linear-gradient(left, #CFA55B 0%, #CFA55B 100%);
  background: linear-gradient(90deg, #CFA55B 0%, #CFA55B 100%);
  -webkit-box-shadow: 0px 4px 14px #CFA55B;
          box-shadow: 0px 4px 14px #CFA55B;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 25px;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
  -webkit-animation: shadow 1.5s linear;
          animation: shadow 1.5s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  .button:hover {
    text-decoration: none;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-animation: none;
            animation: none; }
  .button:focus {
    color: #fff;
    text-decoration: none;
    -webkit-animation: none;
            animation: none; }

.title {
  margin-bottom: 30px; }

/* весь контейнер поддерживает перспективу */

/* переверните сторону при проведении мышью */

/* здесь находится скорость перевертывания */

/* скройте обратную сторону во время переворота */

/* лицевая сторона размещена над обратной */

/* обратная, изначально скрытая сторона */

.form {
  width: 320px;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .form h4 {
    margin: 0;
    padding: 0;
    color: #1C1D21;
    font-size: 24px; }
  .form p {
    margin: 0;
    padding: 0;
    color: #1C1D21;
    font-size: 16px;
    font-weight: 300; }
  .form form input {
    width: 100%;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    font-size: 16px;
    padding: 10px;
    outline: transparent;
    color: #1C1D21;
    margin-top: 10px; }

#form {
  width: 85%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 0;
  position: relative;
  color: #1C1D21;
  text-align: left;
  }
  #form .button {
    -webkit-animation: none;
            animation: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.form-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px; }

.form-top .logo {
  color: #1C1D21;
  margin-right: 30px; }

.form-top p {
  font-weight: 300;
  line-height: 1.5; }

.line {
  margin: 30px 0;
  height: 60px;
  background-color: #F2F2F2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.green {
  position: absolute;
  height: 100%;
  background-color: #D1A65A;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all; }

.line-text {
  font-size: 13px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
   font-weight: 500;
  }

.line-text .price {
  font-weight: 700; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 0 30px; }

.step-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pfack: start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  position: relative; }

.step-text {
  margin-right: 20px; }

.step-content:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #f7c727;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0; }

.step-item {
  width: 9px;
  height: 9px;
  border: 1px solid #D1A65A;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF;
  margin-right: 15px;
  position: relative;
  z-index: 2; }

.step-item:last-child {
  margin-right: 0; }

.step-item.active {
  background: #D1A65A; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  margin-top: 30px;
  padding-left: 0; }

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  width: 35px;
  min-width: 35px;
  height: 35px;
  border: 3px solid #D1A65A;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  margin-right: 15px; }

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
  font-weight: 300; }

.form-content p {
  padding-left: 85px; }

.form-content p i {
  color: #f7c727;
  margin-right: 10px; }
.form-content .title{
  margin-left: 25px;
}
.content {
  margin-top: 30px;
  padding: 0 30px; }
.form-content_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.form-content_button .back_button{
  padding: 25px 50px;
  display: inline-block;
  background: #DADADA;
  color: #A7A7A7;
  border-radius: 50px;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  margin-top: 65px;
}
.content label {
  position: relative;
  margin-right: 30px; }

.content label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f7c727;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.content input:checked + label:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #D1A65A;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px; }

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px; }

.radio + label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px; }

.radio + label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #D1A65A;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #FFF; }

.radio:checked + label:after {
  opacity: 1; }

#form .button {
  margin-left: 30px; }

.form .button i {
  margin-left: 10px; }

form input {
  background: #EFEFEF;
  display: inline-block;
  width: 50%;
  max-width: 460px;
  padding: 11px 0 11px 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  font-family: "PT Sans";
  font-size: 22px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: inherit; }

label {
    font-size: 14px;
    font-weight: 700;
}

label img {
    margin-bottom: 10px;
}

input.name {
  background: #EFEFEF url(img/user.png) no-repeat left 10px center;
  -webkit-background-size: 28px 28px;
          background-size: 28px; }

input.tel {
  background: #EFEFEF url(img/phone.png) no-repeat left 10px center;
  -webkit-background-size: 28px 28px;
          background-size: 28px; }

.button.false {
  background: #DADADA;
  color: #A7A7A7; }

.finish {
  text-align: center; }

.finish i {
  display: block;
  font-size: 58px;
  color: #f7c727; }

.finish h4 {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 2px; }

.finish p {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.5; }

.finish a {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #f7c727; }

#format label img {
  width: auto;
  height: 86px; }

#format .radio + label:before {
  top: 95px; }

#format .content input:checked + label:after {
  top: 99px; }

#foundation label img {
  width: auto;
  height: 86px; }

#foundation .radio + label:before {
  top: 95px; }

#foundation .content input:checked + label:after {
  top: 99px; }

#foundation .radio + label.normal:before {
  top: -3px; }

#foundation .content input:checked + label.normal:after {
  top: 2px; }

#window label img {
  width: auto;
  height: 86px; }

#window .radio + label:before {
  top: 95px; }

#window .content input:checked + label:after {
  top: 99px; }

#coating label img {
  width: auto;
  height: 86px; }

#coating .radio + label:before {
  top: 95px; }

#coating .content input:checked + label:after {
  top: 99px; }

#addition label img {
  width: auto;
  height: 86px; }

#addition .radio + label:before {
  top: 95px; }

#addition .content input:checked + label:after {
  top: 99px; }

#addition .radio + label.normal:before {
  top: -3px; }

#addition .content input:checked + label.normal:after {
  top: 2px; }

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 24px; } }

@media screen and (max-width: 1200px) {
  .title {
    margin-bottom: 20px; }
}

@media screen and (max-width: 996px) {
  .title {
    padding-left: 25px; } }

@media screen and (max-width: 650px) {
  .logo {
    font-size: 20px; } }

@media screen and (max-width: 480px) {
  .button {
    padding: 18px;
    font-size: 14px;
    margin-top: 25px; }
  .title {
    padding-left: 0;
    margin-bottom: 10px; }
  #form {
    width: 100%; }
  .form-top {
    display: block;
    text-align: center; }
  .form-top p {
    font-size: 12px; }
  .line {
    height: 80px;
    text-align: center; }
  .title {
    display: block;
    text-align: left; }
  .number {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .text {
    font-size: 24px;
    margin-bottom: 20px; }
  .form-content p {
    padding: 0;
    padding: 0 10px;
    text-align: center; }
  .form-content p i {
    display: block;
    font-size: 48px;
    margin-bottom: 20px; }
  #form input {
    width: 266px;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 11px 11px 11px 50px; }
  #form .button {
    margin: 0 10px; }
  .form-content {
    text-align: center; }
  .step {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .content {
    text-align: left; }
  #goods .content {
    padding: 0 15px; } }
}
