<div block="form-test-popup" class="js-form-test-popup">
    <div class="fancybox-container fancybox-is-open fancybox-can-swipe" role="dialog" tabindex="-1" id="fancybox-container-3" style="transition-duration: 366ms;"><div class="fancybox-bg"></div><div class="fancybox-inner"><div class="fancybox-infobar"><span data-fancybox-index="">1</span>&nbsp;/&nbsp;<span data-fancybox-count="">1</span></div><div class="fancybox-toolbar compensate-for-scrollbar"><button data-fancybox-zoom="" class="fancybox-button fancybox-button--zoom" title="Zoom" disabled=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.7 17.3l-3-3a5.9 5.9 0 0 0-.6-7.6 5.9 5.9 0 0 0-8.4 0 5.9 5.9 0 0 0 0 8.4 5.9 5.9 0 0 0 7.7.7l3 3a1 1 0 0 0 1.3 0c.4-.5.4-1 0-1.5zM8.1 13.8a4 4 0 0 1 0-5.7 4 4 0 0 1 5.7 0 4 4 0 0 1 0 5.7 4 4 0 0 1-5.7 0z"></path></svg></button><button data-fancybox-play="" class="fancybox-button fancybox-button--play" title="Start slideshow" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.5 5.4v13.2l11-6.6z"></path></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.33 5.75h2.2v12.5h-2.2V5.75zm5.15 0h2.2v12.5h-2.2V5.75z"></path></svg></button><button data-fancybox-thumbs="" class="fancybox-button fancybox-button--thumbs" title="Thumbnails" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14.59 14.59h3.76v3.76h-3.76v-3.76zm-4.47 0h3.76v3.76h-3.76v-3.76zm-4.47 0h3.76v3.76H5.65v-3.76zm8.94-4.47h3.76v3.76h-3.76v-3.76zm-4.47 0h3.76v3.76h-3.76v-3.76zm-4.47 0h3.76v3.76H5.65v-3.76zm8.94-4.47h3.76v3.76h-3.76V5.65zm-4.47 0h3.76v3.76h-3.76V5.65zm-4.47 0h3.76v3.76H5.65V5.65z"></path></svg></button><button data-fancybox-close="" class="fancybox-button fancybox-button--close" title="Close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 10.6L6.6 5.2 5.2 6.6l5.4 5.4-5.4 5.4 1.4 1.4 5.4-5.4 5.4 5.4 1.4-1.4-5.4-5.4 5.4-5.4-1.4-1.4-5.4 5.4z"></path></svg></button></div><div class="fancybox-navigation"><button data-fancybox-prev="" class="fancybox-button fancybox-button--arrow_left" title="Previous" disabled=""><div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.28 15.7l-1.34 1.37L5 12l4.94-5.07 1.34 1.38-2.68 2.72H19v1.94H8.6z"></path></svg></div></button><button data-fancybox-next="" class="fancybox-button fancybox-button--arrow_right compensate-for-scrollbar" title="Next" disabled=""><div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.4 12.97l-2.68 2.72 1.34 1.38L19 12l-4.94-5.07-1.34 1.38 2.68 2.72H5v1.94z"></path></svg></div></button></div><div class="fancybox-stage"><div class="fancybox-slide fancybox-slide--html fancybox-slide--current fancybox-slide--complete" style=""><div class="form fancybox-content" id="form" style="display: inline-block;">
    <div class="form-top">
        <div class="logo">
            Faber<span>House</span>
        </div>
        <p>Узнайте стоимость строительства деревянного дома за 60 секунд <br>+ получите гарантированную скидку</p>
    </div>
    <div class="line">
        <div class="green" style="width: 5%;"></div>
        <div class="line-text">
            Ваша скидка на строительство составляет <span class="price">3000</span>₽, для продолжения выберите <span class="line-text">вариант дизайна</span>
        </div>
    </div>
    <div class="step">
        <div class="step-text">
            Шаг <span>1</span>
        </div>
        <div class="step-content">
            <div class="step-item active"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
            <div class="step-item"></div>
        </div>
    </div>
    <div class="form-content" id="area">
        <div class="title">
            <div class="number">1</div>
            <div class="text">
                Выберите площадь своего будущего дома
            </div>
        </div>
        <div class="content">
            <input type="radio" name="area" data-area="до 120 кв.м." class="radio" id="area1">
            <label for="area1">до 120 кв.м.</label>

            <input type="radio" name="area" data-area="до 200 кв.м." class="radio" id="area2">
            <label for="area2">до 200 кв.м.</label>

            <input type="radio" name="area" data-area="свыше 200 кв.м." class="radio" id="area3">
            <label for="area3">свыше 200 кв.м.</label>
        </div>
        <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
    </div>


    <div class="form-content" id="format" style="display: none">
        <div class="title">
            <div class="number">2</div>
            <div class="text">
                Выберите формат строительства дома
            </div>
        </div>
        <div class="content">
            <input type="radio" name="format" format="Под ключ (с чистовой отделкой и инженерными сетями)" class="radio" id="type1">
            <label for="type1"><img src="/img/h1.png" alt=""><br>Под ключ (с чистовой отделкой и инженерными сетями)</label>

            <input type="radio" format="Тёплый контур (строительство под крышу)" name="format" class="radio" id="type2">
            <label for="type2"><img src="/img/h2.png" alt=""><br>Тёплый контур (строительство под крышу)</label>

            <input type="radio" format="Домокомплект для самостоятельной сборки" name="format" class="radio" id="type3">
            <label for="type3"><img src="/img/h3.jpg" alt=""><br>Домокомплект для самостоятельной сборки</label>
        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="area" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>



    <div class="form-content" id="foundation" style="display: none">
        <div class="title">
            <div class="number">3</div>
            <div class="text">
                Выберите тип фундамента
            </div>
        </div>
        <div class="content">
            <input type="radio" name="foundation" foundation="Винтовые сваи с обвязкой из бруса" class="radio" id="foundation1">
            <label for="foundation1"><img src="img/s2-1.jpg" alt=""><br>Винтовые сваи с обвязкой из бруса</label>

            <input type="radio" name="foundation" class="radio" foundation="Железобетонный ленточный фундамент" id="foundation2">
            <label for="foundation2"><img src="img/s2-2.jpg" alt=""><br>Железобетонный ленточный фундамент</label>

            <input type="radio" name="foundation" class="radio" foundation="Не знаю" id="foundation3">
            <label for="foundation3" class="normal">Не знаю</label>
        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="format" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>

    </div>


    <div class="form-content" id="window" style="display: none">
        <div class="title">
            <div class="number">4</div>
            <div class="text">
                Выберите тип окон
            </div>
        </div>
        <div class="content">
            <input type="radio" name="window" window="Пластиковые с двухкамерным стеклопакетом" class="radio" id="window1">
            <label for="window1"><img src="img/s3-1.jpg" alt=""><br>Пластиковые с двухкамерным стеклопакетом</label>

            <input type="radio" name="window" class="radio" window="Деревянные евро окна" id="window2">
            <label for="window2"><img src="img/s3-2.jpg" alt=""><br>Деревянные евро окна</label>
        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="foundation" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>



    <div class="form-content" id="floor" style="display: none">
        <div class="title">
            <div class="number">5</div>
            <div class="text">
                Будет водяной теплый пол?
            </div>
        </div>
        <div class="content">
            <input type="radio" name="floor" floor="Да" class="radio" id="floor1">
            <label for="floor1">Да</label>

            <input type="radio" name="floor" class="radio" floor="Нет" id="floor2">
            <label for="floor2">Нет</label>

            <input type="radio" name="floor" class="radio" floor="Не знаю" id="floor3">
            <label for="floor3">Не знаю</label>
        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="window" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>


    <div class="form-content" id="coating" style="display: none">
        <div class="title">
            <div class="number">6</div>
            <div class="text">
                Выберите кровельное покрытие
            </div>
        </div>
        <div class="content">
            <input type="radio" name="coating" coating="Металлочерепица" class="radio" id="coating1">
            <label for="coating1"><img src="img/s5-1.jpg" alt=""><br>Металлочерепица</label>

            <input type="radio" name="coating" class="radio" coating="Гибкая кровля Шинглас" id="coating2">
            <label for="coating2"><img src="img/s5-2.jpg" alt=""><br>Гибкая кровля Шинглас</label>

        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="floor" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>


    <div class="form-content" id="addition" style="display: none">
        <div class="title">
            <div class="number">7</div>
            <div class="text">
                Что бы Вы хотели в дополнение к своему дому?
            </div>
        </div>
        <div class="content">
            <input type="checkbox" name="seo" addition="Навес для автомобиля" class="radio" id="addition1">
            <label for="addition1"><img src="img/s6-1.jpg" alt=""><br>Навес для автомобиля</label>

            <input type="checkbox" name="seo" class="radio" addition="Беседка" id="addition2">
            <label for="addition2"><img src="img/s6-2.jpg" alt=""><br>Беседка</label>

            <input type="checkbox" name="seo" class="radio" addition="Баня" id="addition3">
            <label for="addition3"><img src="img/s6-3.jpg" alt=""><br>Баня</label>

            <input type="checkbox" name="seo" class="radio" addition="Баня" id="addition4">
            <label for="addition4" class="normal">Другое</label>

        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="coating" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>


    <div class="form-content" id="station" style="display: none">
        <div class="title">
            <div class="number">8</div>
            <div class="text">
                У Вас уже есть земельный участок под строительство дома?
            </div>
        </div>
        <div class="content">
            <input type="checkbox" name="station" station="Да" class="radio" id="station1">
            <label for="station1">Да</label>

            <input type="checkbox" name="station" class="radio" station="Нет" id="station2">
            <label for="station2">Нет</label>

            <input type="checkbox" name="station" class="radio" station="В процессе покупки/оформления" id="station3">
            <label for="station3">В процессе покупки/оформления</label>

        </div>
        <div class="form-content_button">
            <a href="javascript:void(0);" attr-back="station" class="back_button">Назад</a>
            <a href="" class="button false">На следующий шаг<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>




    <div class="form-content" id="goods" style="display: none">
        <div class="title">
            <div class="number">9</div>
            <div class="text">
                Спасибо за ответы! Получите результат расчета, оставив контакты.
            </div>
        </div>
        <p><i class="fas fa-gift"></i> гарантированная скидка 32 000 Р строительство дома + проект бесплатно</p>
        <div class="content">
            <form action="">
                <input type="text" class="name" id="name" placeholder="Введите ваше имя">
                <input type="text" class="mail" id="mail" placeholder="Электроная почта">
                <input type="text" class="tel" id="tel" placeholder="Введите ваш номер">
            </form>
        </div>
        <a href="" class="button">Получить результат расчета<i class="fas fa-arrow-right"></i></a>
    </div>
    <div class="finish" style="display: none">
        <i class="fas fa-check"></i><br>
        <h4>Заявка отправлена</h4>
        <p>Наш менеджер позвонит к вам на указаный номер телефона.</p>
        <p>А пока вы можете зайти на наш основной сайт</p>
        <a href="https://legnodomus.ru">LegnoDomus</a>
    </div>
<button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button></div></div></div><div class="fancybox-caption fancybox-caption--separate"><div class="fancybox-caption__body"></div></div></div></div>
</div><!-- form-test-popup -->
