.info-table
    width 100%

    @media (max-width 1279px)
        overflow-x auto

    table

        @media (max-width 1279px)
            width 1500px

        thead
            background #EFEBDE
            border 1px solid #CCCCCC

            tr
                th
                    font-size 18px
                    color #000
                    font-weight normal
                    line-height 25px
                    padding 25px 20px 40px 30px
                    border 1px solid #CCCCCC
                    &:first-child
                        width 23%

        tbody

            tr
                td
                    font-size 18px
                    color #000
                    font-weight normal
                    line-height 25px
                    padding 25px 30px 40px
                    border 1px solid #CCCCCC         