<div block="info-table">
    <table>
        <thead>
            <tr>
                <th>Комплектация брусового дома с мансардой</th>
                <th>90×140мм</th>
                <th>140×140мм</th>
                <th>190×140мм</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Высота помещений</td>
                <td colspan="3">Опорно-столбчатые блоки (Одна тумбочка размером 400×400×400 мм, состоит из четырех цементных блоков размером 200×200×400 мм, ). Стоимость свайного фундамента рассчитывается отдельно.  </td>
            </tr>
            <tr>
                <td>Фундамент</td>
                <td colspan="3">
                    Высота 1-го этажа — 2,40 м ± 5 см,<br>
                    высота мансардного этажа — 2,3 м ± 5 см
                </td>
            </tr>
            <tr>
                <td>Наружные стены 1-го</td>
                <td>Профилированный брус <br> 90×140 мм</td>
                <td>Профилированный брус <br> 140×140 мм</td>
                <td>Профилированный брус <br> 190×140 мм</td>
            </tr>
        </tbody>
    </table>
</div><!-- info-table -->