<div block="additional-services">
    <div elem="content">
        <strong>LegnoDomus — компания занимающаяся производством пиломатериала и строительством. Поэтому мы акцентируем внимание на качественном выполнении <a href="#">своих основных задач</a>, а не на максимальном заработке с помощью оказания всевозможных смежных услуг (фундаменты, септики, скважины, отопление, водоснабжение и др.).</strong>
        <p>Однако, учитывая потребность заказчика знать размер необходимых затрат на коммуникации и работы после строительства дома,  мы отобрали ряд компаний партнеров, которых можем смело рекомендовать как добросовестных специалистов своего дела!</p>
        <p>Вы спросите, почему мы, как большинство строительных компаний на рынке, не включаем в стоимость дома такие работы как:</p>
        <ul>
            <li>установка фундамента;</li>
            <li>разводка электрики по дому;</li>
            <li>отопление;</li>
            <li>разводка воды и канализации?</li>
        </ul>
        <p>На эти вопросы есть только один ответ — каждый должен заниматься своим делом!
            Так называемые «пакетные предложения» (изначально входящие в стоимость дома) в 100% случаев предполагают максимально заниженную себестоимость материалов и работ, а достичь снижения себестоимости без ущерба качеству — невозможно!</p>
        <blockquote>
            Как пример, можно рассмотреть дом популярного размера 6м×8м — при заказе, многие компании дарят свайный фундамент, но вместо 20 свай, необходимых для надежного основания дома, размером 6м×8м, вы получите 12 свай и возможно придётся отдельно оплатить доставку, монтаж и оголовки. Итог — вы получаете 12 свай вместо 20 и оплачиваете стоимость «подарка» размытую в монтаж и доставку.
            И это только сваи. С инженерными коммуникациями «в пакете» все намного сложнее. На все инженерные работы необходим отдельный расчет с учетом индивидуальных особенностей проекта, планируемого режима проживания и ваших пожеланий.
        </blockquote>
        <p>Мы каждый день сталкиваемся с расчетами в которых фигурируют скидки до 40—50% и количество подарков, превышающих количество пунктов тех. задания. Сказок не бывает!
            Мы выбрали для себя другой путь — производим материал, строим дома и помогаем вам подобрать ответственного подрядчика на смежные со строительством работы!
            С компанией LegnoDomus вы с первого дня сотрудничества будете знать за что платите свои деньги!</p>
    </div>
    {% include "services-in-additional.html" %}
</div><!-- additional-services -->