.additional-services

    &__content
        width 1060px
        max-width 100%

    strong
        font-size 24px
        color #000
        font-weight 500
        line-height 35px
        margin-bottom 30px
        display block

        @media (max-width 640px)
            font-size 16px
            line-height 25px

    p
        font-size 18px
        color #000
        font-weight normal
        line-height 28px

        @media (max-width 767px)
            font-size 16px
            line-height 26px

    ul
        list-style-type none
        padding-left 0
        margin-bottom 30px

        li
            font-size 18px
            color #000
            font-weight normal
            line-height 28px
            position relative
            padding-left 23px
            margin-bottom 15px
            &:before
                content ''    
                position absolute
                left 0
                top 8px
                width 10px
                height 10px
                border 3px solid #000
                border-radius 50%

            @media (max-width 767px)
                font-size 16px
                line-height 26px

    a
        color #20b689
        text-decoration underline
        &:hover
            text-decoration none            

    blockquote
        font-size 18px
        color #000
        font-weight normal
        line-height 28px
        padding 20px 30px 15px 30px
        border none
        background-color #efebde        