html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

body

    &.is-overley
        overflow hidden

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    @media (max-width 1769px)
        display block

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

        @media (min-width 1770px)
            margin-left 300px

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

*
    outline none !important

.full-contein
    width 1920px
    max-width 100%
    margin 0 auto

img 
    max-width 100%  
    height auto

h1
    font-size 49px
    color #000
    font-weight 500
    line-height 56px

    @media (max-width 1119px)
        font-size 35px
        line-height 42px

    @media (max-width 640px)
        font-size 25px
        line-height 35px

h2
    font-size 24px
    color #000
    font-weight 500
    line-height 35px
    margin-bottom 10px

h3
    font-size 18px
    color #000
    font-weight 500
    line-height 28px
    margin-bottom 30px

.main-content
    background-color #fff
    position relative
    z-index 4

    @media (min-width 1770px)
        margin-top 777px

    @media (min-width 1001px)
        margin-top 625px    

.btn-default
    font-size 15px
    color #fff
    font-weight 500
    line-height 15px
    text-align center
    padding 18px 20px
    background-color #00ac78   
    border-radius 3px
    border none
    display block
    min-width 240px
    transition background-color .3s, box-shadow .3s
    &.btn-dark
        color #A98567
        background-color rgba(169, 133, 103, 0.3)

        &:hover
            background-color rgba(169, 133, 103, 0.5)

        &:active
            background-color rgba(169, 133, 103, 0.3)
            box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)   

    &.btn-simple
        color #000   
        border 1px solid #000
        box-sizing border-box
        border-radius 3px      
        background-color transparent
        &:hover
            background-color #000

        &:active
            color #fff
            background-color #626262
            border-color #626262
            box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)    

    &:hover
        color #fff
        text-decoration none        
        background-color #04d999

    &:active
        background #00AC78
        box-shadow inset 0px 4px 0px rgba(0, 0, 0, 0.25)

.price-default
    color #000
    font-weight 500
    line-height 18px
    text-align center
    display inline-block
    vertical-align top
    padding 15px 20px
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 3px

    @media (min-width 1770px)
        font-size 18px

    @media (min-width 1000px)
        font-size 16px
        line-height 16px

.contain
    width 1600px + 85px + 85px
    max-width 100%  
    padding-right 85px
    padding-left 85px
    margin 0 auto

    @media (max-width 1769px)
        width 1600px + 125px + 125px
        max-width 100%  
        padding-right 125px
        padding-left 125px

    @media (max-width 1000px)
        width 1600px + 20px + 20px
        max-width 100%  
        padding-right 20px
        padding-left 20px 

.top-line-inner
    padding-top 40px
    padding-bottom 50px
    margin-bottom 50px
    border-bottom 1px solid rgba(0, 0, 0, 0.2)

    &--projects
        margin-bottom 0
        border-bottom 0
        padding-bottom 35px

        @media (max-width 480px)
            padding-bottom 20px
            border-bottom 1px solid rgba(0, 0, 0, 0.2)


    @media (min-width 1770px)
        margin-top 0

    @media (min-width 1200px)
        margin-top 85px

    @media (max-width 1119px)
        margin-top 100px

    @media (max-width 1119px)
        padding-top 20px
        padding-bottom 30px
        margin-bottom 25px
        
    @media (max-width 767px)
        margin-top 80px    
        padding-bottom 15px

    &__section
        display flex    

        @media (max-width 1360px)
            display block

    &__content
        width 825px
        max-width 100%    
        margin-right 25px

.inner-page-desc

    &__section
        font-size 24px
        color #000
        font-weight 500
        line-height 35px
        width 1000px
        max-width 100%  

        @media (max-width 1119px)
            font-size 18px
            line-height 26px

.jq-file
    display flex
    align-items center
    justify-content space-between
    background-color #FFF
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 3px
    height 50px
    margin-bottom 20px    
    cursor pointer
    &:hover
        .jq-file__browse
            background-color #000
            background-image url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V9.99313C0.000136424 10.2585 0.105645 10.513 0.29333 10.7006C0.481016 10.8882 0.735514 10.9935 1.00087 10.9935C1.26623 10.9935 1.52073 10.8882 1.70841 10.7006C1.8961 10.513 2.00161 10.2585 2.00174 9.99313V1.99983H18.004V9.99313C17.9916 10.1314 18.0081 10.2709 18.0525 10.4024C18.0969 10.534 18.1682 10.6548 18.2619 10.7573C18.3556 10.8598 18.4697 10.9417 18.5967 10.9977C18.7238 11.0537 18.8611 11.0827 19 11.0827C19.1389 11.0827 19.2762 11.0537 19.4033 10.9977C19.5303 10.9417 19.6444 10.8598 19.7381 10.7573C19.8318 10.6548 19.9031 10.534 19.9475 10.4024C19.9919 10.2709 20.0084 10.1314 19.996 9.99313V0H0ZM9.99898 5.99555C9.96567 5.99641 9.93244 5.99887 9.89938 6.00305C9.76726 6.01639 9.63912 6.05591 9.52243 6.1193C9.40575 6.1827 9.30286 6.26875 9.21976 6.37234L5.22017 11.3756C5.05718 11.5833 4.98287 11.847 5.01342 12.1092C5.04397 12.3714 5.17691 12.611 5.38328 12.7756C5.58965 12.9402 5.85272 13.0166 6.11517 12.9881C6.37762 12.9597 6.61819 12.8286 6.78446 12.6236L8.99909 9.85439V19.0018C8.99614 19.135 9.01983 19.2674 9.06876 19.3913C9.11768 19.5152 9.19086 19.6281 9.284 19.7233C9.37714 19.8185 9.48837 19.8941 9.61115 19.9458C9.73392 19.9974 9.86578 20.0241 9.99898 20.0241C10.1322 20.0241 10.264 19.9974 10.3868 19.9458C10.5096 19.8941 10.6208 19.8185 10.714 19.7233C10.8071 19.6281 10.8803 19.5152 10.9292 19.3913C10.9781 19.2674 11.0018 19.135 10.9989 19.0018V9.84655L13.2213 12.6236C13.2994 12.7365 13.3999 12.8322 13.5165 12.9045C13.6332 12.9769 13.7635 13.0245 13.8993 13.0443C14.0352 13.0641 14.1736 13.0558 14.3061 13.0197C14.4386 12.9837 14.5622 12.9209 14.6693 12.835C14.7764 12.7491 14.8647 12.6421 14.9286 12.5206C14.9926 12.3991 15.0308 12.2658 15.041 12.1289C15.0512 11.992 15.0331 11.8545 14.9878 11.7249C14.9425 11.5953 14.871 11.4764 14.7778 11.3756L10.7841 6.37234C10.6899 6.25475 10.5704 6.15989 10.4344 6.09497C10.2985 6.03005 10.1496 5.99672 9.99898 5.9974L9.99898 5.99555Z' fill='%23fff'/%3E%3C/svg%3E%0A")

.jq-file__name
    font-size 15px
    color #000
    font-weight 500
    line-height 25px
    padding 12px 15px

.jq-file__browse
    flex 0 0 50px
    width 50px
    max-width 50px
    height 100%
    font-size 0
    border-left 1px solid rgba(0, 0, 0, 0.2)
    background-image url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0V9.99313C0.000136424 10.2585 0.105645 10.513 0.29333 10.7006C0.481016 10.8882 0.735514 10.9935 1.00087 10.9935C1.26623 10.9935 1.52073 10.8882 1.70841 10.7006C1.8961 10.513 2.00161 10.2585 2.00174 9.99313V1.99983H18.004V9.99313C17.9916 10.1314 18.0081 10.2709 18.0525 10.4024C18.0969 10.534 18.1682 10.6548 18.2619 10.7573C18.3556 10.8598 18.4697 10.9417 18.5967 10.9977C18.7238 11.0537 18.8611 11.0827 19 11.0827C19.1389 11.0827 19.2762 11.0537 19.4033 10.9977C19.5303 10.9417 19.6444 10.8598 19.7381 10.7573C19.8318 10.6548 19.9031 10.534 19.9475 10.4024C19.9919 10.2709 20.0084 10.1314 19.996 9.99313V0H0ZM9.99898 5.99555C9.96567 5.99641 9.93244 5.99887 9.89938 6.00305C9.76726 6.01639 9.63912 6.05591 9.52243 6.1193C9.40575 6.1827 9.30286 6.26875 9.21976 6.37234L5.22017 11.3756C5.05718 11.5833 4.98287 11.847 5.01342 12.1092C5.04397 12.3714 5.17691 12.611 5.38328 12.7756C5.58965 12.9402 5.85272 13.0166 6.11517 12.9881C6.37762 12.9597 6.61819 12.8286 6.78446 12.6236L8.99909 9.85439V19.0018C8.99614 19.135 9.01983 19.2674 9.06876 19.3913C9.11768 19.5152 9.19086 19.6281 9.284 19.7233C9.37714 19.8185 9.48837 19.8941 9.61115 19.9458C9.73392 19.9974 9.86578 20.0241 9.99898 20.0241C10.1322 20.0241 10.264 19.9974 10.3868 19.9458C10.5096 19.8941 10.6208 19.8185 10.714 19.7233C10.8071 19.6281 10.8803 19.5152 10.9292 19.3913C10.9781 19.2674 11.0018 19.135 10.9989 19.0018V9.84655L13.2213 12.6236C13.2994 12.7365 13.3999 12.8322 13.5165 12.9045C13.6332 12.9769 13.7635 13.0245 13.8993 13.0443C14.0352 13.0641 14.1736 13.0558 14.3061 13.0197C14.4386 12.9837 14.5622 12.9209 14.6693 12.835C14.7764 12.7491 14.8647 12.6421 14.9286 12.5206C14.9926 12.3991 15.0308 12.2658 15.041 12.1289C15.0512 11.992 15.0331 11.8545 14.9878 11.7249C14.9425 11.5953 14.871 11.4764 14.7778 11.3756L10.7841 6.37234C10.6899 6.25475 10.5704 6.15989 10.4344 6.09497C10.2985 6.03005 10.1496 5.99672 9.99898 5.9974L9.99898 5.99555Z' fill='black'/%3E%3C/svg%3E%0A")
    background-position 50% 55%
    background-size 20px 20px
    background-repeat no-repeat
    transition background .3s

.jq-checkbox
    width 20px
    height 20px
    background-color #FFF
    border 1px solid rgba(0, 0, 0, 0.2)
    margin-right 10px
    &.checked

        .jq-checkbox__div
            opacity 1

.jq-checkbox__div
    width 18px
    height 18px
    border 1px solid #fff
    background-color #00AC78
    opacity 0
    position relative
    transition opacity .3s
    &:before
        content ''
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 10px
        height 9px
        background-image url("data:image/svg+xml,%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.707107' y1='3.29289' x2='3.70711' y2='6.29289' stroke='white' stroke-width='2'/%3E%3Cpath d='M2.29297 6.29297L7.5 1.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A")
        background-repeat no-repeat
        background-size contain

.jq-radio
    flex 0 0 20px
    width 20px
    max-width 20px
    height 20px
    background #FFF
    border 1px solid rgba(0, 0, 0, 0.2)
    box-sizing border-box
    border-radius 10px    
    margin-right 15px
    display flex
    align-items center
    justify-content center
    
    &.checked

        .jq-radio__div
            background-color #00AC78

.jq-radio__div
    width 12px
    height 12px
    border-radius 50%
    transition background-color .3s

.jq-selectbox
    width 100%
    
    &.dropdown
        .jq-selectbox__trigger-arrow
            transform rotate(180deg)

.jq-selectbox__select
    width 100%
    padding 12px 15px
    background #FFF
    border 1px solid rgba(0, 0, 0, 0.2)
    box-sizing border-box
    border-radius 3px
    cursor pointer

.jq-selectbox__select-text
    font-size 15px
    color #000
    font-weight 500
    line-height 25px

.jq-selectbox__dropdown
    width 100%
    background #FFF
    border 1px solid rgba(0, 0, 0, 0.2)

    ul
        padding-left 0
        margin-bottom 0

        li
            font-size 15px
            color #000
            font-weight 500
            line-height 25px
            padding 12px 15px
            cursor pointer
            transition background-color .3s
            &:hover
                background-color rgba(0,0,0,0.1)

.jq-selectbox__trigger
    position absolute
    top 20px
    right 15px

    .jq-selectbox__trigger-arrow
        width 12px
        height 8px
        background-image url("data:image/svg+xml,%3Csvg width='21' height='13' viewBox='0 0 21 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.707107' y1='1.29289' x2='9.70711' y2='10.2929' stroke='black' stroke-width='2'/%3E%3Cline x1='19.7071' y1='1.70711' x2='9.70711' y2='11.7071' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A")
        background-repeat no-repeat
        background-size contain
        transition transform .3s

textarea
    font-size 15px
    color #000
    font-weight 500
    line-height 15px
    width 100%
    min-height 120px
    padding-top 15px
    padding-right 15px
    padding-left 15px
    margin-bottom 20px
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 3px    

    &::placeholder
        font-size 15px
        color #000
        font-weight 500
        line-height 25px